@import url("//hello.myfonts.net/count/27a8e2");

  
@font-face {font-family: 'JansonURW-Reg';src: url('./fonts/27A8E2_0_0.eot');src: url('./fonts/27A8E2_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_0_0.woff') format('woff'),url('./fonts/27A8E2_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURW-Med';src: url('./fonts/27A8E2_1_0.eot');src: url('./fonts/27A8E2_1_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_1_0.woff') format('woff'),url('./fonts/27A8E2_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURW-BolIta';src: url('./fonts/27A8E2_2_0.eot');src: url('./fonts/27A8E2_2_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_2_0.woff') format('woff'),url('./fonts/27A8E2_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURW-Lig';src: url('./fonts/27A8E2_3_0.eot');src: url('./fonts/27A8E2_3_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_3_0.woff') format('woff'),url('./fonts/27A8E2_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURW-MedIta';src: url('./fonts/27A8E2_4_0.eot');src: url('./fonts/27A8E2_4_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_4_0.woff') format('woff'),url('./fonts/27A8E2_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURWSC-Reg';src: url('./fonts/27A8E2_5_0.eot');src: url('./fonts/27A8E2_5_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_5_0.woff') format('woff'),url('./fonts/27A8E2_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURW-Bol';src: url('./fonts/27A8E2_6_0.eot');src: url('./fonts/27A8E2_6_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_6_0.woff') format('woff'),url('./fonts/27A8E2_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURW-RegIta';src: url('./fonts/27A8E2_7_0.eot');src: url('./fonts/27A8E2_7_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_7_0.woff') format('woff'),url('./fonts/27A8E2_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'JansonURW-LigIta';src: url('./fonts/27A8E2_8_0.eot');src: url('./fonts/27A8E2_8_0.eot?#iefix') format('embedded-opentype'),url('./fonts/27A8E2_8_0.woff') format('woff'),url('./fonts/27A8E2_8_0.ttf') format('truetype');}


@font-face {
    font-family: 'berthold_bodoni_probold';
    src: url('./fonts/berthbodonipro-bold-webfont.eot');
    src: url('./fonts/berthbodonipro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-bold-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-bold-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-bold-webfont.svg#berthold_bodoni_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berthold_bodoni_proBdIt';
    src: url('./fonts/berthbodonipro-bolditalic-webfont.eot');
    src: url('./fonts/berthbodonipro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-bolditalic-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-bolditalic-webfont.svg#berthold_bodoni_proBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berthold_bodoni_pro_regularIt';
    src: url('./fonts/berthbodonipro-italic-webfont.eot');
    src: url('./fonts/berthbodonipro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-italic-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-italic-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-italic-webfont.svg#berthold_bodoni_pro_regularIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berthold_bodoni_prolight';
    src: url('./fonts/berthbodonipro-light-webfont.eot');
    src: url('./fonts/berthbodonipro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-light-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-light-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-light-webfont.svg#berthold_bodoni_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berthold_bodoni_proLtIt';
    src: url('./fonts/berthbodonipro-lightitalic-webfont.eot');
    src: url('./fonts/berthbodonipro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-lightitalic-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-lightitalic-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-lightitalic-webfont.svg#berthold_bodoni_proLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berthold_bodoni_promedium';
    src: url('./fonts/berthbodonipro-medium-webfont.eot');
    src: url('./fonts/berthbodonipro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-medium-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-medium-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-medium-webfont.svg#berthold_bodoni_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'berthold_bodoni_pro_regularRg';
    src: url('./fonts/berthbodonipro-regular-webfont.eot');
    src: url('./fonts/berthbodonipro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-regular-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-regular-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-regular-webfont.svg#berthold_bodoni_pro_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'berthold_bodoni_pro_regularIt';
    src: url('./fonts/berthbodonipro-italic-webfont.eot');
    src: url('./fonts/berthbodonipro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-italic-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-italic-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-italic-webfont.svg#berthold_bodoni_pro_regularIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'berthold_bodoni_proMdIt';
    src: url('./fonts/berthbodonipro-mediumitalic-webfont.eot');
    src: url('./fonts/berthbodonipro-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/berthbodonipro-mediumitalic-webfont.woff') format('woff'),
         url('./fonts/berthbodonipro-mediumitalic-webfont.ttf') format('truetype'),
         url('./fonts/berthbodonipro-mediumitalic-webfont.svg#berthold_bodoni_proMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LubalinForIbm-Demi';
    src: url('./fonts/lubalinforibm-demi-webfont.eot');
    src: url('./fonts/lubalinforibm-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lubalinforibm-demi-webfont.woff') format('woff'),
         url('./fonts/lubalinforibm-demi-webfont.ttf') format('truetype'),
         url('./fonts/lubalinforibm-demi-webfont.svg#LubalinforIBMDemi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ITCLubalinGraphStdBook';
    src: url('./fonts/lubalingraphstd-book-webfont.eot');
    src: local('☺'),
         url('./fonts/lubalingraphstd-book-webfont.woff') format('woff'),
         url('./fonts/lubalingraphstd-book-webfont.ttf') format('truetype'),
         url('./fonts/lubalingraphstd-book-webfont.svg#ITCLubalinGraphStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelvBoldIBM';
    src: url('./fonts/helvneueforibm-bold-webfont.eot');
    src: local('☺'),
         url('./fonts/helvneueforibm-bold-webfont.woff') format('woff'),
         url('./fonts/helvneueforibm-bold-webfont.ttf') format('truetype'),
         url('./fonts/helvneueforibm-bold-webfont.svg#HelvBoldIBM') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelvLightIBM';
    src: url('./fonts/helvneueforibm-light-webfont.eot');
    src: local('☺'),
         url('./fonts/helvneueforibm-light-webfont.woff') format('woff'),
         url('./fonts/helvneueforibm-light-webfont.ttf') format('truetype'),
         url('./fonts/helvneueforibm-light-webfont.svg#HelvLightIBM') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'HelvRegular';
    src: url('./fonts/helveticaneue-webfont.eot');
    src: local('☺'),
         url('./fonts/helveticaneue-webfont.woff') format('woff'),
         url('./fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('./fonts/helveticaneue-webfont.svg#HelvRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

