.ibm-12-col-grid *[class*=ibmcol] {
	margin-left: 0%;
	-webkit-transition: screen 200ms linear;
}

.ibm-12-col-grid .demogrid {
	padding-top: 20px;
}

.ibm-12-col-grid .demogrid *[class*=ibmcol] {
	height: 100px;
	margin-bottom: 20px;
	background: #000;
}

.ibm-12-col-grid .demogrid *[class*=ibmcol]:after {
	content: attr(class);
	display: block;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 100px;
}

.ibm-12-col-grid .bleed-left {
	margin-left: 0;
}

.ibm-12-col-grid .float-left {
	float: left;
}

.ibm-12-col-grid .float-right {
	float: right;
	margin-left: 0;
	margin-right: 11%;
}

.ibm-12-col-grid .float-right.bleed-right {
	margin-right: 0;
}

.ibm-12-col-grid figure.float-right {
	text-align: right;
}

.ibm-12-col-grid .ibmcol-1 {
	width: 6.12%;
}

.ibm-12-col-grid .ibmcol-1.bleed-left {
	width: 8.12%;
}

@media screen and (min-width : 641px)
and (max-width : 768px) {

	.ibm-12-col-grid .ibmcol-1 {
		width: 12.26%;
	}

	.ibm-12-col-grid .ibmcol-1.bleed-left {
		width: 20.59%;
	}

}

/* 4 Col */
.ibm-12-col-grid .ibmcol-4 {
	width: 30.48% !important;
}

.ibm-12-col-grid .ibmcol-4.bleed-right {
	width: 33% !important;
	max-width:33%;
}

@media all and (max-width : 768px) {

	.ibm-12-col-grid .ibmcol-4.bleed-right {
		/*width: 26%;*/
		width: 38% !important;
		max-width:38%;
	}

}



/* 5 Col */
.ibm-12-col-grid .ibmcol-5 {
	width: 40.5%;
}

.ibm-12-col-grid .ibmcol-5.bleed-left {
	width:40.6%
}
.ibm-12-col-grid .ibmcol-5.bleed-right {
	width: 40.6%;
}
@media screen and (min-width : 641px) and (max-width : 768px) {

	.ibm-12-col-grid .ibmcol-5 {
		width: 30.03%;
	}

	.ibm-12-col-grid .ibmcol-5.bleed-left,
	.ibm-12-col-grid .ibmcol-5.bleed-right {
		width: 37.8%;
	}

	.ibm-12-col-grid .ibmcol-5.bleed-left.text-block{
		width:100%;
	}
}


/* 6 Col */
	.ibm-12-col-grid .ibmcol-6 {
		width:46.72%;
	}

	.ibm-12-col-grid .ibmcol-6.float-left {
		margin-left:2%;
	}

@media screen and (min-width : 641px) and (max-width : 768px) {

	.ibm-12-col-grid .ibmcol-6 { width: 47.7%;}
	.ibm-12-col-grid .ibmcol-6.float-left {
		margin-left:3%;
	}
}



/* 7 Col */
.ibm-12-col-grid .ibmcol-7 {
	width: 54.84%;
}

.ibm-12-col-grid .ibmcol-7.float-right {
	margin-right:2%;
}


@media all and (max-width : 768px) {
	.ibm-12-col-grid .ibmcol-7 {
		width: 44.6%;
	}

	.ibm-12-col-grid .ibmcol-7.bleed-left,
	.ibm-12-col-grid .ibmcol-7.bleed-right {
		width: 73.5%;
	}

}

.ibm-12-col-grid .ibmcol-10 {
	width: 79%;
	margin-left:10.12%;
}


.ibm-12-col-grid .ibmcol-full {
	width: 100% !important;
	margin-left: 0;
}

@media screen and (min-width : 641px) and (max-width : 768px) {

	.ibm-12-col-grid *[class*=ibmcol]:not(.ibmcol-full):not(.bleed-left) {
		margin-left: 6%;
	}

	.ibm-12-col-grid *[class*=ibmcol].float-right:not(.bleed-right) {
		margin-left: 0;
		margin-right: 3%;
	}

	.ibm-12-col-grid *[class*=ibmcol]:not(.ibmcol-full):not(.bleed-left):not(.bleed-right):first-child {
		margin-left: 8.33%;
	}

}

@media screen and (max-width: 640px) {

	.ibm-12-col-grid *[class*=ibmcol]:not(.ibmcol-full):not(.bleed-left),
	.ibm-12-col-grid *[class*=ibmcol]:not(.ibmcol-full):not(.bleed-left):first-child{
		width: 88%;
		margin-left: 6%;
	}

	.ibm-12-col-grid *[class*=ibmcol].ibmcol-full,
	.ibm-12-col-grid *[class*=ibmcol].bleed-left,
	.ibm-12-col-grid *[class*=ibmcol].bleed-right
	 {
		width: 100%;
		min-width:100%;
		margin-left: 0;
	}

	 .bleed-right {
		width: 100%;
		min-width:100%;
		margin-right: 0;
		margin-left:0%;
	}

	.ibm-12-col-grid *.float-right,
	.ibm-12-col-grid *.float-left {
		float: none;
	}

	.bleed-right {
		width: 100%;
		max-width:100%;
		margin-left: 0;
	}
	
	figure.bleed-right{
		margin:0%;
		width:100%;
		max-width:100%;
	}

}






/* GRID OVERLAY */

.ibm-12-col-grid .grid-view {
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	max-width:980px;
	margin:0 auto;
	height: 100%;
	background: rgba(255,255,0,.2);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: screen 200ms linear;
}

.ibm-12-col-grid .IBMSE-container.grid .grid-view {
	opacity: 1;
}

.ibm-12-col-grid .grid-view .col {
	display: inline-block;
	width: 6.12%;
	height: 100%;
	margin-left: 2%;
	background: rgba(255,0,0,.2);
	-webkit-transition: screen 200ms linear;
}

@media screen and (max-width: 768px) {

	.ibm-12-col-grid .grid-view .col {
		width: 12.26%;
		margin-left: 5.51%;
		background: rgba(255,255,0,.2);
	}

	.ibm-12-col-grid .grid-view .col:first-child {
		margin-left: 8.33%;
	}
}

@media screen and (max-width: 640px) {

	.ibm-12-col-grid .grid-view .col {
		display: none;
	}

	.ibm-12-col-grid .grid-view .col:first-child {
		display: block;
		width: 88%;
		margin-left: 6%;
		background: rgba(255,0,255,.2);
	}

}