body {
  -webkit-backface-visibility: false;
  -moz-backface-visibility: false;
  -ms-backface-visibility: false;
  -o-backface-visibility: false;
  backface-visibility: false;
}

.ie8 p, .ie8 span, .ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4 {
  background: transparent !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)" !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF) !important;
  zoom: 1;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.intro-title-wrapper {
  padding: 20px 0 0 28px;
  height: auto;
}
@media (min-width: 580px) and (max-width: 800px) {
  .intro-title-wrapper {
    padding: 50px 0 0 60px;
    height: 300px;
  }
}
@media (min-width: 800px) {
  .intro-title-wrapper {
    padding: 75px 0 0 99px;
    height: 300px;
  }
}

.intro-title {
  font-family: "LubalinForIbm-Demi";
  font-weight: normal;
  line-height: 1.1em;
  letter-spacing: 2px;
  font-size: 39px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .intro-title {
    font-size: 60px;
    display: none;
  }
}
@media (min-width: 800px) {
  .intro-title {
    white-space: nowrap;
    font-size: 95px;
    line-height: 95px;
    display: none;
  }
}

.ie8 .animation-holder .intro-title {
  height: 300px;
}

.intro-title-mobile {
  display: block;
}
@media (min-width: 580px) and (max-width: 800px) {
  .intro-title-mobile {
    display: none;
  }
}
@media (min-width: 800px) {
  .intro-title-mobile {
    display: none;
  }
}

.ie8 .animation-holder .intro-title-mobile {
  display: none;
}

.intro-title-desktop {
  display: none;
}
@media (min-width: 580px) and (max-width: 800px) {
  .intro-title-desktop {
    display: none;
    font-size: 60px;
    line-height: 1em;
  }
}
@media (min-width: 800px) {
  .intro-title-desktop {
    display: none;
    white-space: nowrap;
    font-size: 95px;
    line-height: 1em;
  }
}

.animation-holder {
  -webkit-backface-visibility: false;
  -moz-backface-visibility: false;
  -ms-backface-visibility: false;
  -o-backface-visibility: false;
  backface-visibility: false;
  position: relative;
  color: white;
  background: #1fc1e8 url(../img/animation-area/bg.jpg) 0 580px repeat-x;
  overflow: hidden;
  min-width: 320px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder {
    background: #1fc1e8 url(../img/animation-area/bg.jpg) 0 520px repeat-x;
    height: 2000px;
  }
}
@media (min-width: 800px) {
  .animation-holder {
    background: #1fc1e8 url(../img/animation-area/bg.jpg) 0 660px repeat-x;
    height: 2200px;
  }
}

.ie8 .animation-holder {
  height: 2200px;
}

.animation-holder .bg {
  -webkit-backface-visibility: false;
  -moz-backface-visibility: false;
  -ms-backface-visibility: false;
  -o-backface-visibility: false;
  backface-visibility: false;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
}

.animation-holder .bg img {
  -webkit-backface-visibility: false;
  -moz-backface-visibility: false;
  -ms-backface-visibility: false;
  -o-backface-visibility: false;
  backface-visibility: false;
  width: 100%;
}

.animation-holder .animation-item {
  -webkit-backface-visibility: false;
  -moz-backface-visibility: false;
  -ms-backface-visibility: false;
  -o-backface-visibility: false;
  backface-visibility: false;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .animation-item {
    position: absolute;
    display: none;
  }
}
@media (min-width: 800px) {
  .animation-holder .animation-item {
    position: absolute;
    display: none;
  }
}

.ie8 .animation-holder .animation-item {
  position: absolute;
}

.touch .animation-holder .animation-item {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.animation-holder .cloud-header {
  display: none;
  width: 162px;
  height: 86px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-header {
    -webkit-transform: translateX(1500px);
    -moz-transform: translateX(1500px);
    -ms-transform: translateX(1500px);
    -o-transform: translateX(1500px);
    transform: translateX(1500px);
    margin: 207px 20px;
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-header {
    -webkit-transform: translateX(1500px);
    -moz-transform: translateX(1500px);
    -ms-transform: translateX(1500px);
    -o-transform: translateX(1500px);
    transform: translateX(1500px);
    margin: 210px 170px;
  }
}

.ie8 .animation-holder .cloud-header {
  margin: 210px 170px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block;
}

@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-1 {
    margin-top: 188px;
    width: 319px;
    height: 307px;
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-1 {
    margin-top: 260px;
    width: 435px;
    height: 366px;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

.ie8 .animation-holder .cloud-1 {
  margin-top: 260px;
  width: 435px;
  height: 366px;
}

.animation-holder .cloud-2 {
  display: none;
  z-index: 5;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-2 {
    margin-top: 450px;
    width: 361px;
    height: 625px;
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-2 {
    margin-top: 380px;
    width: 425px;
    height: 701px;
  }
}

.ie8 .animation-holder .cloud-2 {
  margin-top: 380px;
  width: 425px;
  height: 701px;
}

.animation-holder .euro {
  display: none;
  z-index: 2000;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .euro {
    display: none;
  }
}
@media (min-width: 800px) {
  .animation-holder .euro {
    width: 97px;
    height: 87px;
    margin-top: 718px;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

.ie8 .animation-holder .euro {
  width: 97px;
  height: 87px;
  margin-top: 718px;
}

.animation-holder .cloud-overlay-white-1 {
  width: 400px;
  height: 394;
  z-index: 3;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-overlay-white-1 {
    margin-top: 614px;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-overlay-white-1 {
    margin-top: 760px;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

.ie8 .animation-holder .cloud-overlay-white-1 {
  margin-top: 760px;
}

.animation-holder .cloud-overlay-white-2 {
  display: none;
  z-index: 11;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-overlay-white-2 {
    margin-top: 860px;
    width: 463px;
    height: 283px;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-overlay-white-2 {
    margin-top: 990px;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

.ie8 .animation-holder .cloud-overlay-white-2 {
  margin-top: 990px;
}

.animation-holder .cloud-small-1 {
  z-index: 20;
  position: absolute;
  margin: 750px 0 0 80px;
  width: 293px;
  height: 136px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-small-1 {
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
    margin: 780px 0 0 0;
    display: none;
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-small-1 {
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    transform: translateX(-1000px);
    margin-top: 850px;
  }
}

.ie8 .animation-holder .cloud-small-1 {
  margin-top: 850px;
}

.animation-holder .cloud-small-3 {
  z-index: 20;
  display: none;
  width: 293px;
  height: 136px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-small-3 {
    margin-top: 1210px;
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
    width: 293px;
    height: 136px;
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-small-3 {
    margin-top: 1330px;
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}

.ie8 .animation-holder .cloud-small-3 {
  margin-top: 1330px;
}

.animation-holder .cloud-4 {
  width: 499px;
  height: 274px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .cloud-4 {
    width: 468px;
    height: 257px;
    margin-top: 1350px;
  }
}
@media (min-width: 800px) {
  .animation-holder .cloud-4 {
    width: 1000px;
    height: 337px;
    margin-top: 1390px;
    -webkit-transform: translateX(-1500px);
    -moz-transform: translateX(-1500px);
    -ms-transform: translateX(-1500px);
    -o-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
}

.ie8 .animation-holder .cloud-4 {
  width: 1000px;
  height: 337px;
  margin-top: 1390px;
}

.animation-holder .office {
  z-index: 1;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .office {
    width: 300px;
    height: 220px;
    margin-top: 1690px;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
@media (min-width: 800px) {
  .animation-holder .office {
    width: 487px;
    height: 357px;
    margin-top: 1730px;
    -webkit-transform: translateX(3000px);
    -moz-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    -o-transform: translateX(3000px);
    transform: translateX(3000px);
  }
}

.ie8 .animation-holder .office {
  width: 487px;
  height: 357px;
  margin-top: 1730px;
}

.animation-holder .cloud-overlay-blue {
  display: none;
}
@media (min-width: 800px) {
  .animation-holder .cloud-overlay-blue {
    margin-top: 1770px;
    width: 450px;
    height: 700px;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

.ie8 .animation-holder .cloud-overlay-blue {
  margin-top: 1770px;
  width: 450px;
  height: 700px;
}

.animation-holder .animation-text {
  font-size: 18px;
  line-height: 27px;
  width: 88%;
  margin: 10px auto;
  z-index: 20;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .animation-text {
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 800px) {
  .animation-holder .animation-text {
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    font-size: 28px;
    line-height: 35px;
  }
}

.animation-holder .animate-text {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.animation-holder .text-on {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.ie8 .animation-holder .animation-text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.touch .animation-text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.animation-holder .text1 {
  margin: 0 auto;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .text1 {
    width: 48%;
    margin: 332px 0 0 0;
    left: auto;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@media (min-width: 800px) {
  .animation-holder .text1 {
    margin: 282px 0 0 0;
    width: 41%;
  }
}

.ie8 .animation-holder .text1 {
  margin: 282px 0 0 0;
  width: 41%;
}

@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .text2 {
    margin-top: 500px;
    width: 48%;
  }
}
@media (min-width: 800px) {
  .animation-holder .text2 {
    margin-top: 605px;
    width: 32%;
  }
}

.ie8 .animation-holder .text2 {
  margin-top: 605px;
  width: 32%;
}

.animation-holder .text3 {
  font-family: "LubalinForIbm-Demi";
  font-weight: normal;
  line-height: 1.1em;
  color: #3a99ba;
  margin-top: -70px;
  font-size: 22px;
  line-height: 28px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .text3 {
    margin-top: 990px;
    width: 90%;
    font-size: 28px;
    line-height: 35px;
  }
}
@media (min-width: 800px) {
  .animation-holder .text3 {
    margin-top: 1060px;
    width: 73%;
    font-size: 35px;
    line-height: 40px;
  }
}

.ie8 .animation-holder .text3 {
  margin-top: 1060px;
  width: 73%;
  font-size: 35px;
  line-height: 40px;
}

.animation-holder .text3b {
  color: #3b4345;
  padding-bottom: 25px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .text3b {
    margin-top: 1120px;
    width: 88%;
    padding-bottom: 0;
  }
}
@media (min-width: 800px) {
  .animation-holder .text3b {
    margin-top: 1200px;
    width: 73%;
    padding-bottom: 0;
  }
}

.ie8 .animation-holder .text3b {
  margin-top: 1200px;
  width: 73%;
  padding-bottom: 0;
}

.animation-holder .text4 {
  color: #3b4345;
  padding-top: 25px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .text4 {
    margin-top: 1430px;
    width: 48%;
    padding-top: 0;
  }
}
@media (min-width: 800px) {
  .animation-holder .text4 {
    margin-top: 1500px;
    width: 38%;
    padding-top: 0;
  }
}

.ie8 .animation-holder .text4 {
  margin-top: 1500px;
  width: 38%;
  padding-top: 0;
}

.animation-holder .text5 {
  color: #3b4345;
  padding-bottom: 50px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-holder .text5 {
    margin-top: 1680px;
    width: 48%;
  }
}
@media (min-width: 800px) {
  .animation-holder .text5 {
    margin-top: 1780px;
    width: 55%;
  }
}

.ie8 .animation-holder .text5 {
  margin-top: 1780px;
  width: 55%;
}

.animation-span-title {
  font-family: "LubalinForIbm-Demi";
  font-weight: normal;
  line-height: 1.1em;
  color: #3a99ba;
  font-size: 20px;
}
@media (min-width: 580px) and (max-width: 800px) {
  .animation-span-title {
    font-size: 22px;
  }
}
@media (min-width: 800px) {
  .animation-span-title {
    font-size: 35px;
  }
}
