/* 20130529 1505 */
/*
 * v17 mobile stylesheet used on m.ibm.com for v17 pages
 * Contact: Mobile Webmaster/Watson/IBM
 */
html, body {
	margin:0px;
	padding:0px;
	font-family:Arial, sans-serif;
	overflow:auto;
}
#ibm-masthead {
	background:#000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');
	background:-webkit-gradient(linear, left top, left bottom, from(#595C64), to(#1B1B1C));
	background:-moz-linear-gradient(top, #595C64, #1B1B1C);
	border-top:1px solid #999;
	clear:both;
}
#ibm-search-module {
	background:#02416B;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#02416B', endColorstr='#5582BC');
	background:-webkit-gradient(linear, left top, left bottom, from(#02416B), to(#5582BC));
	background:-moz-linear-gradient(top, #02416B, #5582BC);
	background:-o-linear-gradient(top, #02416B, #5582BC);
	border-top:1px solid #4978B1;
	border-bottom:2px solid #4978B1;
	display:none;
}
#ibm-search-form #ibm-search {
	display:none;
}
input#q {
	padding:5px 0;
	border:1px solid #666;
	font-size:1.1em;
	color:#666;
	width:100%;
}
#ibm-universal-nav {
	clear:both;
}
#ibm-unav-links {
	padding:7px 15px;
	background:#000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');
	background:-webkit-gradient(linear, left top, left bottom, from(#595C64), to(#1B1B1C));
	background:-moz-linear-gradient(top, #595C64, #1B1B1C);
	background:-o-linear-gradient(top, #595C64, #1B1B1C);
}
#ibm-home a {
	background:url(//1.www.s81c.com/i/v17/icons/m-sprite.png) no-repeat 0 0;
	display:block;
	color:transparent;
	z-index:10;
	width:43px;
	height:20px;
}
#ibm-search-form {
	padding:1px 15px;
}
#ibm-menu-links {
	background:#02416B;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#02416B', endColorstr='#5582BC');
	background:-webkit-gradient(linear, left top, left bottom, from(#02416B), to(#5582BC));
	background:-moz-linear-gradient(top, #02416B, #5582BC);
	background:-o-linear-gradient(top, #02416B, #5582BC);
	border-top:1px solid #4978B1;
	border-bottom:2px solid #4978B1;
	padding:0px 15px;
	display:none;
}
#ibm-menu-links li {
	padding:10px 0;
	background:none;
}
#ibm-menu-links a {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:1.5em;
	font-weight:100;
	-webkit-font-smoothing:antialiased;
	color:#FFF;
	display:block;
	text-decoration:none;
}
#ibm-mobile-options {
	position:absolute;
	right:0px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	top:1px;
}
#ibm-mobile-options li {
	float:left;
	list-style-type:none;
}
#ibm-mobile-options li a {
	display:block;
	color:transparent;
	width:34px;
	height:34px;
	cursor:pointer;
}
#ibm-mobile-options li#ibm-search-trigger {
	background:url(//1.www.s81c.com/i/v17/icons/m-sprite.png) no-repeat 0 -161px;
}
#ibm-mobile-options #ibm-menu-trigger a {
	background:url(//1.www.s81c.com/i/v17/icons/m-sprite.png) no-repeat 5px -116px;
}
#ibm-mobile-options #ibm-search-trigger a {
	background:url(//1.www.s81c.com/i/v17/icons/m-sprite.png) no-repeat 5px -36px;
}
#ibm-content {
	padding:0px;
	clear:both;
}
#ibm-content-body {
	padding:0px;
	margin:0px 10px;
	clear:both;
}
.ibm-access {
	display:none;
}
ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
div#ibm-page-tools a#ibm-default-text {
	padding-top:4px;
	padding-bottom:1px;
}
div#ibm-page-tools a#ibm-large-text {
	font-size:1.3em;
}
#ibm-footer {
	background:#000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');
	background:-webkit-gradient(linear, left top, left bottom, from(#595C64), to(#1B1B1C));
	background:-moz-linear-gradient(top, #595C64, #1B1B1C);
	background:-o-linear-gradient(top, #595C64, #1B1B1C);
	border-top:1px solid #FFF;
	clear:both;
	color:#CCC;
	margin:0px;
}
#ibm-footer ul {
	margin: 0px;
	padding: 10px 10px 40px 20px;
}
#ibm-footer li {
	background:none;
	padding: 9px;
	float: left;
}
#ibm-footer li a {
	height:30px;
	display:block;
}
#ibm-footer li a:link,#ibm-footer li a:visited {
	color:#FFF;
	text-decoration:none;
}
