@media only screen and (min-width: 0px) and (max-width: 480px) {

	.ibm-landing-page#ibm-top {
		margin-top: 0px !important;
		min-width: 320px;
	}

	.ibm-landing-page #ibm-masthead {
		min-width: 100%;
		position: relative;
	}
	
	.ibm-landing-page #ibm-universal-nav {
		min-width: 100%;
		height: 35px !important;
		}

		.ibm-landing-page #ibm-universal-nav li#ibm-home {
			height: 30px !important;
			}
		.ibm-landing-page #ibm-universal-nav li#ibm-home a {
			background-position: 0px -98px;
			height: 30px !important;
			}
		.ibm-landing-page #ibm-universal-nav #ibm-menu-links {
			display: none;
			}

		.ibm-landing-page #ibm-search-form {
			margin: 4px 40px 0px 1px;
			}

	.ibm-landing-page #ibm-footer-module {
		display: none;
		}

}