// colors ============================================



// !link colors
$linkColor : #00649D;
$linkColorHover : #05386B;
$linkColorVisited : #745285;


// !IBM Colors

$yellow-1	:#FFE14F;
$yellow-2	:#FFCF01;
$yellow-3	:#FDB813;
$yellow-4	:#C5932D;

$orange-1	:#F19027;
$orange-2	:#DE731C;
$orange-3	:#D8471B;
$orange-4	:#813117;

$red-1		:#F04E37;
$red-2		:#D9182C;
$red-3		:#A91124;
$red-4		:#A91124;

$pink-1		:#F389AF;
$pink-2		:#EE3D96;
$pink-3		:#BA006E;
$pink-4		:#8C0052;

$purple-1	:#AB1A86;
$purple-2	:#7F1C7D;
$purple-3	:#3B0256;
$purple-4	:#28003E;

$blue-1 	:#82D1F5;
$blue-2 	:#00B0DA;
$blue-3 	:#00B2EF;
$blue-4 	:#008ABF;
$blue-5 	:#00649D;
$blue-6 	:#003F69;
$blue-7 	:#004266;
$blue-8 	:#001934;

$teal-1		:#00A6A0;
$teal-1		:#007670;
$teal-1		:#006058;
$teal-1		:#00443D;

$green-1	:#8CC63F;
$green-2	:#17AF4B;
$green-3	:#008A52;
$green-4	:#00512B;

$olive-1	:#A5A215;
$olive-2	:#838329;
$olive-3	:#594F13;
$olive-4	:#3C3900;


$ibmblue	:#4982c3;

// !Monochromatic HEX

$white 		:#FFFFFF;
$gray-10	:#E5E5E5;
$gray-20	:#CCCCCC;
$gray-30	:#B0B0B0;
$gray-40	:#999999;
$gray-50	:#7F7F7F;
$gray-60	:#666666;
$gray-70	:#4C4C4C;
$gray-80	:#333333;
$gray-90	:#191919;
$black		:#000000;



// !Monochromatic RGBa

$w10 : rgba(255,255,255,.10);
$w20 : rgba(255,255,255,.20);
$w25 : rgba(255,255,255,.25);
$w30 : rgba(255,255,255,.30);
$w50 : rgba(255,255,255,.50);
$w75 : rgba(255,255,255,.75);
$w90 : rgba(255,255,255,.90);

$k00 : rgba(0,0,0,.0);
$k01 : rgba(0,0,0,.01);
$k02 : rgba(0,0,0,.02);
$k03 : rgba(0,0,0,.03);
$k05 : rgba(0,0,0,.05);
$k10 : rgba(0,0,0,.10);
$k20 : rgba(0,0,0,.20);
$k25 : rgba(0,0,0,.25);
$k40 : rgba(0,0,0,.40);
$k50 : rgba(0,0,0,.50);
$k65 : rgba(0,0,0,.50);
$k75 : rgba(0,0,0,.50);
$k75 : rgba(0,0,0,.75);
$k80 : rgba(0,0,0,.80);
$k85 : rgba(0,0,0,.85);
$k85 : rgba(0,0,0,.85);
$k90 : rgba(0,0,0,.90);
$k95 : rgba(0,0,0,.95);


// !Code highlighting variables

$background:					#f8f8f8 !default;

$line_alt1_background:			$background !default;
$line_alt2_background:			$background !default;

$line_highlighted_background:	#e0e0e0 !default;
$line_highlighted_number:		black !default;

$gutter_text:					#afafaf !default;
$gutter_border_color:			#6ce26c !default;
$gutter_border:					0px solid $gutter_border_color !default;

$toolbar_collapsed_a:			#00f !default;
$toolbar_collapsed_a_hover:		#f00 !default;
$toolbar_collapsed_background:	#fff !default;
$toolbar_collapsed_border:		1px solid $gutter_border_color !default;

$toolbar_a:						#fff !default;
$toolbar_a_hover:				#000 !default;
$toolbar_background:			$gutter_border_color !default;
$toolbar_border:				none !default;

$code_plain:					black !default;
$code_comments:					#009e73 !default;
$code_string:					#D55061 !default;
$code_keyword:					#04527F !default;
$code_preprocessor:				gray !default;
$code_variable:					#aa7700 !default;
$code_value:					#009900 !default;
$code_functions:				#ff1493 !default;
$code_constants:				#0066cc !default;
$code_script:					$code_keyword !default;
$code_script_background:		none !default;
$code_color1:					gray !default;
$code_color2:					#ff1493 !default;
$code_color3:					red !default;

$caption_color:					$code_plain !default;

