html.m-menu-open #m-wrap {
  overflow: hidden;    
}

#m-open-link {
  display: none;
  position: absolute;
  right: 0px;
}

#m-open-link a {
  display: block;
  text-indent: -999em;
  position: relative;
  color: #FFF;
  text-decoration: none;
  line-height: 30px;
  padding: 0 40px;
}

#m-open-link a:before {
  position: absolute;
  top: 4px;
  right: 20px;
  width: 18px;
  height: 3px;
  box-shadow: 0 6px #FFF, 0 12px #FFF, 0 18px #FFF;
  content: '';
}

.m-shift {
  /* Allows mobile menu to scroll vertically when its content is taller than the viewport. */
  height: 100%;
}


/*
 * Mobile search box
 */

#m-search-module {
  position: absolute;
  z-index: 10;
}

#m-search {
  background: url(#{$imagePath}/i/icons/search.png) 0px 3px no-repeat;
  width: 24px;
  height: 21px;
  position: absolute;
  top: 8px;
  right: 5px;
  color: transparent;
  border: 0 none;
  text-align: right;
  text-indent: -999em;
  cursor: pointer;
}

input#m-q {
  font-family: $defaultFont-dbcs;
  font-size: 14px;
  line-height: 14px;
  @include box-shadow(0 1px 0 #555);
  border: $mSearchBoxBorder solid #000;
  padding: 0 30px 0 10px;
  background: #0E0E0E;  
  @include background-gradient(background,(top, rgba(14,14,14,1) 0px, rgba(50,50,50,1) 24px, rgba(225,225,225,1) 100px, rgba(238,238,238,1) 124px));
  //background-size: 222px 124px;  Mike > Please confirm if this style is used.
  color: #888;
  width: $mMenuWidth - 40; /* subtract horizontal padding */
  height: $mSearchBoxHeight;
  @include transition(background .2s linear);
}



.m-menu {
  position: absolute; /* we can't use fixed here :( */
  background: #000;
  top: 0;
  right: 0;
  z-index: 1;
  width: $mMenuWidth;
  height: 100%;
  @include transform(translate3d(100%, 0, 0));

  /* Prevent flicker when tapped on iOS Safari */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Prevent shaky animation on iOS Safari; only happens when content is taller than viewport. */
  overflow-y: hidden;
}

/*
 * Scrolling container. Contains both global and local menu containers. 
 */
#m-menu-scroll {
  height: 100%;
  overflow-y: auto;
}

#m-main-menu {
  padding-top: $mSearchBoxHeight + ($mSearchBoxBorder*2);
}

#m-local-menu {
  background: #336CA6;
}

.m-shift {
  @include transition(all 0.5s);   
  @include transform(translate3d(0px, 0px, 0px));
}

.m-shift.m-enable {
  @include transform(translate3d(-$mMenuWidth, 0px, 0px));
}

/* overlays for pusher and for level that gets covered */
.m-shift:after {
  z-index: 1000;
}

.m-shift:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

.m-shift:after {
  background: rgba(0,0,0,0.3);
  @include transition(opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s);   
}

.m-shift.m-enable:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  @include transition(opacity 0.3s);
}

/* content style */

.m-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(255,255,255,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
}

#m-menu.m-local-menu-enable h2 {
  color: #CCC;  
}

.m-menu.m-cover h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.m-menu ul li > a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 0.7em 1em 0.7em 0;
  outline: none;
  box-shadow: inset 0 -1px rgba(255,255,255,0.2);
  text-shadow: 0 0 1px rgba(255,255,255,0.1); 
  font-size: 18px;
  padding-left: $mMenuLevelIndent;
  cursor: pointer;
}

.m-menu ul li ul li > a {
  padding-left: $mMenuLevelIndent*2;
}

.m-menu ul li ul li ul li > a {
  padding-left: $mMenuLevelIndent*3;
}

.m-menu ul li ul li ul li ul li > a {
  padding-left: $mMenuLevelIndent*4;
}

#m-menu.m-local-menu-enable ul li > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
}

.m-menu ul {
  display: block;
  max-height:0px;
  overflow: hidden;

  @include transition(all 1s);   

  &.active {
    max-height: 700px;
  }
}


.m-menu ul li {
  padding: 0;
}

.m-menu ul li:before {
  z-index: -1;
  display: none;
  line-height: 3.5;
}

.m-menu h2 {

  &:after {
    content: "\00a0\f130\00a0";
    color: rgba(255,255,255,0.4); 
    font-family: 'iconsIBM';
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 1em; 
    @include transition(none 0);   
    @include transform-origin(center center);
  }

  &.active:after {
    @include transform(rotate(90deg));
  }
}

.m-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

#m-menu,
#m-local-link {
  display: none;
}

html.m-menu-open, 
html.m-menu-open body,
html.m-menu-open #m-wrap,
html.m-menu-open .m-content {
  height: 100%;
} 

html.m-menu-open {
  #m-wrap {
    overflow-y: hidden;
  }
  .m-content {
    overflow-y: hidden;
    position: relative;
  }
}


// adaptive styles begin ============================================


/* Prevent choppy scrolling in iPad / iPhone.  when converting from dojo we'll need to replace dj_safari */
.dj_safari.touch #m-wrap {
  height: auto;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */

/* Relative positioning version */
.no-csstransforms3d #m-menu {
  margin-right: -$mMenuWidth;
  display: block;
}

.no-csstransforms3d .m-shift {
  position: relative;
  left: 0px;
}

.no-csstransforms3d .m-shift.m-enable {
  left: -$mMenuWidth;
}
 
.no-cssgradients #m-q {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4b4b4b');
  zoom: 1;
}

// -------------------------------------------------------------- media query to be shared between iPad and iPhone viewport --------------------------------------------------------------
@media only screen and (min-width: 0) and (max-width: 800px) {
  #m-open-link,
  #m-local-link {
    display: block;
  }
  #m-menu {
    display: none;
  }
}