.golden-forms .section {
    margin-bottom: 20px;
    position: relative;
}

.golden-forms .tooltip,
.golden-forms .info-tip {
	text-shadow: none;
}

.golden-forms .tooltip .ibm-item-note{
	display: block;
	font-size: 12px;
}

.ibm-container .form-section{
	padding-left: 0;
	padding-right: 0;
}

.golden-forms .form-buttons .section { margin: 0 }

.golden-forms .append-icon span i {
	font-style: normal;
}

.golden-forms .rating label i{
	font-style: normal;
}

/*
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
*/


/**** ie8 ****/
.dj_ie8 .golden-forms .select {
    border: 1px solid #bbb;
}

.dj_ie8 .golden-forms .select:hover,
.dj_ie8 .golden-forms .select:focus {
    border: 1px solid #6baced;
}

.dj_ie8 .golden-forms .input{
	line-height: 36px;
}

.dj_ie8 .golden-forms .checkbox,
.dj_ie8 .golden-forms .radio{
	border: none;
}

/**** ie7 ****/
/*
.ie7 .golden-forms .select {
    border: 1px solid #bbb;
}

.ie7 .golden-forms .select:hover,
.ie7 .golden-forms .select:focus {
    border: 1px solid #6baced;
}

.ie7 .golden-forms .input{
	line-height: 36px;
}

.ie7 .golden-forms .checkbox,
.ie7 .golden-forms .radio{
	border: none;
}
*/
