// accessibility styles begin ============================================

.flashtext, 
.ibm-access, 
#ibm-content-main form.ibm-column-form p span a span {
	position: absolute;
	left: -3000px;
	width: 500px;
}

#ibm-mast-options .ibm-access{
	width: auto;
}

#ibm-social-tools h2.ibm-access {
    left: -9999em;
}

/* make text invisible for this icons -accessibility fix */
.ibm-text-hide {
	position: absolute;
	text-indent: -999em; 
}

/* accessibility fix for the all the icons */
.ibm-acc-icon-text{
	visibility: hidden;
}

/* end of the fix */

// .dijit_a11y is used only on high contrast mode

.dijit_a11y .dijitSelectHover,
.dijit_a11y .dijitSelectFocused {
	outline: thin dotted;
	filter: none;
}

.dijit_a11y.v17 .dijitSelect .dijitArrowButton .dijitArrowButtonChar {
	display: block;
	*font-size: 11px;
}

.dj_ie .dijit_a11y.v17 .dijitSelect .dijitButtonNode span.dijitButtonText {
	float: left;
}

.dijit_a11y.v17 #ibm-content input[type="text"], 
.dijit_a11y.v17 #ibm-content input[type="password"], 
.dijit_a11y.v17 #ibm-content textarea, 
.dijit_a11y.v17 .dijitDialog input[type="text"], 
.dijit_a11y.v17 .dijitDialog input[type="password"], 
.dijit_a11y.v17 .dijitDialog textarea {
	border: 1px inset #DDD;
	border-radius: 3px;
}

.dijit_a11y.v17 #ibm-content input[type="text"]:hover, 
.dijit_a11y.v17 #ibm-content input[type="password"]:hover, 
.dijit_a11y.v17 #ibm-content textarea:hover, 
.dijit_a11y.v17 #ibm-content select:hover, 
.dijit_a11y.v17 .dijitDialog input[type="text"]:hover, 
.dijit_a11y.v17 .dijitDialog input[type="password"]:hover, 
.dijit_a11y.v17 .dijitDialog textarea:hover, 
.dijit_a11y.v17 .dijitDialog select:hover, 
.dijit_a11y.v17 #ibm-content input[type="text"]:focus, 
.dijit_a11y.v17 #ibm-content input[type="password"]:focus, 
.dijit_a11y.v17 #ibm-content textarea:focus, 
.dijit_a11y.v17 #ibm-content select:focus, 
.dijit_a11y.v17 .dijitDialog input[type="text"]:focus, 
.dijit_a11y.v17 .dijitDialog input[type="password"]:focus, 
.dijit_a11y.v17 .dijitDialog textarea:focus, 
.dijit_a11y.v17 .dijitDialog select:focus {
	border: 1px inset #CCC;
}

.dijit_a11y.v17 #ibm-content input.ibm-disabled, 
.dijit_a11y.v17 #ibm-content input.ibm-disabled:hover, 
.dijit_a11y.v17 #ibm-content input.ibm-disabled:focus, 
.dijit_a11y.v17 #ibm-content input.ibm-disabled:active, 
.dijit_a11y.v17 #ibm-content input[disabled], 
.dijit_a11y.v17 #ibm-content input[disabled]:hover, 
.dijit_a11y.v17 #ibm-content input[disabled]:focus, 
.dijit_a11y.v17 #ibm-content input[disabled]:active, 
.dijit_a11y.v17 #ibm-content input[disabled="disabled"], 
.dijit_a11y.v17 #ibm-content input[disabled="disabled"]:hover, 
.dijit_a11y.v17 #ibm-content input[disabled="disabled"]:focus, 
.dijit_a11y.v17 #ibm-content input[disabled="disabled"]:active,
.dijit_a11y.v17 .dijitDialog input.ibm-disabled, 
.dijit_a11y.v17 .dijitDialog input.ibm-disabled:hover, 
.dijit_a11y.v17 .dijitDialog input.ibm-disabled:focus, 
.dijit_a11y.v17 .dijitDialog input.ibm-disabled:active, 
.dijit_a11y.v17 .dijitDialog input[disabled], 
.dijit_a11y.v17 .dijitDialog input[disabled]:hover, 
.dijit_a11y.v17 .dijitDialog input[disabled]:focus, 
.dijit_a11y.v17 .dijitDialog input[disabled]:active, 
.dijit_a11y.v17 .dijitDialog input[disabled="disabled"], 
.dijit_a11y.v17 .dijitDialog input[disabled="disabled"]:hover, 
.dijit_a11y.v17 .dijitDialog input[disabled="disabled"]:focus, 
.dijit_a11y.v17 .dijitDialog input[disabled="disabled"]:active {
	border: 1px inset #CBCBCB;
	filter: none;
}

.dijit_a11y.v17 .dijitSelect {
	filter: none;
	background-color: #777;
}

.dijit_a11y.v17 .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover{
	filter:none;
}

.dj_ie .dijit_a11y.v17 .dijitCheckBoxInput {
    filter: none;
}

/* accessibility styles end ============================================ */



.dijit_a11y .ibm-landing-page#ibm-top,
.dijit_a11y .ibm-portal-page#ibm-top,
.dijit_a11y #ibm-mast-options,
.dijit_a11y .dijitSelect, 
.dijit_a11y .dijitMenuTable,
.dijit_a11y .ibm-leading-page #ibm-leadspace-head ul.ibm-tabs,
.dijit_a11y .ibm-leading-page #ibm-leadspace-head ul.ibm-tabs li,
.dijit_a11y .ibm-leading-page #ibm-leadspace-head ul.ibm-tabs li a,
.dijit_a11y .ibm-portal-page #ibm-leadspace-head ul.ibm-tabs,
.dijit_a11y .ibm-portal-page #ibm-leadspace-head ul.ibm-tabs li,
.dijit_a11y .ibm-portal-page #ibm-leadspace-head ul.ibm-tabs li a {
	filter: none;
}

.dijit_a11y .ibm-leading-page #ibm-leadspace-head ul.ibm-tabs li a:focus,
.dijit_a11y .ibm-leading-page #ibm-leadspace-head ul.ibm-tabs li a:hover,
.dijit_a11y .ibm-portal-page #ibm-leadspace-head ul.ibm-tabs li a:focus,
.dijit_a11y .ibm-portal-page #ibm-leadspace-head ul.ibm-tabs li a:hover {
	text-decoration: underline;
}

.dijit_a11y #ibm-common-menu a:focus,
.dijit_a11y #ibm-footer a:focus,
.dijit_a11y #ibm-access-cntr a:focus,
.dijit_a11y #ibm-related-content a:focus,
.dijit_a11y #ibm-content a:focus {
	text-decoration: underline;
}

.dijit_a11y #ibm-common-menu a:hover,
.dijit_a11y #ibm-footer a:hover {
	text-decoration: underline;
}

.dijit_a11y #ibm-masthead img#ibm-hcontrast-head {
	display: block;
	position: absolute;
	z-index: -999;
}

.dijit_a11y #ibm-mast-options li a, 
.dijit_a11y #ibm-mast-options li#ibm-sso a,
.dijit_a11y #ibm-mast-options #ibm-create-share a,
.dijit_a11y #ibm-mast-options li#ibm-geo a {
	padding: 0px 4px !important;
}

.dijit_a11y #ibm-mast-options a:hover, 
.dijit_a11y #ibm-mast-options a:focus, 
.dijit_a11y #ibm-mast-options li#ibm-sso a:hover, 
.dijit_a11y #ibm-mast-options li#ibm-sso a:focus,
.dijit_a11y #ibm-mast-options #ibm-create-share a:hover, 
.dijit_a11y #ibm-mast-options #ibm-create-share a:focus,
.dijit_a11y #ibm-mast-options li#ibm-geo a:hover, 
.dijit_a11y #ibm-mast-options li#ibm-geo a:focus {
 	border: 1px solid;
	font-weight: bold;
    padding: 0px 3px !important;
	text-decoration: none;
}

.dijit_a11y #ibm-universal-nav {
	border-bottom: 2px solid;
	border-top:2px outset;
	height: 48px;
	filter: none; /* accessibility: HC mode IE fix */
}

.dijit_a11y #ibm-universal-nav:hover {
	border-bottom: 2px solid;
	border-top:2px outset;
}

.dijit_a11y #ibm-universal-nav:hover,
.dijit_a11y #ibm-universal-nav #ibm-menu-links a:focus,
.dijit_a11y #ibm-universal-nav #ibm-menu-links a:hover,
.dijit_a11y #ibm-universal-nav #ibm-menu-links li.ibm-active,
.dijit_a11y #ibm-universal-nav #ibm-menu-links li:hover,
.dijit_a11y #ibm-universal-nav #ibm-menu-links li.ibm-inactive {
	filter: none; /* accessibility: HC mode IE fix */
}

.dijit_a11y #ibm-universal-nav li a {
	font-weight: bold;
}

.dijit_a11y #ibm-universal-nav li a:hover, 
.dijit_a11y #ibm-universal-nav li a:focus {
	outline: thin dotted;
}

.dijit_a11y li#ibm-home a {
	overflow: hidden;
	left: -1px;
}

.dijit_a11y .ibm-home-page #ibm-universal-nav li#ibm-home a {
	top: 0;
}

.dijit_a11y li#ibm-home.ibm-sm-logo a img#ibm-hcontrast-home {
	top: -100px;
	left: 0;
}

.dijit_a11y li#ibm-home.ibm-sm-logo a:hover img#ibm-hcontrast-home, 
.dijit_a11y li#ibm-home.ibm-sm-logo a:focus img#ibm-hcontrast-home {
	top: -130px;
	left: 0;
}

.dijit_a11y li#ibm-home a img#ibm-hcontrast-home {
	top: 0;
	left: 0;
	display: block;
	position: absolute;
	z-index: 1;
}

.dijit_a11y #ibm-mast-options li#ibm-home a img#ibm-hcontrast-home {
	top: 5px;
}

.dijit_a11y li#ibm-home a:hover, 
.dijit_a11y li#ibm-home a:focus {
	outline: thin dotted;
}

.dijit_a11y li#ibm-home a:hover img#ibm-hcontrast-home, 
.dijit_a11y li#ibm-home a:focus img#ibm-hcontrast-home {
	top: -51px;
	left: -1px;
}

.dijit_a11y #ibm-mast-options li#ibm-home a:hover img#ibm-hcontrast-home, 
.dijit_a11y #ibm-mast-options li#ibm-home a:focus img#ibm-hcontrast-home {
	top: -39px;
	left: -1px;
}

.dijit_a11y #ibm-universal-nav li a.ibm-active, 
.dijit_a11y #ibm-universal-nav li a:focus, 
.dijit_a11y #ibm-universal-nav li a:hover {
	border: 1px dotted;
	padding: 15px;
}

.dijit_a11y #ibm-common-menu {
	border-bottom: 1px solid;
	filter: none;
}

.dijit_a11y #ibm-masthead #ibm-common-menu ul,
.dijit_a11y #ibm-masthead #ibm-common-menu .ibm-columns li {
    list-style-type: square;
}

.dijit_a11y #ibm-masthead #ibm-common-menu .ibm-mm-close span {
	text-indent: 0em;
}

.dijit_a11y #ibm-masthead #ibm-common-menu .ibm-mm-close span:focus,
.dijit_a11y #ibm-masthead #ibm-common-menu .ibm-mm-close span:hover {
	border: 1px dotted #FFF;
}

.dijit_a11y #ibm-search, 
.dijit_a11y #ibm-search.ibm-with-scoped-search {
    height: 25px;
    width: 63px;
	font-size: small;
	*text-align: center;
	margin: 0;
    background: none repeat 0 0 #FFF;
}

.dijit_a11y  #ibm-search-form {
	width: 295px;
}

.dijit_a11y  #ibm-search-form input#q, 
.dijit_a11y #ibm-search-form input#q:hover, 
.dijit_a11y #ibm-search-form input#q:focus {
	background: none repeat 0 0 #FFF;
	width: 120px;
	border: 2px ridge #FFF;
}

.dijit_a11y #ibm-search {
	border: 1px outset #FFF;
}

.dijit_a11y #ibm-scoped-search {
	background: none repeat 0 0 #FFF;
}

.dijit_a11y #ibm-universal-nav #ibm-scoped-search a {
	font-weight: normal;
	border: 0;
	padding: 6px;
}

.dijit_a11y #ibm-universal-nav #ibm-scoped-search a:focus, 
.dijit_a11y #ibm-universal-nav #ibm-scoped-search a.ibm-active {
	font-weight: bold;
	border: 1px solid;
	padding: 5px;
}

.dijit_a11y #ibm-scope-button .ibm-access {
	left: 0;
	width: auto;
	position: absolute;
}

.dijit_a11y #ibm-search-module .icon, 
.dijit_a11y #ibm-search-module .arrow {
	display: inline;
}

.dijit_a11y .scopeButton {
	border: 1px outset #FFF;
    left: 25px;
    width: 14px;
	margin: 3px -5px 0;
	padding: 0 1px;
}

.dijit_a11y #ibm-content .ibm-share-this ul li a {
	position: relative;
	overflow: hidden;
}

.dijit_a11y #ibm-social-tools a {
	position:relative;
	overflow: hidden;
	text-indent: 0em;
}

.dijit_a11y #ibm-social-tools a:hover, 
.dijit_a11y #ibm-social-tools a:focus {
	border: 1px dotted #FFF;
	width:14px;
	height:14px;
}

.dijit_a11y #ibm-social-tools a img.ibm-access {
	position: relative;
	z-index: 9999;
	width: auto;
}

.dijit_a11y #ibm-page-tools a:focus {
	text-decoration: underline;
}

.dijit_a11y #ibm-leadspace-head #ibm-leadspace-body, 
.dijit_a11y #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body {
	min-height: 70px;
	padding-bottom: 20px;
}

.dijit_a11y .ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-ribbon-view, 
.dijit_a11y #ibm-promotion-module .ibm-expand-overlay {
	background: none repeat 0 0 #000;
}

.dijit_a11y .ibm-home-page #ibm-promotion-module a.ibm-ribbon-next, 
.dijit_a11y .ibm-home-page #ibm-promotion-module a.ibm-ribbon-prev {
	border: 1px outset #FFF;
}

.dijit_a11y #ibm-navigation #ibm-primary-links li.ibm-is-active,
.dijit_a11y #ibm-navigation #ibm-primary-links li.ibm-active,
.dijit_a11y #ibm-navigation #ibm-primary-links #ibm-overview a,
.dijit_a11y #ibm-navigation #ibm-primary-links #ibm-overview a:hover,
.dijit_a11y #ibm-navigation #ibm-primary-links #ibm-overview a:active {
    -ms-filter: none;
    filter: none;
}

.dijit_a11y #ibm-navigation #ibm-primary-links #ibm-overview {
	border-width: 2px;
}

.dijit_a11y #ibm-footer-module {
	filter: none;
	border-top: 2px solid #212224;
}

.dijit_a11y #ibm-footer-module .ibm-columns ul {
	list-stye: square outside none;
}

.dijit_a11y #ibm-footer-module li {
	padding: 0;
}

.dijit_a11y #ibm-footer-module li.ibm-active {
	margin: 3px -1px;
}

.dijit_a11y #ibm-footer-module a:hover, 
.dijit_a11y #ibm-footer-module a:focus, 
.dijit_a11y #ibm-footer-module a.ibm-active {
	outline: thin dotted;
}

.dijit_a11y #ibm-footer {
	border-bottom: 1px solid #404040;
    border-top: 1px inset #0F161A;
}