// button styles begin ==============================================

[class*="ibm-col-"] .ibm-button-link,
[class*="ibm-col-"] .ibm-button-link-alternate {
	padding: 0;
}

a.ibm-btn-pri,
a.ibm-btn-sec,
input[class*="ibm-btn-"][class*="-pri"],
input[class*="ibm-btn-"][class*="-sec"],
.ibm-button-link a,
.ibm-button-link-alternate a {
	@include background-gradient(background-image,(top, $k00, $k20));
	border: 1px solid #DBDBDB;
	text-decoration: none;
	padding: .45em 1.24em .48em;
	@include border-radius(5px);
	max-width: 100%;
	min-width: 120px;
	min-width: 90px\9;
	*min-width: auto;
	min-height: 20px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@include box-sizing(border-box);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($k00)}', endColorstr='#{ie-hex-str($k20)}');
}

a.ibm-btn-pri,
a.ibm-btn-sec {
	display: inline-block;
	text-decoration: none;
}

.ibm-button-link a,
.ibm-button-link-alternate a {
	display: inline-block;
}

//	!Primary button default state
a.ibm-btn-pri,
input[class*="ibm-btn-"][class*="-pri"],
#ibm-top .ibm-button-link a {
	background-color: #333;
	border-color: $k10 $k10 $k25;
	color: #FFF;
	@include box-shadow(0 1px 0 $w30 inset, 0 1px 3px $k50);
	@include text-shadow($emboss-dark);
}

//	!Secondary button default state
a.ibm-btn-sec,
input[class*="ibm-btn-"][class*="-sec"],
#ibm-top .ibm-button-link-alternate a {
	background-color: #FFF;
	text-decoration: none;
	border-color: #CCC $k10 $k25;
	color: #000;
	@include box-shadow(0 1px 0 $w30 inset, 0 1px 3px $k50);
	@include text-shadow($emboss-light);	
}

//	!Primary button hover state
#ibm-content a.ibm-btn-pri:hover,
#ibm-content input[class*="ibm-btn-"][class*="-pri"]:hover,
#ibm-top .ibm-button-link a:hover {
	text-decoration: none;
	@include background-gradient(background-image,(top, $w10, $k40));
	@include box-shadow(0 1px 5px $k50);
	@include text-shadow($glow);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($w10)}', endColorstr='#{ie-hex-str($k40)}');
}

//	!Secondary button hover state
#ibm-content a.ibm-btn-sec:hover,
#ibm-content input[class*="ibm-btn-"][class*="-sec"]:hover,
#ibm-top .ibm-button-link-alternate a:hover {
	color: #000;
	text-decoration: none;
	@include background-gradient(background-image,(top, $w10, $k40));
	@include box-shadow(0 1px 5px $k50);
	@include text-shadow($glow);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($w10)}', endColorstr='#{ie-hex-str($k40)}');
}

//	!Primary button focus state
#ibm-content a.ibm-btn-pri:focus,
#ibm-content input[class*="ibm-btn-"][class*="-pri"]:focus,
#ibm-top .ibm-button-link a:focus {
	@include box-shadow(0 2px 3px $k50);
}

//	!Secondary button focus state
#ibm-content a.ibm-btn-sec:focus,
#ibm-content input[class*="ibm-btn-"][class*="-sec"]:focus,
#ibm-top .ibm-button-link-alternate a:focus {
	@include box-shadow(0 2px 3px $k50);	
}

//	!Primary button active state
#ibm-content a.ibm-btn-pri:active,
#ibm-content input[class*="ibm-btn-"][class*="-pri"]:active,
#ibm-top .ibm-button-link a:active {
	color: rgba(255,255,255,.8);
	text-shadow: none;
	@include background-gradient(background-image,(top, $k25, $k10));
	@include box-shadow(inset 0 0 5px $k50);
}

//	!Secondary button active state
#ibm-content a.ibm-btn-sec:active,
#ibm-content input[class*="ibm-btn-"][class*="-sec"]:active,
#ibm-top .ibm-button-link-alternate a:active {
	color: rgba(0,0,0,.8);
	text-shadow: none;
	@include background-gradient(background-image,(top, $k25, $k10));
	@include box-shadow(inset 0 0 5px $k50);
}

input::-moz-focus-inner {
	border: 0;
}

input.ibm-btn-go,
input.ibm-btn-view {
	border: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	margin-bottom: -13px;
}

input.ibm-btn-go {
	background: url(#{$imagePath}/i/buttons/btn-sprite.png) no-repeat 0 0;
}

input.ibm-btn-go:hover  {
	background: url(#{$imagePath}/i/buttons/btn-sprite.png) no-repeat 0 -40px;
}

input.ibm-btn-go:active, 
input.ibm-btn-go:focus {
	background: url(#{$imagePath}/i/buttons/btn-sprite.png) no-repeat 0 -80px;
}

input.ibm-btn-view {
	background: url(#{$imagePath}/i/buttons/btn-sprite.png) no-repeat 0 -120px;
}

input.ibm-btn-view:hover {
	background: url(#{$imagePath}/i/buttons/btn-sprite.png) no-repeat 0 -160px;
}

input.ibm-btn-view:active, 
input.ibm-btn-view:focus {
	background: url(#{$imagePath}/i/buttons/btn-sprite.png) no-repeat 0 -200px;
}

// Small button style
#ibm-top a.ibm-btn-small, 
#ibm-top input.ibm-btn-small {
	min-width: 75px;
	*min-width: auto;
 	@include border-radius(4px); 
	padding: 0.7em 1em 0.6em;
}

#ibm-top .ibm-button-link a.ibm-btn-small, 
#ibm-top .ibm-button-link-alternate a.ibm-btn-small {
	 min-width: 75px;
     padding: 0.4em 1em;
}

// End of small button style


// HC Mode styles for buttons
.dijit_a11y input.ibm-btn-pri,
.dijit_a11y input.ibm-btn-sec {
	background: #FFF;
	border: 1px outset #FFF;
	filter: none;
}

.dijit_a11y input.ibm-btn-pri:hover,
.dijit_a11y input.ibm-btn-sec:hover,
.dijit_a11y input.ibm-btn-pri:focus,
.dijit_a11y input.ibm-btn-sec:focus,
.dijit_a11y input.ibm-btn-pri:active,
.dijit_a11y input.ibm-btn-sec:active {
	border: 1px inset #FFF;
}

.dijit_a11y input.ibm-btn-go,
.dijit_a11y input.ibm-btn-view {
	background: #FFF;
	filter: none;
}
// Button links declaration

// button styles end ==============================================

