// common content styles begin ============================================

.ibm-clear {
	@include aslett-clearing;
}

// a, a:link{
a {
	color: $linkColor;
	&:hover,
	&:focus {
		color: $linkColorHover;
	}
	&:visited {
		color: $linkColorVisited;
	}
} 


// alternative linke color - gray

ul.ibm-alternate li a:link, 
p.ibm-alternate a:link {
    color: #454545;
}

// color tweak for gray links with icons
ul.ibm-alternate li a[class^="ibm-"]:link, 
p.ibm-alternate a[class^="ibm-"]:link {
    color: #171717;
}

ul.ibm-alternate li a:hover, 
p.ibm-alternate a:hover {
    color: #000;
}

// alternative linke color - white

ul.ibm-alternate-two li, 
p.ibm-alternate-two, 
ul.ibm-alternate-two li a, 
p.ibm-alternate-two a {
    color: $gray-20;
	@include text-shadow($emboss-dark);
}

ul.ibm-alternate-two li a:hover, 
p.ibm-alternate-two a:hover {
    color: $white;
}

.ibm-error, 
.ibm-confidential {
	color: #D9182D !important;
}

#ibm-access-cntr a:focus, 
#ibm-related-content a:focus, 
#ibm-content a:focus {
	outline: thin dotted;
}

// CONTENT: ORDER / LIST STYLES START


// !Default list start
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	padding: 5px 0 5px $iconSpaceLeft;
}

#ibm-top ul.ibm-link-list li {
	padding: 5px 0;
}

#ibm-top #ibm-content-main div p.ibm-ind-link {
	padding-left: 0;
	padding-right: 0;
}

p.ibm-ind-link a,
p a[class*="-link"],
p a.ibm-call-info,
p a.ibm-symp-doc,
p a.ibm-symp-presentation,
p a.ibm-symp-spreadsheet,
p a.ibm-community,
p a.ibm-usergroup,
ul.ibm-link-list a {
	display: inline-block;
	margin: 0;
	padding-left: $iconSpaceLeft;
	position: relative;
	text-decoration: none;
}

p a.ibm-feature-link {
	padding-left: 0;
}
// !Default list end

ol {
	list-style-type: decimal;
    padding: 0 0 0 $iconSpaceLeft;
}

#ibm-com ul.ibm-tabs li {
	clear: none;
}

#ibm-content-head {
	min-height: 70px;
	padding: 0 10px;
}

// Ordered list definition + ibm-alpha-list + ibm-roman-list

#ibm-content ol.ibm-alpha-list {
	list-style-type: lower-alpha !important;
}

#ibm-content ol ol.ibm-alpha-list,
#ibm-content ol ol.ibm-roman-list {
	*margin-left: 3px;
}

#ibm-content ol.ibm-roman-list {
	list-style-type: lower-roman !important;
}

#ibm-content ul.ibm-twisty li ol,
#ibm-content ul.ibm-portrait-module-list li ol, 
#ibm-content ul.ibm-thumbnail-list li ol {
	list-style-type: decimal;
	color: #4C4C4C;
	height: auto;
}

#ibm-content ul.ibm-twisty li ol li ol,
#ibm-content ul.ibm-portrait-module-list li ol li ol, 
#ibm-content ul.ibm-thumbnail-list li ol li ol {
	color: #4C4C4C;
}

#ibm-content ul.ibm-twisty li div.ibm-twisty-body ol li,
#ibm-content ul.ibm-portrait-module-list li ol li, 
#ibm-content ul.ibm-thumbnail-list li ol li {
	display: list-item;
	padding: 5px 0;
	height: auto;
	min-height: 10px;
	*min-height: auto;
}

#ibm-content ul.ibm-portrait-module-list li ol, 
#ibm-content ul.ibm-thumbnail-list li ol {
	margin-left: 70px !important;
	*margin-left: 73px !important;
}

#ibm-content ul.ibm-portrait-module-list li ol li ol, 
#ibm-content ul.ibm-thumbnail-list li ol li ol {
	margin-left: 0 !important;
	*margin-left: 3px !important;
}


//End of OL definition

.ibm-landing-page #ibm-content .ibm-columns .ibm-container h2 {
    display: block;
}

#ibm-content .ibm-portrait-module ul li {
	clear: none;
}

#ibm-content-main .ibm-container .ibm-container-body ul.ibm-stock-list,
#ibm-content-main .ibm-columns ul.ibm-stock-list {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

#ibm-content-main .ibm-container .ibm-container-body ul.ibm-stock-list li,
#ibm-content-main .ibm-columns ul.ibm-stock-list li {
	clear: both;
	padding: 0;
	margin: 0;
	display: block;
	height: 1%;
}

#ibm-content-main .ibm-container .ibm-container-body ul.ibm-stock-list h3,
#ibm-content-main .ibm-columns ul.ibm-stock-list h3 {
	margin: 0;
	padding: 0 0 3px 0;
	float: left;
}

#ibm-content-main .ibm-container .ibm-container-body ul.ibm-stock-list p,
#ibm-content-main .ibm-columns ul.ibm-stock-list p {
	padding: 0 0 3px 0 !important;
	height: 1%;
	float: right;
}

// ORDER / LIST STYLES END


#ibm-media .ibm-container {
	margin: 10px 0;
	width: auto;
	border-top: 2px solid #333;
}

#ibm-content .ibm-container {
	clear: both;
	width: auto;
	border-top: 2px solid #666;
	margin: 0 10px 10px;
}

ul li div.ibm-container{
	margin-top: 8px !important;
}

#ibm-content .ibm-container:first-child {
	border-top: 2px solid #666;
}

#ibm-content .ibm-container.ibm-alternate {
	border-top: 2px solid #CCC;
	padding-bottom: 10px;
	margin: 0 10px;
	width: auto;
}

#ibm-content .ibm-columns .ibm-container {
	margin: 0 0 10px;
}

#ibm-content .ibm-container.ibm-no-rule {
	border: 0 none;
}

#ibm-content #ibm-content-main img.ibm-intro {
	margin-top: 10px;
}

#ibm-content #ibm-content-main p.ibm-intro,
#ibm-content #ibm-content-main h2.ibm-intro {
	margin: 0;
	padding: 6px 0;
	color: #444;
}

#ibm-content #ibm-content-main p.ibm-intro + p,
#ibm-content #ibm-content-main h2.ibm-intro + p {
	margin-top: 6px !important;
}

#ibm-content #ibm-content-main h2.ibm-alternate {
	margin: 0;
	padding: 12px 0 0;
	color: #444;
}

#ibm-content #ibm-content-main .ibm-columns h2.ibm-alternate {
	margin: 5px 10px;
}

#ibm-content #ibm-content-main .ibm-columns [class*="ibm-col-"] h2.ibm-alternate {
	margin: 0;
}

#ibm-content #ibm-content-sidebar .ibm-container {
	border-top: 2px solid #666;
	margin: 0 0 20px;
}

#ibm-content .ibm-container.ibm-secondary,
#ibm-media .ibm-container.ibm-secondary {
	border-top: 2px solid #CCC;
}
#ibm-content .ibm-container.ibm-container-hide {
	overflow: hidden;
}

#ibm-media .ibm-container h2,
#ibm-media .ibm-container h3 {
	display: inline-block;
	padding: 7px 0 2px;
}

.ibm-container-body {
	clear: both;
}

// Spacing for anchor name
.ibm-anchor {
	margin-top: 20px !important;
}
// End of spacing for anchor name


// Right side icon style
a.ibm-anchor-down-link-alternate {
    background: url(#{$imagePath}/i/icons/ibm_icon_sprites_v2.png) no-repeat 100% -3998px !important;
    padding: 0 20px 3px 0;
}

#ibm-content ul.ibm-no-links a.ibm-anchor-down-link-alternate {
	text-decoration: none;
	color: #666;
}
#ibm-content ul.ibm-no-links a.ibm-anchor-down-link-alternate:hover {
	color: #222;
}

// #ibm-content ul.ibm-bullet-list li a, #ibm-related-content ul.ibm-bullet-list li a
a.ibm-external-link-alternate, 
#ibm-content ul.ibm-bullet-list li a.ibm-external-link-alternate, 
#ibm-related-content ul.ibm-bullet-list li a.ibm-external-link-alternate {
	background: url(#{$imagePath}/i/icons/ibm_sprite_links_blue_ON.png) no-repeat 100% -1px !important;
	padding: 0 20px 3px 0;
}


// End of right side Icon Style

#ibm-media li {
	padding-top: 10px;
}

// Rule style =======
div.ibm-rule {
	border-top: 1px dotted #CCC;
    height: 1px;
	clear: both;
    margin: 10px;
}
div.ibm-alternate-rule,
div.ibm-rule-alternate {
	background-color: #CCC;
	height: 1px;
	clear: both;
	margin: 10px;
}

div.ibm-alternate-rule-1 {
	background-color: #666;
	height: 2px;
}

div.ibm-alternate-rule-2 {
	background-color: #CCC;
	height: 2px;
}

.ibm-container-body div.ibm-rule,
.ibm-container-body div.ibm-alternate-rule,
.ibm-container-body div.ibm-rule-alternate,
.ibm-container-body div.ibm-alternate-rule-1,
.ibm-container-body div.ibm-alternate-rule-2,
.ibm-columns div.ibm-rule,
.ibm-columns div.ibm-alternate-rule,
.ibm-columns div.ibm-rule-alternate,
.ibm-columns div.ibm-alternate-rule-1,
.ibm-columns div.ibm-alternate-rule-2 {
	margin: 10px 0;
}


.ibm-container-body .ibm-column + div.ibm-rule,
.ibm-container-body .ibm-column + div.ibm-alternate-rule,
.ibm-container-body .ibm-column + div.ibm-rule-alternate {
	margin-top: 45px !important;
}

div.ibm-rule h2,
div.ibm-rule h3,
div.ibm-alternate-rule h2,
div.ibm-alternate-rule h3,
div.ibm-rule-alternate h2,
div.ibm-rule-alternate h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}
h2.ibm-rule,
h3.ibm-rule,
ul.ibm-rule,
ol.ibm-rule {
	border-top: 2px solid #666;
	padding-top: 6px;
	margin-top: 10px !important;
}
h2.ibm-alternate-rule,
h3.ibm-alternate-rule,
ul.ibm-alternate-rule,
ol.ibm-alternate-rule,
h2.ibm-rule-alternate,
h3.ibm-rule-alternate,
ul.ibm-rule-alternate,
ol.ibm-rule-alternate {
	border-top: 2px solid #CCC;
	padding-top: 6px;
	margin-top: 10px !important;
}
 
p + h2.ibm-alternate-rule,
p + h2.ibm-rule-alternate { 
	margin-top: 20px;
} 


div.ibm-rule hr,
div.ibm-alternate-rule hr,
div.ibm-rule-alternate hr,
div.ibm-alternate-rule-1 hr,
div.ibm-alternate-rule-2 hr {
	display: none;
}

.ibm-landing-page div.ibm-rule,
.ibm-landing-page div.ibm-alternate-rule,
.ibm-landing-page div.ibm-rule-alternate {
	margin: 10px 20px;
}
.ibm-landing-page .ibm-container-body div.ibm-rule,
.ibm-landing-page .ibm-container-body div.ibm-alternate-rule,
.ibm-landing-page .ibm-container-body div.ibm-rule-alternate,
.ibm-landing-page .ibm-columns div.ibm-rule,
.ibm-landing-page .ibm-columns div.ibm-alternate-rule,
.ibm-landing-page .ibm-columns div.ibm-rule-alternate {
	margin: 10px 0;
}
// End of Rule Style


#ibm-media {
	width: 980px;
	margin: 0 auto;
}

// common content styles end ============================================

.ibm-landing-page #ibm-content .ibm-container,
#ibm-media .ibm-container {
	margin: 10px 20px;
}

.ibm-liquid #ibm-content .ibm-columns .ibm-container,
.ibm-landing-page #ibm-content .ibm-columns .ibm-container {
	margin: 10px 0;
}


#ibm-content-head h1 {
	clear: both;
	margin: 0;
	padding: 15px 0 5px;
}



// for smaller leadspace image
#ibm-leadspace-small {
    padding: 0 10px;
}

#ibm-leadspace-small.ibm-intro img {
    margin-bottom: 14px;
}

#ibm-leadspace-small.ibm-intro p {
    margin-bottom: 5px;
    padding-left: 0;
}

// end of small leadspace image

#ibm-content-head p {
    padding: 0 10px;
	clear: both;
}


#ibm-content-head img {
	margin: 10px 10px 0;
}


#ibm-leadspace.ibm-intro img {
	margin-bottom: 14px;
}

#ibm-leadspace.ibm-intro p {
	margin-bottom: 5px;
	padding-left: 0;

}

.ibm-price {
	color: #00834e !important;
}

#ibm-content-main p.ibm-ind-link.ibm-next-page,
#ibm-content-main p.ibm-ind-link.ibm-back-to-top {
	clear: both;
	text-align: right;
	height: 1%;
	padding-bottom: 0;
}

p.ibm-ind-link.ibm-next-page a {
	@include px-to-rem(padding-right,25px);
}

a.ibm-feature-link,
p.ibm-ind-link a:visited,
ul.ibm-link-list a:visited {
	text-decoration: none;
}
p.ibm-ind-link a:hover,
ul.ibm-link-list a:hover,
a.ibm-feature-link:hover {
	text-decoration: underline !important;
}

div.ibm-list-next {
	padding-bottom: 0;
	margin-bottom: 0;
}

.ibm-indent {
	margin-left: 1.4em;
}

#ibm-content .ibm-portrait-module img {
	margin: 5px 10px 5px 0;
	float: left;
}

#ibm-content .ibm-portrait-module ul {
	clear: right;
	margin-left: 70px;
}

#ibm-content .ibm-portrait-module ul.ibm-link-list li p {
	padding-left: 16px;
}
#ibm-content .ibm-portrait-module .ibm-container-body {
	min-height: 55px;
}


// PORTRAIT-MODULE-LIST STYLES START
#ibm-content ul.ibm-portrait-module-list,
#ibm-content ul.ibm-thumbnail-list {
	padding: 0 0 5px;
}

#ibm-content ul.ibm-portrait-module-list > li,
#ibm-content ul.ibm-thumbnail-list > li {
	clear: both;
	padding: 5px 0;
	display: block;
	height: 1%;
	min-height: 45px;
}

#{$ie7Selector} #ibm-content .ibm-scroll ul.ibm-portrait-module-list > li,
#{$ie7Selector} #ibm-content .ibm-scroll ul.ibm-thumbnail-list > li {
	min-height: 65px;
}

#ibm-content ul.ibm-portrait-module-list ul,
#ibm-content ul.ibm-thumbnail-list ul {
	margin-left: 70px;
	margin-top: 0;
}

#ibm-content ul.ibm-portrait-module-list ul.ibm-bullet-list a[class*="-link"],
#ibm-content ul.ibm-thumbnail-list ul.ibm-bullet-list a[class*="-link"] {
	padding-left: $iconSpaceLeft;
	position: relative;
	display: inline-block;
}

#ibm-content ul.ibm-portrait-module-list.ibm-thumbnail ul,
#ibm-content ul.ibm-thumbnail-list.ibm-thumbnail ul {
	margin-left: 60px;
}

#ibm-content ul.ibm-portrait-module-list ul li,
#ibm-content ul.ibm-thumbnail-list ul li {
	clear: right;
	height: 1%;
	min-height: 0;
}

#ibm-content ul.ibm-portrait-module-list img,
#ibm-content ul.ibm-thumbnail-list img {
	float: left;
	padding-bottom: 10px;
	padding-right: 10px;
}
#ibm-content ul.ibm-portrait-module-list p,
#ibm-content ul.ibm-thumbnail-list p {
	padding: 0 !important;
	margin-left: 70px;
}

#ibm-content ul.ibm-portrait-module-list p a,
#ibm-content ul.ibm-thumbnail-list p a {
	display: inline-block;
}
#ibm-content ul.ibm-portrait-module-list.ibm-thumbnail p,
#ibm-content ul.ibm-thumbnail-list.ibm-thumbnail p {
	margin-left: 60px;
}

#ibm-content .ibm-container-body ul.ibm-portrait-module-list h2,
#ibm-content .ibm-container-body ul.ibm-portrait-module-list h3,
#ibm-content .ibm-container-body ul.ibm-thumbnail-list h2,
#ibm-content .ibm-container-body ul.ibm-thumbnail-list h3,
#ibm-content .ibm-columns ul.ibm-portrait-module-list h2,
#ibm-content .ibm-columns ul.ibm-portrait-module-list h3,
#ibm-content .ibm-columns ul.ibm-thumbnail-list h2,
#ibm-content .ibm-columns ul.ibm-thumbnail-list h3 {
	display: block;
	margin: 0 0 4px 70px;
}

#ibm-content .ibm-container-body ul.ibm-portrait-module-list.ibm-thumbnail h2,
#ibm-content .ibm-container-body ul.ibm-portrait-module-list.ibm-thumbnail h3,
#ibm-content .ibm-container-body ul.ibm-thumbnail-list.ibm-thumbnail h2,
#ibm-content .ibm-container-body ul.ibm-thumbnail-list.ibm-thumbnail h3,
#ibm-content .ibm-columns ul.ibm-portrait-module-list.ibm-thumbnail h2,
#ibm-content .ibm-columns ul.ibm-portrait-module-list.ibm-thumbnail h3,
#ibm-content .ibm-columns ul.ibm-thumbnail-list.ibm-thumbnail h2,
#ibm-content .ibm-columns ul.ibm-thumbnail-list.ibm-thumbnail h3 {
	margin-left: 60px;
}

.ibm-landing-page .ibm-container.ibm-playlist.ibm-portrait ul.ibm-portrait-module-list h3, 
.ibm-landing-page .ibm-container.ibm-playlist.ibm-portrait ul.ibm-thumbnail-list h3 {
	padding-top: 6px;
}


#ibm-content h3 a,
#ibm-content ul.ibm-portrait-module-list h2 a,
#ibm-content ul.ibm-portrait-module-list h3 a,
#ibm-content ul.ibm-thumbnail-list h2 a,
#ibm-content ul.ibm-thumbnail-list h3 a {
	text-decoration: none;
}

#ibm-content ul.ibm-portrait-module-list h2 a:hover,
#ibm-content ul.ibm-portrait-module-list h3 a:hover,
#ibm-content ul.ibm-thumbnail-list h2 a:hover,
#ibm-content ul.ibm-thumbnail-list h3 a:hover {
	text-decoration: underline;
}
// PORTRAIT-MODULE-LIST STYLES END


// style for partial sidebar
.ibm-content-expand .ibm-columns .ibm-inset {
    border: 0;
    float: right;
    margin: 0 !important;
    padding: 0 0 0 10px !important;
}
// End of style

#ibm-content-main .ibm-container .ibm-container-body dl {
	margin: 0;
	padding: 5px;
}

.ibm-container h2 {
	padding: 5px 0;
	height: auto;
}

#ibm-content-sidebar ul.ibm-link-list li {
	border-top: 1px dotted #CCC;
}

// code sample containers

div.ibm-code-sample {
    background-color: #F7F7F7;
    color: #666;
    min-height: 130px !important;
	max-height: 225px !important;
    overflow: scroll;
    padding: 0 10px;
    border: 1px solid #CCC;
}
div.ibm-alternate-code-sample {
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    color: #666;
    padding: 0 10px;
}

// end of code sample  section


// inset styles
#ibm-content-main p img.ibm-inset {
	float: left;
    margin: 5px 20px 12px 0;
    padding: 0;
}
#ibm-content-main p img.ibm-inset.ibm-alternate {
    float: right;
	border: 0 none;
	margin: 5px 0 12px 20px;
    padding: 0;
}

.ibm-inset-img-caption.ibm-alternate {
    clear: right;
    float: right;
    padding: 0 0 0 10px;
}

.ibm-inset-img-caption {
    color: #666;
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
}

// inset styles

// Common Code By Tapan============ END 

// Alternate twisty styles for show/hide style end================================================

// Show/hide styles begin ===========================================
.ibm-simple-show-hide .ibm-container-body {
	padding-bottom: 4px;
}
.ibm-simple-show-hide p.ibm-show-hide-controls {
	color: #666;
	display: none;
}
.ibm-simple-show-hide p.ibm-show-hide-controls a,
.ibm-simple-show-hide h3 a.ibm-show-hide-link {
	text-decoration: none;
}

.ibm-simple-show-hide h3 a.ibm-show-hide-link:hover {
    color: #222 !important;
}
.ibm-simple-show-hide p.ibm-show-hide-controls a.ibm-active {
	color: #666;
}

#ibm-content .ibm-container.ibm-show-hide,
#ibm-content #ibm-content-sidebar .ibm-container.ibm-show-hide {
	border-top: 0 none;
	margin-bottom: 0;
}
.ibm-landing-page #ibm-content .ibm-container.ibm-show-hide {
	margin-bottom: 5px !important;
}
#ibm-content .ibm-container.ibm-show-hide .ibm-container-body {
	margin-bottom: 10px;
}


.ibm-show-hide .ibm-video .ibm-container {
	border-top: 0 !important;
	margin: 0 !important;
}


// showhide fix for video module when it is inside accordion
.ibm-show-hide .ibm-video h2 {
	border-top: 0 !important;
	font-weight: normal;
	
}

.ibm-show-hide .ibm-video h2 a {
	background: none !important;
	color: #666;
}

.ibm-show-hide .ibm-video {
	margin-top: 0 !important;
	border-top: 0 !important;
}

.ibm-show-hide .ibm-video .ibm-container {
	border-top: 0 !important;
	margin: 0 !important;
}

.ibm-show-hide h2 {
	border-top: 2px solid #666 !important;
	width: 100%;
}

.ibm-show-hide h2 a {
	text-decoration: none;
	color: #000;        
}

#ibm-content .ibm-show-hide h2 a:after,
#ibm-content .ibm-show-hide h2 a.ibm-show-active:after,
.ibm-landing-page .ibm-show-hide h2 a:after,
.ibm-landing-page .ibm-show-hide h2 a.ibm-show-active:after,
#ibm-content #ibm-content-sidebar .ibm-container.ibm-show-hide h2 a:after {
	float: right;
	position: relative;
	letter-spacing: -2px;
}
 
.ibm-show-hide h2 a:hover:after,
.ibm-landing-page .ibm-show-hide h2 a:hover:after {
	color: #A5DF00;
}

.ibm-show-hide h2 a.ibm-show-active:hover:after,
.ibm-landing-page .ibm-show-hide h2 a.ibm-show-active:hover:after {
	color: #DF3A01;
}
.ibm-show-hide h2 a.ibm-show-active:visited,
.ibm-landing-page .ibm-show-hide h2 a.ibm-show-active:visited {
	color: #000;
}
// Show/hide styles end =============================================

.ibm-form-note, 
.ibm-item-note, 
.ibm-item-note-alternate,
.ibm-footnote p {
    color: #767676 !important;
}

// IBM reg number for Venzuala and china
div#ibm-reg-number {
   	background: #333;
   	color: #999;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

div#ibm-reg-number a:link,
div#ibm-reg-number a:visited,
div#ibm-reg-number a:hover {
	color: #999;
}

// End of the style
.ibm-required {
	color: #D9182D;
}
.ibm-important,
.ibm-important p {
	color: #B8471B !important;
}

// IBM Legal text Style
.ibm-legal-text,
.ibm-legal {
	background-color: #333;
    color: #999;
    margin: 0 auto;
    padding: 30px 20px 50px;
}
#ibm-content-main .ibm-legal-text,
#ibm-content-main .ibm-legal{
  	background: none;
    color: #666;
    padding: 30px 20px 80px;
    width: auto;
}
.ibm-legal-text .ibm-required,
.ibm-legal .ibm-required {
	position: absolute;
    margin: 0 0 0 -10px;
}
#ibm-content-main .ibm-legal-text .ibm-required,
#ibm-content-main .ibm-legal .ibm-required {
	color: #D9182D;
}
// End of the Legal text

// Cross links style
.ibm-cross-links {
    clear: right;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    width: 170px;
}
// End of cross link style

// Anchor links fix

// both element has to be placed near desired anchor and "div.ibm-anchor-pointer a" should contain this anchor's ID'
div.ibm-anchor-pointer {
    visibility: visible;
    display: block;
    position: absolute;
}
                       
div.ibm-anchor-pointer a {
	position: absolute;
	*position: relative;
	*margin-top: -80px;
	top: -80px;
	display: block;
}

// End of Anchor links fix

// IE7 Buttons Extra Padding Bug fix - ad more classes here if needed

input.ibm-btn-arrow-sec {
    *overflow: visible;
}


// Styles for pull-quote ==============================
.ibm-pull-quote.ibm-inset {
	float: right;
	margin: 5px 0 0 20px;
    padding: 0;
    width: 280px;
}

.ibm-pull-quote.ibm-inset.ibm-alternate {
	float: left;
	margin: 5px 20px 0 0;
}

.ibm-pull-quote blockquote p,
.ibm-pull-quote.ibm-inset blockquote p,
.ibm-pull-quote.ibm-inset.ibm-alternate blockquote p{
    color: #555 !important;
    display :block;
}

.ibm-pull-quote blockquote p em,
.ibm-pull-quote.ibm-inset blockquote p em,
.ibm-pull-quote.ibm-inset.ibm-alternate blockquote p em {
	display: block;
}

// w3 default style fix - bug: w3LC GSJR-8RXHYG: updated blockquote, q _reset styles
#ibm-top blockquote {
	margin: 0;
}


#ibm-top .ibm-pullquote-source,
#ibm-top .ibm-pullquote-source-alternate {
    color: #777;
 	margin-top: -10px;
}

.ibm-pullquote-open {
	color: #BBB;
	margin-left: -18px;
	float: left;
	position: absolute;
	margin-top: 5px;
}

.ibm-pullquote-close {
    color: #BBB;
    position: absolute;   
    margin-left: 2px;
    margin-top: 7px;
}

#{$ie7Selector} .ibm-pullquote-open { 
	margin-top: -2px;
	padding-top: 2px;
}

#{$ie7Selector} .ibm-pullquote-close {
	padding-top: 4px;
	padding-bottom: 2px;
	margin-top: -1px;
	margin-left: 1px;
}
// End of styles for pull-quote ==============================


.ibm-spinner-small {
	display: block;
	width: inherit;
	height: 20px !important;
	padding: 15px;
	background: url(#{$imagePath}/i/animated-progress-20x20b.gif) no-repeat center center transparent;
	text-decoration: none;
}

.ibm-spinner-large {
	display: block;
	width: inherit;
	height: 38px !important;
	padding: 15px;
	background: url(#{$imagePath}/i/animated-progress-38x38c.gif) no-repeat center center transparent;
	text-decoration: none;
}

#ibm-content .ibm-spinner-large:hover, 
#ibm-content .ibm-spinner-small:hover {
	text-decoration: none !important;
}

// universal background dim for just about anything BEGIN

// in order to work correcly (taking into account fixed masthead) it has to be placed below <div id="ibm-masthead">

.ibm-background-dim {
	background: #000;
	opacity: .5;
	filter:alpha(opacity=50);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 901;
	display: none;
}

// universal background dim for just about anything END

#ibm-truste {
	width: auto !important;
}
