// expert locator styles begin ============================================


//Forward Thinkers adaptive overrides

.ibm-el-W300px, .ibm-el-W172px, .ibm-el-W140px {
    width: 100% !important;
}

.ibm-el-carousel-cnt {
    height: auto !important;
}


.ibm-el-coverflowV17 {
    height: auto !important;
}


.ibm-el-H12px {
    margin-bottom: 10px;
}

.ibm-el-row a.ibm-el-read-less {
    display: block;
}

@media only screen and (max-width: 800px) and (min-width: 641px) {
    .ibm-el-six2CoverImage {
        width: 100% !important;
        max-width: 80% !important;
    }
}


@media only screen and (max-width: 640px) and (min-width: 569px) {
    .ibm-el-six2CoverImage {
        max-width: 70% !important;
    }

    .ibm-el-six2CoverImage .ibm-el-hdthumbV17.Six2Col {
    margin-left: 2px !important;
    }
}

@media only screen and (max-width: 568px) and (min-width: 0) {
    .ibm-el-six2CoverImage {
        width: 240px !important;
        max-width: 100% !important;
    }

    .ibm-el-six2CoverImage .ibm-el-hdthumbV17.Six2Col {
        margin-left: 14px !important;
    }
}




//SMA overrides

@media only screen and (max-width: 568px) and (min-width: 0) {
 
        .actions {
            overflow: hidden;

            a {
                line-height: 28px;
            }

            a.retweet, a.reply, a.fav, a.info {
                padding: 0 0 0 28px;
                background: url('../i/beta/twitter-spritev2_300.png') no-repeat -32px center;
                background-size: 249px 28px;
            }

            a.retweet {
                background-position: -154px 0;

                &:hover {
                    background-position: -186px 0;
                }
            }

            a.reply {
                background-position: 8px 0;

                &:hover {
                    background-position: -24px 0;
                }
            }

            a.fav {
                background-position: -59px 0;

                &:hover {
                    background-position: -91px 0;
                }
            }

            a.info {
                background: url(//1.www.s81c.com/i/v17/icons/ibm_sprite_status_sm_lg.png) no-repeat 2px 2px transparent;
                background-size: 24px 1200px;
            }
        } 


}


.smaEmbedded.dijitContainer {
    width: 100% !important;
}