// v17e font styles begin ============================================
body {
	@include px-to-rem(font-size,$bodyFontSize);
	@include px-to-rem(line-height,20px);
	font-weight: 300;
	font-family: $defaultFont-dbcs;
}

body.ibm-type {
	font-family: $defaultFont;
}

h1,
h2,
h3,
h4,
strong {
	font-family: $defaultHeaderFont-dbcs;
}

.ibm-type h1,
.ibm-type h2,
.ibm-type h3,
.ibm-type h4,
.ibm-type strong {
	font-family: $defaultHeaderFont;
	font-weight: 300;
}


.ibm-type #ibm-top .section-header {
	font-family: $sectionHeaderFont; 
	font-weight: 300;
}


// Masthead Fonts ======================
#ibm-mast-options {
	@include px-to-rem(font-size,11px);
}

#ibm-common-menu,
#ibm-common-menu [class*="ibm-col-"] {
	@include px-to-rem(font-size,12.8px);
	@include px-to-rem(line-height,15px);
}

// End of Masthead Fonts =================


// Content grid font size =======================

// default/content expand (left nav) template start
.ibm-default #ibm-content .ibm-col-1-1,
.ibm-default #ibm-content .ibm-col-5-2,
.ibm-default #ibm-content .ibm-col-5-3,
.ibm-content-expand #ibm-content .ibm-col-1-1,
.ibm-content-expand #ibm-content .ibm-col-5-2,
.ibm-content-expand #ibm-content .ibm-col-5-3 {
	@include px-to-rem(font-size,$bodyFontSize);
	@include px-to-rem(line-height,20px);
}
.ibm-default #ibm-content .ibm-col-1-1.large,
.ibm-default #ibm-content .ibm-col-5-2.large,
.ibm-default #ibm-content .ibm-col-5-3.large,
.ibm-content-expand #ibm-content .ibm-col-1-1.large,
.ibm-content-expand #ibm-content .ibm-col-5-2.large,
.ibm-content-expand #ibm-content .ibm-col-5-3.large {
	@include px-to-rem(font-size,$largeFontSize);
	@include px-to-rem(line-height,20px);
}
.ibm-default #ibm-content .ibm-col-1-1.small,
.ibm-default #ibm-content .ibm-col-5-2.small,
.ibm-default #ibm-content .ibm-col-5-3.small,
.ibm-content-expand #ibm-content .ibm-col-1-1.small,
.ibm-content-expand #ibm-content .ibm-col-5-2.small,
.ibm-content-expand #ibm-content .ibm-col-5-3.small {
	@include px-to-rem(font-size,$smallFontSize);
	@include px-to-rem(line-height,20px);
}
// default/content expand (left nav) template end

.ibm-default #ibm-content p,
.ibm-default #ibm-content h2,
.ibm-default #ibm-content h3,
.ibm-default #ibm-content h4,
.ibm-content-expand #ibm-content p,
.ibm-content-expand #ibm-content h2,
.ibm-content-expand #ibm-content h3,
.ibm-content-expand #ibm-content h4 {
	padding: 6px 0;
}

#ibm-content-main .ibm-columns > p,
#ibm-content-main .ibm-ribbon .ibm-container-body .ibm-columns > p,
#ibm-content-main .ibm-columns > h2,
#ibm-content-main .ibm-columns > h3,
#ibm-content-main .ibm-columns > h4,
.ibm-default #ibm-content-main > p,
.ibm-content-expand #ibm-content-main > p {
	padding: 6px 10px;
}

.ibm-col-1-1,
#ibm-content .ibm-intro {
	@include px-to-rem(font-size,$bodyFontSize);
	@include px-to-rem(line-height,$bodyFontSize * $largeLineHeight);
}
.ibm-col-1-1.large {
	@include px-to-rem(font-size,$largeFontSize);
	@include px-to-rem(line-height,$largeFontSize * $largeLineHeight);
}
.ibm-col-1-1.small {
	@include px-to-rem(font-size,$smallFontSize);
	@include px-to-rem(line-height,$smallFontSize * $largeLineHeight);
}

// paragraph/header spacing
.ibm-col-1-1 p {
	padding: 0 0 ($bodyFontSize * $largeLineHeight * $paragraphSpacing);
}
.ibm-col-1-1.large p {
	padding: 0 0 ($largeFontSize * $largeLineHeight * $paragraphSpacing);
}
.ibm-col-1-1.small p {
	padding: 0 0 ($smallFontSize * $largeLineHeight * $paragraphSpacing);
}
.ibm-col-1-1 h2,
.ibm-col-1-1 h3,
.ibm-col-1-1 h4 {
	padding: 0 0 ($bodyFontSize * $largeLineHeight * $headerSpacing);
}
.ibm-col-1-1.large h2,
.ibm-col-1-1.large h3,
.ibm-col-1-1.large h4 {
	padding: 0 0 ($largeFontSize * $largeLineHeight * $headerSpacing);
}
.ibm-col-1-1.small h2,
.ibm-col-1-1.small h3,
.ibm-col-1-1.small h4 {
	padding: 0 0 ($smallFontSize * $largeLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-4-2,
.ibm-col-4-3,
.ibm-col-5-2,
.ibm-col-5-3,
.ibm-col-5-4,
.ibm-col-6-3,
.ibm-col-6-4,
.ibm-col-6-5 {
	@include px-to-rem(font-size,$bodyFontSize);
	@include px-to-rem(line-height,$bodyFontSize * $defaultLineHeight);
}

// paragraph/header spacing
.ibm-col-4-2 p,
.ibm-col-4-3 p,
.ibm-col-5-2 p,
.ibm-col-5-3 p,
.ibm-col-5-4 p,
.ibm-col-6-3 p,
.ibm-col-6-4 p,
.ibm-col-6-5 p {
	padding: 0 0 ($bodyFontSize * $defaultLineHeight * $paragraphSpacing);
}
.ibm-col-4-2 h2,
.ibm-col-4-2 h3,
.ibm-col-4-2 h4,
.ibm-col-4-3 h2,
.ibm-col-4-3 h3,
.ibm-col-4-3 h4,
.ibm-col-5-2 h2,
.ibm-col-5-2 h3,
.ibm-col-5-2 h4,
.ibm-col-5-3 h2,
.ibm-col-5-3 h3,
.ibm-col-5-3 h4,
.ibm-col-5-4 h2,
.ibm-col-5-4 h3,
.ibm-col-5-4 h4,
.ibm-col-6-3 h2,
.ibm-col-6-3 h3,
.ibm-col-6-3 h4,
.ibm-col-6-4 h2,
.ibm-col-6-4 h3,
.ibm-col-6-4 h4,
.ibm-col-6-5 h2,
.ibm-col-6-5 h3,
.ibm-col-6-5 h4 {
	padding: 0 0 ($bodyFontSize * $defaultLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-4-2.large,
.ibm-col-4-3.large,
.ibm-col-5-2.large,
.ibm-col-5-3.large,
.ibm-col-5-4.large,
.ibm-col-6-3.large,
.ibm-col-6-4.large,
.ibm-col-6-5.large {
	@include px-to-rem(font-size,$largeFontSize);
	@include px-to-rem(line-height,$largeFontSize * $defaultLineHeight);
}

// paragraph/header spacing
.ibm-col-4-2.large p,
.ibm-col-4-3.large p,
.ibm-col-5-2.large p,
.ibm-col-5-3.large p,
.ibm-col-5-4.large p,
.ibm-col-6-3.large p,
.ibm-col-6-4.large p,
.ibm-col-6-5.large p {
	padding: 0 0 ($largeFontSize * $defaultLineHeight * $paragraphSpacing);
}
.ibm-col-4-2.large h2,
.ibm-col-4-2.large h3,
.ibm-col-4-2.large h4,
.ibm-col-4-3.large h2,
.ibm-col-4-3.large h3,
.ibm-col-4-3.large h4,
.ibm-col-5-2.large h2,
.ibm-col-5-2.large h3,
.ibm-col-5-2.large h4,
.ibm-col-5-3.large h2,
.ibm-col-5-3.large h3,
.ibm-col-5-3.large h4,
.ibm-col-5-4.large h2,
.ibm-col-5-4.large h3,
.ibm-col-5-4.large h4,
.ibm-col-6-3.large h2,
.ibm-col-6-3.large h3,
.ibm-col-6-3.large h4,
.ibm-col-6-4.large h2,
.ibm-col-6-4.large h3,
.ibm-col-6-4.large h4,
.ibm-col-6-5.large h2,
.ibm-col-6-5.large h3,
.ibm-col-6-5.large h4 {
	padding: 0 0 ($largeFontSize * $defaultLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-4-2.small,
.ibm-col-4-3.small,
.ibm-col-5-2.small,
.ibm-col-5-3.small,
.ibm-col-5-4.small,
.ibm-col-6-3.small,
.ibm-col-6-4.small,
.ibm-col-6-5.small {
	@include px-to-rem(font-size,$smallFontSize);
	@include px-to-rem(line-height,$smallFontSize * $defaultLineHeight);
}

// paragraph/header spacing
.ibm-col-4-2.small p,
.ibm-col-4-3.small p,
.ibm-col-5-2.small p,
.ibm-col-5-3.small p,
.ibm-col-5-4.small p,
.ibm-col-6-3.small p,
.ibm-col-6-4.small p,
.ibm-col-6-5.small p {
	padding: 0 0 ($smallFontSize * $defaultLineHeight * $paragraphSpacing);
}
.ibm-col-4-2.small h2,
.ibm-col-4-2.small h3,
.ibm-col-4-2.small h4,
.ibm-col-4-3.small h2,
.ibm-col-4-3.small h3,
.ibm-col-4-3.small h4,
.ibm-col-5-2.small h2,
.ibm-col-5-2.small h3,
.ibm-col-5-2.small h4,
.ibm-col-5-3.small h2,
.ibm-col-5-3.small h3,
.ibm-col-5-3.small h4,
.ibm-col-5-4.small h2,
.ibm-col-5-4.small h3,
.ibm-col-5-4.small h4,
.ibm-col-6-3.small h2,
.ibm-col-6-3.small h3,
.ibm-col-6-3.small h4,
.ibm-col-6-4.small h2,
.ibm-col-6-4.small h3,
.ibm-col-6-4.small h4,
.ibm-col-6-5.small h2,
.ibm-col-6-5.small h3,
.ibm-col-6-5.small h4 {
	padding: 0 0 ($smallFontSize * $defaultLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-4-1,
.ibm-col-6-2 {
	@include px-to-rem(font-size,$bodyFontSize);
	@include px-to-rem(line-height,$bodyFontSize * $defaultLineHeight);
}

// paragraph/header spacing
.ibm-col-4-1 p,
.ibm-col-6-2 p {
	padding: 0 0 ($bodyFontSize * $defaultLineHeight * $paragraphSpacing);
}
.ibm-col-4-1 h2,
.ibm-col-4-1 h3,
.ibm-col-4-1 h4,
.ibm-col-6-2 h2,
.ibm-col-6-2 h3,
.ibm-col-6-2 h4 {
	padding: 0 0 ($bodyFontSize * $defaultLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-4-1.large,
.ibm-col-6-2.large {
	@include px-to-rem(font-size,$largeFontSize);
	@include px-to-rem(line-height,$largeFontSize * $defaultLineHeight);
}

// paragraph/header spacing
.ibm-col-4-1.large p,
.ibm-col-6-2.large p {
	padding: 0 0 ($largeFontSize * $defaultLineHeight * $paragraphSpacing);
}
.ibm-col-4-1.large h2,
.ibm-col-4-1.large h3,
.ibm-col-4-1.large h4,
.ibm-col-6-2.large h2,
.ibm-col-6-2.large h3,
.ibm-col-6-2.large h4 {
	padding: 0 0 ($largeFontSize * $defaultLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-4-1.small,
.ibm-col-6-2.small {
	@include px-to-rem(font-size,$smallFontSize);
	@include px-to-rem(line-height,$smallFontSize * $defaultLineHeight);
}

// paragraph/header spacing
.ibm-col-4-1.small p,
.ibm-col-6-2.small p {
	padding: 0 0 ($smallFontSize * $defaultLineHeight * $paragraphSpacing);
}
.ibm-col-4-1.small h2,
.ibm-col-4-1.small h3,
.ibm-col-4-1.small h4,
.ibm-col-6-2.small h2,
.ibm-col-6-2.small h3,
.ibm-col-6-2.small h4 {
	padding: 0 0 ($smallFontSize * $defaultLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-5-1,
.ibm-col-6-1,
#ibm-content-sidebar {
	@include px-to-rem(font-size,$bodyFontSize);
	@include px-to-rem(line-height,$bodyFontSize * $smallLineHeight);
}

// paragraph/header spacing
.ibm-col-5-1 p,
.ibm-col-6-1 p {
	padding: 0 0 ($bodyFontSize * $smallLineHeight * $paragraphSpacing);
}
.ibm-col-5-1 h2,
.ibm-col-5-1 h3,
.ibm-col-5-1 h4,
.ibm-col-6-1 h2,
.ibm-col-6-1 h3,
.ibm-col-6-1 h4 {
	padding: 0 0 ($bodyFontSize * $smallLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-5-1.large,
.ibm-col-6-1.large {
	@include px-to-rem(font-size,$largeFontSize);
	@include px-to-rem(line-height,$largeFontSize * $smallLineHeight);
}

// paragraph/header spacing
.ibm-col-5-1.large p,
.ibm-col-6-1.large p {
	padding: 0 0 ($largeFontSize * $smallLineHeight * $paragraphSpacing);
}
.ibm-col-5-1.large h2,
.ibm-col-5-1.large h3,
.ibm-col-5-1.large h4,
.ibm-col-6-1.large h2,
.ibm-col-6-1.large h3,
.ibm-col-6-1.large h4 {
	padding: 0 0 ($largeFontSize * $smallLineHeight * $headerSpacing);
}
// paragraph/header spacing



.ibm-col-5-1.small,
.ibm-col-6-1.small {
	@include px-to-rem(font-size,$smallFontSize);
	@include px-to-rem(line-height,$smallFontSize * $smallLineHeight);
}

// paragraph/header spacing
.ibm-col-5-1.small p,
.ibm-col-6-1.small p {
	padding: 0 0 ($smallFontSize * $smallLineHeight * $paragraphSpacing);
}
.ibm-col-5-1.small h2,
.ibm-col-5-1.small h3,
.ibm-col-5-1.small h4,
.ibm-col-6-1.small h2,
.ibm-col-6-1.small h3,
.ibm-col-6-1.small h4 {
	padding: 0 0 ($smallFontSize * $smallLineHeight * $headerSpacing);
}
// paragraph/header spacing


// section header spacing
#ibm-com #ibm-top .section-header {
	@include px-to-rem(font-size,$sectionHeaderSize);
	@include px-to-rem(line-height,$sectionHeaderSize * $defaultLineHeight);
	padding-bottom: $sectionHeaderSize * $defaultLineHeight * $headerSpacing;
}
#ibm-com #ibm-top .section-header.large {
	@include px-to-rem(font-size,$largeHeaderSize);
	@include px-to-rem(line-height,$largeHeaderSize * $smallLineHeight);
	padding-bottom: $largeHeaderSize * $largeLineHeight * $headerSpacing;
}
#ibm-com #ibm-top .section-header.small {
	@include px-to-rem(font-size,$smallHeaderSize);
	@include px-to-rem(line-height,$smallHeaderSize * $smallLineHeight);
	padding-bottom: $smallHeaderSize * $smallLineHeight * $headerSpacing;
}
// section header spacing


// header font size increase classes
h2.large,
h3.large,
h4.large {
	font-size: 120%;
}

h2.larger,
h3.larger,
h4.larger {
	font-size: 135%;
}
// header font size increase classes


#{$ie7Selector} #ibm-content #ibm-content-main *,
#{$ie7Selector} #ibm-content-sidebar *,
#{$ie7Selector} #ibm-common-menu *,
#{$ie7Selector} #ibm-related-content * {
	font-size: 13px;
	line-height: 15px;
}
// End of Content grid font size =======================

// Default template styles =======================
#ibm-navigation {
	@include px-to-rem(font-size,12px);	
}

#ibm-navigation #ibm-overview a,
#ibm-navigation .ibm-active {
	font-family: $defaultHeaderFont-dbcs;
}

.ibm-type #ibm-navigation #ibm-overview a,
.ibm-type #ibm-navigation .ibm-active {
	font-family: $defaultHeaderFont;
}
// End of Default template styles =======================

// Content styles =======================

/*
#ibm-content .ibm-section-title {
	font-size: $sectionFontSize;
}
*/

#ibm-top h1,
.ibm-landing-page #ibm-leadspace-head.ibm-ribbon h2 {
	@include px-to-rem(font-size,36px);
	@include px-to-rem(line-height,40px);
}

#ibm-top h1.small {
	@include px-to-rem(font-size,30px);
}

#ibm-navigation-trail {
	@include px-to-rem(font-size,11.2px);
}

#ibm-content code {
    font-family: monospace,sans-serif;
	@include px-to-rem(font-size,14px);	
}

#ibm-content-head em, 
.ibm-default #ibm-leadspace-head em {
	font-family: $defaultHeaderFont-dbcs;
	font-style: normal;
	color: #666;
}

.ibm-type #ibm-content-head em, 
.ibm-type #ibm-content #ibm-leadspace-head em {
	font-family: $defaultHeaderFont;
}

.ibm-landing-page #ibm-leadspace-head p em span {
	font-family: $defaultHeaderFont-dbcs;
}

.ibm-type .ibm-landing-page #ibm-leadspace-head p em span {
	font-family: $defaultHeaderFont;
}

#ibm-content-nav #ibm-primary-tabs a,
#ibm-content-nav #ibm-secondary-tabs a {
	font-family: $defaultFont-dbcs;
	@include px-to-rem(font-size,14px);
	@include px-to-rem(line-height,14px);
}

.ibm-type #ibm-content-nav #ibm-primary-tabs a,
.ibm-type #ibm-content-nav #ibm-secondary-tabs a {
	font-family: "HelvRegularIBM",Arial,sans-serif;
}

// Buttons size
[class*="ibm-btn-"] {
	font-size: inherit;
}
#ibm-top a.ibm-btn-small, 
#ibm-top input.ibm-btn-small {
	font-size: 0.8em;
}

// Bold primary buttons
[class*="ibm-btn-"][class*="-pri"] {
	font-family: $defaultHeaderFont-dbcs;
	font-weight: bold;
}

// Intro style
#ibm-content .ibm-intro em {
	font-style: normal;
}

// Table styles
#ibm-content table,
#ibm-content .ibm-inner-data-table-last,
#ibm-content .ibm-inner-data-table {
	@include px-to-rem(font-size,13px);
}

table caption em,
table th {
	font-family: $defaultHeaderFont-dbcs;
	font-style: normal;
}

.ibm-type table caption em,
.ibm-type table th {
	font-family: $defaultHeaderFont;
}

.ibm-table-navigation,
p.ibm-table-scroll-caption {
	@include px-to-rem(font-size,15px);
}

// Common elements
#ibm-content p,
#ibm-content ul,
#ibm-content ol {
	color: #333;
}

// Pullquotes
.ibm-pull-quote blockquote p {
	font-family: Georgia;
	font-style: normal;
	@include px-to-rem(font-size,24px);
	@include px-to-rem(line-height,30px);
}

.ibm-pullquote-open,
.ibm-pullquote-close {
	font-family: Georgia;
	@include px-to-rem(font-size,44px);
	@include px-to-rem(line-height,30px);
}

.ibm-pullquote-source,
.ibm-pullquote-source-alternate {
	@include px-to-rem(font-size,15px);
	@include px-to-rem(line-height,23px);
}

.ibm-pullquote-source-alternate {
	font-family: Georgia;
}

.ibm-pull-quote.ibm-alternate-font blockquote p,
.ibm-pullquote-open.ibm-alternate-font, 
.ibm-pullquote-close.ibm-alternate-font {
	font-family: $defaultFont-dbcs;
}

.ibm-type .ibm-pull-quote.ibm-alternate-font blockquote p,
.ibm-type .ibm-pullquote-open.ibm-alternate-font, 
.ibm-type .ibm-pullquote-close.ibm-alternate-font {
	font-family: $defaultFont;
}

#{$ie7Selector} #ibm-content #ibm-content-main .ibm-pull-quote blockquote p,
#{$ie7Selector} #ibm-content #ibm-content-main .ibm-pull-quote blockquote p em {
	font-size: 24px;
	line-height: 30px;
}

.ibm-additional-info,
.ibm-item-note,
.ibm-inset-img-caption {
	@include px-to-rem(font-size,12px);
}
.ibm-item-note {
	font-family: Georgia;
	font-style: bold;
}

.ibm-legal-text,
.ibm-legal {
	@include px-to-rem(font-size,11px);
}

// Content styles =======================


// Footer font=============================

#ibm-footer-module,
#ibm-footer-module [class*="ibm-col-"] {
	@include px-to-rem(line-height,14px);
	@include px-to-rem(font-size,11.2px);
}

#ibm-footer-module a {
	font-family: $defaultHeaderFont-dbcs;
}

#ibm-footer,
#{$ie7Selector} #ibm-footer-module h3 {
	@include px-to-rem(font-size,11.2px);
}

// End of Footer font=============================

