// footer styles begin ============================================

#ibm-footer-module {
	@include background-image-gradient(url(#{$imagePath}/i/footermod-bg.png), no-repeat center top, top, #474A50, #0F161A);
    border-top: 1px solid #666;
    clear: both;
    width: 100%;
    float: left;
    *float: none; /* IE7 hack */
    margin-bottom: -1px;
}

#ibm-footer-module h2, 
#ibm-footer-module h3 {
    color: #FCB712;
    margin: 0;
    padding: 18px 5px 2px;
}

#ibm-footer-module .ibm-col-6-1:hover h2 {
    color: #FFE14F;
}

#ibm-footer-module ul {
    list-style: none;
    padding: 0 0 2px 0;
    margin: 0;
}

#ibm-footer-module li {
    color: #666;
    margin: 4px 0;
    padding: 0 0 0 $iconSpaceLeft;
}

#ibm-footer-module ul li:before {
	color: #797979;
	line-height: 1.1;
}

#{$ie7Selector} #ibm-footer-module li {
    background: url(#{$imagePath}/i/bullets.gif) no-repeat -2px 2px;
}

#ibm-footer-module li:hover:before,
#ibm-footer-module li.ibm-active:before {
    color: #FFCF01;
}

#ibm-footer-module a {
    color: #A8A8A8;
    display: block;
    text-decoration: none;
}

#ibm-footer-module .ibm-stock-module h2, 
#ibm-footer-module a:hover {
    color: #FFF;
}

#ibm-footer-module a.ibm-active, 
#ibm-footer-module a:focus {
    color: #FFF;
	text-decoration: underline;
}

#ibm-footer {
    background-color: #0F161A;
    border-top: 1px solid #0F161A;
    border-bottom: 1px solid #404040;
    clear: both;
    color: #CCC;
    height: auto;
    margin: 0;
    padding-top: 15px;
    position: relative;
}

#ibm-footer ul {
    margin: 0 auto;
	width: 960px;
    height: 1%;
    list-style-type: none;
    padding: 0 0 0 20px;
}

#ibm-footer li {
    float: left;
    padding: 0 10px 16px 14px;
    overflow: inherit;
    white-space: nowrap;
}

#ibm-footer li.ibm-first {
    padding-left: 5px;
    background-image: none;
}

#ibm-footer li a:link, 
#ibm-footer li a:visited {
    color: #7F7F7F;
	text-decoration: none;
}

#ibm-footer li a:hover {
    color: #A1A2A7;
}

#ibm-footer li a:focus {
    color: #D0D0D3;
}

#ibm-footer:after {
	@include aslett-clearing;
}
