// landing styles begin ============================================

// high definition styles begin ============================================
.ibm-landing-page #ibm-content-sidebar,
.ibm-landing-page #ibm-navigation,
.ibm-landing-page #ibm-media {
	display: none;
}

.ibm-landing-page #ibm-pcon {
	width: 100%;
	padding: 0 0 10px 0;
}

.ibm-landing-page #ibm-content-head {
	margin: 0 auto;
	width: 960px;
}

.ibm-landing-page #ibm-content-body {
	padding-top: 0;
}

.ibm-landing-page #ibm-content-main {
    width: 100%;
}

.ibm-landing-page #ibm-leadspace {
	padding: 0;
	margin: 0;
}

.ibm-landing-page #ibm-content-main > p,
.ibm-landing-page #ibm-content-main > h2,
.ibm-landing-page #ibm-content-main > h3 {
	margin: 0 auto;
	width: 940px;	
}

.ibm-landing-page #ibm-content .ibm-columns .ibm-ribbon .ibm-ribbon-section .ibm-columns,
.ibm-landing-page #ibm-content .ibm-container .ibm-ribbon-pane .ibm-columns {
	margin: 0;
}

.ibm-band {
	background-color: rgba(0,0,0,0.03);
	min-height: 280px;
	padding: 15px 0;
}

.ibm-band .section-shadow{
	padding: 15px 0;
	box-shadow: inset 0 4px 8px -4px rgba(0,0,0,.1);
	border-top: rgba(0,0,0,.1) solid 1px;
}

.ibm-band:nth-child(2n) {
	background-color: rgba(0,0,0,0.0);
}

.ibm-landing-page #ibm-content-main > div.ibm-rule, 
.ibm-landing-page #ibm-content-main > div.ibm-alternate-rule, 
.ibm-landing-page #ibm-content-main > div.ibm-rule-alternate {
	margin: 10px 0;
}

.ibm-landing-page #ibm-content-main > .ibm-container,
.ibm-landing-page #ibm-content-main > .ibm-ribbon,
.ibm-landing-page #ibm-content-main .ibm-band > .ibm-container,
.ibm-landing-page #ibm-content-main .ibm-band > .ibm-ribbon,
.ibm-landing-page #ibm-content-main .ibm-media > .ibm-ribbon,
.ibm-landing-page #ibm-content-main .ibm-media > .ibm-playlist,
#ibm-related-content > .ibm-container {
	margin: 10px auto;
	width: 940px;
}

// high definition styles end ============================================






