// leadspace styles begin ============================================

/*.ibm-mod-template #ibm-leadspace-head {display:none;}
.ibm-mod-template #ibm-content #ibm-leadspace-head {display:block;}*/

/* ===this class is used for v16 test pages which migrated to v17 */

#ibm-leadspace {
    padding: 0 10px; 
} 
.ibm-landing-page #ibm-leadspace {
    padding: 0;
}
/* End of v16 class used in v17============ */

.ibm-landing-page #ibm-leadspace-head.ibm-no-tabs #ibm-leadspace-body {
    min-height: 290px;
    padding-bottom: 10px; 
}

#ibm-leadspace-head {
   	background-color: #F7F7F7;
	@include background-gradient(background,(top, #FFF, #F7F7F7));
    border-bottom: 1px solid #E5E5E5;
}

.ibm-landing-page #ibm-leadspace-head h1 {
    padding: 30px 0;
}

.ibm-landing-page #ibm-leadspace-head #ibm-navigation-trail + .ibm-columns h1 {
    padding: 5px 0 30px;
}

.ibm-landing-page #ibm-leadspace-head p {
  	padding-bottom: 0;
}
.ibm-landing-page #ibm-leadspace-head.ibm-no-image p {
    width: auto;
}

#ibm-leadspace-head p em {
	font-style: normal;
    color: #666;
}

#ibm-leadspace-head p em span {
    color: #A91024;
    display: block;
}

#ibm-leadspace-head a {
    text-decoration: none;
}

#ibm-leadspace-head a:hover,
#ibm-leadspace-head a:active {
	text-decoration: underline;
}

#ibm-leadspace-body {
    width: $landingGrid;
   	@include text-shadow($emboss-light);
    margin: 0 auto;
    padding: 0 0 50px;
    min-height: 250px;
}


/* styles for short leadspace ===================*/

.ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-leadspace-body {
    min-height: 80px;
    padding-bottom: 40px;   
}

.ibm-landing-page #ibm-leadspace-head.ibm-alternate.ibm-no-tabs #ibm-leadspace-body {
    min-height: 110px;
    padding-bottom: 10px;
}


.ibm-landing-page #ibm-leadspace-head.ibm-alternate #ibm-navigation-trail + .ibm-columns h1 {
   padding: 0 0 10px;
}

.ibm-landing-page #ibm-leadspace-head.ibm-alternate h1 {
	padding: 10px 0;
}

.ibm-landing-page #ibm-leadspace-head.ibm-alternate p {
	padding-bottom: 8px;
}

/* ======ibm-35-space class is only used with short leadspace , without tabs, without navigation trail and without subtitle*/
.ibm-landing-page #ibm-leadspace-head.ibm-alternate h1.ibm-35-space{
    padding-top: 35px;
}

/*===== Not sure where this style is used ====*/
.ibm-landing-page #ibm-leadspace-head #ibm-leadspace-body.ibm-alternate h1 {
    color: #FFF;
}

/* End of styles for short leadsapce ==========================*/



#ibm-content #ibm-leadspace-head.ibm-no-image p {
    width: 100%;
}

/* Styles of leadspace for default pages =====================*/
#ibm-content #ibm-leadspace-head{
    background: none;
    border-bottom: 0 none;
    min-height: 70px;
    _height: 70px;
}

#ibm-content #ibm-leadspace-body {
    padding: 0;
    margin: 0;
    min-height: inherit;
}
#{$ie7Selector} #ibm-content #ibm-leadspace-head,
#{$ie7Selector} #ibm-content #ibm-leadspace-body {
	min-height: 70px;
}

#ibm-content #ibm-leadspace-head #ibm-navigation-trail {
 	padding: 10px 0 0 10px;
}

#ibm-content #ibm-leadspace-head #ibm-navigation-trail + .ibm-columns h1 {
	padding: 0;
}
#ibm-content #ibm-leadspace-head h1 {
	padding: 20px 0 0;
} 

#ibm-content #ibm-leadspace-head p {
    padding: 0 0 10px;
}

#ibm-content #ibm-leadspace-head img {
	padding-left: 10px;
	padding-top: 20px;
}

.ibm-content-expand #ibm-content #ibm-leadspace-head #ibm-leadspace-body {
    width: auto;
}



/* high definition styles - remove left and right nav to allow wider template */
/* Multileaf Ledaspace style */
/* the black background leadspace now work with ibm-alternate-bg and ibm-alternate-background class. Plan is to sunset ibm-alternate-bg class */

.ibm-landing-page #ibm-leadspace-head.ibm-ribbon #ibm-leadspace-body {
    width: 100%;
}

#{$ie7Selector} .ibm-landing-page #ibm-leadspace-head.ibm-ribbon #ibm-leadspace-body{
	padding-bottom:0;
}

.ibm-landing-page #ibm-leadspace-head.ibm-ribbon h1,
.ibm-landing-page #ibm-leadspace-head.ibm-ribbon h2 {
  	padding: 30px 0;
  	text-shadow: 0 1px 0 #FFF;
	
}

.ibm-landing-page #ibm-leadspace-head.ibm-alternate-bg.ibm-ribbon h1,
.ibm-landing-page #ibm-leadspace-head.ibm-alternate-background.ibm-ribbon h1,
.ibm-landing-page #ibm-leadspace-head.ibm-alternate-bg.ibm-ribbon h2,
.ibm-landing-page #ibm-leadspace-head.ibm-alternate-background.ibm-ribbon h2{
	color: #e4e4e4;
	text-shadow: 0 1px 0 #E4E4E4;
}

.ibm-landing-page #ibm-leadspace-head.ibm-alternate-bg.ibm-ribbon p em span,
.ibm-landing-page #ibm-leadspace-head.ibm-alternate-backgroud.ibm-ribbon p em span {
    color: #FFCF01;
}

    
.ibm-landing-page #ibm-leadspace-head.ibm-ribbon .ibm-columns {
    clear: none;
    min-height: 300px;
    float: left;
   
}

.ibm-landing-page #ibm-leadspace-head.ibm-ribbon .ibm-columns [class*="ibm-col-"] {
   
    margin: 0 auto;
    float: none;
    position: relative;
}
/* ribbon navigation styles begins============================ */

.ibm-landing-page #ibm-leadspace-head .ibm-ribbon-nav {
    margin: -70px auto 0;
    width: auto;
}
#{$ie7Selector} .ibm-landing-page #ibm-leadspace-head .ibm-ribbon-nav {
 	margin: -60px auto 0;
}


.ibm-landing-page #ibm-leadspace-head .ibm-ribbon-nav a {
	background: url(#{$imagePath}/i/lead/leafed_lead_space_dots_sprite.png) no-repeat 0px -219px transparent;
	overflow: visible;
	text-indent: 0;
	position: relative;
	text-decoration: none; /* IE7 fix */
}


.ibm-landing-page #ibm-leadspace-head .ibm-ribbon-nav a:hover, 
.ibm-landing-page #ibm-leadspace-head .ibm-ribbon-nav a:focus  {
    outline: none;
    background-position: 0 -110px;      
}

.ibm-landing-page #ibm-leadspace-head .ibm-ribbon-nav a.ibm-active {
    background-position: 0 -1px;     
}

.ibm-landing-page #ibm-leadspace-head.ibm-no-tabs .ibm-ribbon-nav a {
	outline: none !important;
	position: relative;
	text-decoration: none; /* IE7 fix */
    background-image: none;
	border: 2px solid rgba(205, 205, 205, 0.95);
    border: 2px solid #EEE\9;
    display: inline-block;
    height: 30px;
	@include border-radius(2px);
	@include box-shadow(0 1px 3px rgba(0,0,0,0.3));
    width: 45px;
    z-index: 899;
	padding: 0;
    margin-right: 8px;
    line-height: 0;
}

.ibm-landing-page #ibm-leadspace-head.ibm-no-tabs .ibm-ribbon-nav a.ibm-active {
    top: -5px;
}

.ibm-landing-page #ibm-leadspace-head.ibm-no-tabs .ibm-ribbon-nav a:hover, 
.ibm-landing-page #ibm-leadspace-head.ibm-no-tabs .ibm-ribbon-nav a.ibm-active {
    border: 2px solid rgba(182,182,182,0.95);
    border: 2px solid #EEE\9;
	@include border-radius(2px);
	@include box-shadow(0 1px 3px rgba(0,0,0,0.6));
}

.ibm-landing-page #ibm-leadspace-head .ibm-ribbon-view {
    cursor: pointer;
}

.ibm-landing-page #ibm-leadspace-head.ibm-no-tabs .ibm-ribbon-view {
    height: 30px;
    width: 45px;
}



.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay {
    display: none;
    background:url(#{$imagePath}/i/lead/lead_pagination_overlay.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    text-align: left;
    width: 328px;
    height: 113px;
    top: -115px;
    left: -255px;
}


.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay span.ibm-lead-thumb-1, 
.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay span.ibm-lead-thumb-2, 
.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay span.ibm-lead-thumb-3,
.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay span.ibm-lead-thumb-4 {
    border: 1px solid #FFF;
    display: block;
    float: left;
    height: 60px;
    margin: 18px 18px 18px 20px;
    width: 60px;
}

.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay h2 {
    color: #FFDF4E;
    @include px-to-rem(font-size,12px);
    font-weight: bold;
    left: 90px;
    top: 0; /* will fix position in IE7 */
    padding: 4px 0;
    position: absolute;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    width: auto;
}

.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay p {
    color: #999;
     @include px-to-rem(font-size,11.5px);
    left: 90px;
    padding: 0 16px 0 0;
    position: absolute;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    top: 35px;
    width: auto;
    line-height:15px;
}

.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay.ibm-alternate h2,
.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay.ibm-alternate p {
    left: 20px;
}

.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay:hover h2 {
    color: #FFC;
}

.ibm-landing-page #ibm-leadspace-head .ibm-pagination-overlay:hover p {
    color: #CCC;
}

.ibm-landing-page #ibm-leadspace-head a.ibm-ribbon-prev {
    left: 200px;
    margin-top: 140px;
    z-index: 1;
}

.ibm-landing-page #ibm-leadspace-head a.ibm-ribbon-next {
    margin-top: -160px;
    right: 200px;
    display: none;
}

#{$ie7Selector} .ibm-landing-page #ibm-leadspace-head a.ibm-ribbon-next {
	margin-top: 138px !important;
}

.ibm-landing-page #ibm-leadspace-head a.ibm-disabled {
    visibility: hidden;
}

/* overide homepage logo */
/*  by default 2nd and 3rd leadspace should not be visible */
#ibm-lead-2, 
#ibm-lead-3,
#ibm-leadspace-head.ibm-ribbon div.ibm-columns div.ibm-ribbon-view {
    display: none;
}
/* non js leadspace */
#ibm-leadspace-body #ibm-lead-1 {
    height: 300px;
    width: 100%;
}
/*End of Multileaf Leadspace=========================== */

/*=Start========== Dark background definition ============*/

#ibm-leadspace-head.ibm-alternate-background #ibm-leadspace-body {
	@include text-shadow($emboss-dark);
}
#ibm-leadspace-head.ibm-alternate-background {
	@include background-gradient(background,(top, $k90, $k85));
}

.ibm-alternate-background h1,
.ibm-alternate-background a {
    color: #FFF;
}

#ibm-leadspace-head.ibm-alternate-background p em {
    color: #CCC;
}

#ibm-leadspace-head.ibm-alternate-background p em span {
    color: #FFCF01;
}

.ibm-alternate-background p a {
    color: #82D1F5;
}

.ibm-alternate-background p a:hover {
    color: #B2E2F8;
}

.ibm-landing-page #ibm-leadspace-head.ibm-alternate-background .ibm-ribbon-nav a{
     background-position: 0 -504px !important;
}


.ibm-landing-page #ibm-leadspace-head.ibm-alternate-background .ibm-ribbon-nav a:hover, 
.ibm-landing-page #ibm-leadspace-head.ibm-alternate-background .ibm-ribbon-nav a:focus {
    background-position: 0 -415px !important;
}


.ibm-landing-page #ibm-leadspace-head.ibm-alternate-background .ibm-ribbon-nav a.ibm-active{
    background-position: 0 -316px !important;
}


/*=End========== Dark background definition ============*/
