// navigation styles begin ============================================

#ibm-navigation {
	position: relative;
	float: left;
	left: -182px;
	_left: 0px;
	margin: 14px 0% 0% -100%;
	_margin-left: -960px;
	padding: 1.1em 0 30px;
	width: 172px;
}

#{$ie7Selector} .ibm-liquid #ibm-navigation {
	margin-left: -100%;
}

#ibm-secondary-navigation ul {
	padding-left: $iconSpaceLeft;
}

#ibm-secondary-navigation ul li a {
	display: block;
    *zoom:1;
	_height: 1%;
	text-decoration: none;
}

#ibm-secondary-navigation ul li a:hover {
	text-decoration: underline;
}

/* IBM Left NAVIGATION PRIMARY LINKS */


/*

CSS bug tracker fo LN

TO-DO: declartions should be merged

To Do: Once the changed design is approved, will remove all the commented code (Minija)

Know issue:
- a:hover gradiend removed from IE in order to display the arrow

Comments
following attibutes needs to be set for IE7/8 to clear gradien on submenu level
-ms-filter: none;
filter: none;
*/

#ibm-navigation #ibm-primary-links {
	background: url(#{$imagePath}/i/t/left_nav_base_solid.png) no-repeat bottom right #EEE;
	background: url(#{$imagePath}/i/t/left_nav_base_solid.png) no-repeat bottom right, -moz-radial-gradient(40px 200px, circle closest-corner, #f2f2f2 50%, #e8e9e9 100%);
	background: url(#{$imagePath}/i/t/left_nav_base_solid.png) no-repeat bottom right, -o-radial-gradient(40px 200px, circle closest-corner, #f2f2f2 50%, #e8e9e9 100%);
	background: url(#{$imagePath}/i/t/left_nav_base_solid.png) no-repeat bottom right, -webkit-radial-gradient(40px 200px, circle closest-corner, #f2f2f2 50%, #e8e9e9 100%);
	_background: url(#{$imagePath}/i/t/left_nav_base_solid.png) no-repeat bottom right #EEE;
	padding-bottom: 30px;
}

#ibm-navigation #ibm-primary-links #ibm-parent-link {
	position: relative;
	margin-top: -20px;
    border: 0px;
    background: #FFF;
}

#ibm-navigation #ibm-primary-links li#ibm-parent-link a {
	border-top: none;
	border-bottom: 1px solid #FFF;
	display: block;
	margin: 0;
	padding: 3px 6px 3px $iconSpaceLeft;
}

#ibm-navigation #ibm-primary-links li#ibm-parent-link a:hover {
	background: #FFF;
}

#ibm-navigation #ibm-primary-links li {
	padding: 0;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color:#e0e0e0;
}

#ibm-navigation #ibm-primary-links li:before {
	line-height: 2;
}

#ibm-navigation #ibm-primary-links li.ibm-is-active, 
#ibm-navigation #ibm-primary-links li.ibm-active   {
    border-bottom: 1px solid #e0e0e0;
    background-color: #FFF;
	_zoom:1;
}

#ibm-navigation #ibm-primary-links a {
    padding: 7px 14px 6px 7px;
    color: #4b4b4b;
    display: block;
    text-decoration: none;
    *zoom: 1;
    border-top: 1px solid #f4f4f5;
    border-bottom: 1px solid #d7d7d8;
	_height: 1%;
}

#ibm-navigation #ibm-primary-links a:hover {
	text-decoration: none;
	background-color: #9c9c9c;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DFE2E4', endColorstr='#C7C9CC')";
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DFE2E4', endColorstr='#C7C9CC');
	@include background-gradient(background,(top, #DFE2E4, #C7C9CC));
	color: #000;
	text-shadow: 0px 1px 0px #FFF;
	border-top-color: #e5e7e9;
}

#ibm-navigation #ibm-primary-links a:focus {
     background: none;
    background-color: #FFF;
    color: #111;
}

#ibm-navigation #ibm-primary-links > li > a:active {
    padding: 8px 14px 7px 8px;
    margin-left: -1px; /* needed for A to span over side borders of LI*/
    margin-right: -1px; /* needed for A to span over side borders of LI*/
    color: #FFF;
    background: url(#{$imagePath}/i/t/left_nav_chevron_sprite.png) no-repeat 154px -424px #485159; /* absolution position of BG image needs to be set because of negative margin offset */
	@include background-image-gradient(url(#{$imagePath}/i/t/left_nav_chevron_sprite.png), no-repeat 155px -424px, top, #485159, #A2A9B2);
    text-shadow: none;
    border: 0px;
}

#ibm-navigation #ibm-primary-links > li > a.ibm-is-active, 
#ibm-navigation #ibm-primary-links > li > a.ibm-active,
#ibm-navigation #ibm-primary-links li a.ibm-is-active + ul,
#ibm-navigation #ibm-primary-links li a.ibm-active + ul {
    background: #FFF;
    color: #000;
}

#ibm-navigation #ibm-primary-links > li > a.ibm-is-active:active, 
#ibm-navigation #ibm-primary-links > li > a.ibm-active:active {
	margin-left: 0 !important; 
	margin-right: 0 !important; 
	padding: 7px 14px 6px 7px;
}

#ibm-navigation #ibm-primary-links li.ibm-is-active a, 
#ibm-navigation #ibm-primary-links li.ibm-active a {
    border-bottom: 0;
    padding-bottom: 3px;
}

#ibm-navigation #ibm-primary-links li.ibm-is-active a:hover, 
#ibm-navigation #ibm-primary-links li.ibm-active a:hover, 
#ibm-navigation #ibm-primary-links li.ibm-is-active a:active, 
#ibm-navigation #ibm-primary-links li.ibm-active a:active {
   color: #000;
}

#ibm-navigation #ibm-primary-links li ul {
    padding-left: 10px;
}

#ibm-navigation #ibm-primary-links li ul li {
    background:none;
    border: 0;
    padding-left: 7px;
}

#ibm-navigation #ibm-primary-links li li.ibm-is-active, 
#ibm-navigation #ibm-primary-links li li.ibm-active  {
   /* background:none;*/
    border-bottom: 0;
    filter:none;
}

#ibm-navigation #ibm-primary-links li ul li a {
    padding-left: 0;
    padding-bottom: 3px;
    padding-top: 5px;
    border: 0px;
    background: none;
}

#ibm-navigation #ibm-primary-links li ul li a:hover {
    text-decoration: underline;
    background: none;
    -ms-filter: none;
    filter: none;

}


#ibm-navigation #ibm-primary-links li ul li a.ibm-is-active, 
#ibm-navigation #ibm-primary-links li ul li a.ibm-active {
    -ms-filter: none;
    filter: none;
    color: #000;
    padding-left: 0px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;

}

#ibm-navigation #ibm-primary-links li ul li a.ibm-is-active:hover, 
#ibm-navigation #ibm-primary-links li ul li a.ibm-active:hover {
    _background-color: #EEE;
    _color: #000;
}

#ibm-navigation #ibm-primary-links li ul li ul {
    padding-left: 3px;
}

#ibm-navigation #ibm-primary-links li ul li ul li.ibm-is-active, 
#ibm-navigation #ibm-primary-links li ul li ul li.ibm-active {
	background: url(#{$imagePath}/i/t/left_nav_bullet.png) no-repeat 0px 11px;
	-ms-filter: none;
	filter: none;
	list-style: none;
	border: 0px;
}

#ibm-navigation #ibm-primary-links #ibm-parent-link a:hover, 
#ibm-navigation #ibm-primary-links #ibm-parent-link a:active {
    -ms-filter: none;
    filter: none;
    background-color: transparent;
    text-decoration: underline;
    color: #666;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #FFF;
}

#ibm-navigation #ibm-primary-links #ibm-overview {
    border-width: 1px;
    border-style: solid;
    border-top-color:#d7d9dd;
    border-left-color:#a0a3a9;
    border-bottom-color:#575a5d;
    border-right-color: #92969b;
}


#ibm-navigation #ibm-primary-links #ibm-overview a, 
#ibm-navigation #ibm-primary-links #ibm-overview a:hover, 
#ibm-navigation #ibm-primary-links #ibm-overview a:active {
    background-color: #9c9c9c;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b9bdc3', endColorstr='#62676b')";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9bdc3', endColorstr='#62676b');
	@include background-gradient(background,(top, #b9bdc3, #62676b));
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    border: 0px;
    color: #FFF;
    margin-left: 0;
    margin-right: 0;
    padding: 7px 6px 6px 7px;
}


/* IBM NAVIGATION RELATED LINKS */
#ibm-secondary-navigation {
    color: #666;
	padding: 10px 0 0 0;
}

#ibm-secondary-navigation li {
	padding-left: 0;
}


