// popup styles begin ============================================

.ibm-popup#ibm-top {
	min-width: 390px;
}

.ibm-popup #ibm-content-sidebar,
.ibm-popup #ibm-navigation,
.ibm-popup #ibm-media,
.ibm-popup #ibm-mast-options,
.ibm-popup #ibm-menu-links,
.ibm-popup #ibm-search-module,
.ibm-popup #ibm-footer,
.ibm-popup #ibm-related-content,
.ibm-popup #ibm-footer-module,
.ibm-popup #ibm-social-tools {
	display: none;
}

.ibm-popup#ibm-top {
	margin-top: 34px;
}

.ibm-popup #ibm-pcon {
	background: #FFF;
 	margin: 20px auto;
 	padding: 0 0 10px 20px;
 	width: auto;
}

.ibm-popup #ibm-masthead {
	background: #000;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64',endColorstr='#1B1B1C');
	@include background-gradient(background,(top, #595C64, #1B1B1C));
	border-bottom: medium none;
	height: 32px;
	min-width: 390px;
}

.ibm-popup #ibm-universal-nav #ibm-unav-links {
	float: none !important;
}

.ibm-popup #ibm-universal-nav{
	height: 32px;
	min-width: 390px;
	border-bottom: medium none;
	border-top: medium none;
}

.ibm-popup  #ibm-universal-nav li#ibm-home {
	width: 160px;
}

.ibm-popup #ibm-universal-nav li#ibm-home a {
	background-position: 0px -100px;
	display: block;
	position: relative;
	margin: 0;
	_border: 0 none;
	height: 23px;
	_height: 1%;
	width: 50px;
}

.ibm-popup #ibm-universal-nav li#ibm-home a:hover {
	background-position: 0px -130px;
}

.ibm-popup #ibm-universal-nav li#ibm-title {
	color: #CCC;
	float: right !important;
	font-size: 0.85em;
	font-weight: bold;
	margin: 8px 10px 0;
	text-align: right;
	text-shadow: 0 1px 0 #000;
}

.ibm-popup #ibm-leadspace-head #ibm-leadspace-body {
	width: 100%;
	margin: 0;
}

.ibm-popup #ibm-content-main {
	width: 95%;
}

.ibm-popup #ibm-content #ibm-content-main p.ibm-intro {
	color: #222;
}

.ibm-popup #ibm-content .ibm-buttons-row p {
    padding: 10px 0;
    width: 95%;
}

.ibm-popup .ibm-buttons-row{
	padding-bottom: 20px;
    padding-top: 10px;
    text-align: right;
}

.ibm-popup iframe {
	border: 2px solid #CCC;
	font-weight: normal; 
	font-size: 0.8em; 
	color: rgb(0, 0, 0);
}

#ibm-mytext {
    max-width: 480px;
    min-width: 95%;
}

.ibm-popup .ibm-buttons-row span.ibm-sep {
    clear: none;
    display: inline !important;
    margin: 0 !important;
    padding: 5px;
}