// ribbon styles begin ============================================

.ibm-landing-page #ibm-content .ibm-columns .ibm-video,
.ibm-landing-page #ibm-content .ibm-columns .ibm-playlist {
	margin-bottom: 0;
}

#ibm-content .ibm-video .ibm-ribbon {
	border-top: 0 none;
	margin-top: -10px !important;
}

#ibm-content .ibm-video .ibm-container-body,
#ibm-content .ibm-playlist .ibm-container-body,
#ibm-content .ibm-ribbon .ibm-container-body,
#ibm-media .ibm-ribbon .ibm-container-body,
#ibm-related-content .ibm-ribbon .ibm-container-body {
	position: relative;
}

#{$ie7Selector} #ibm-content .ibm-video .ibm-container-body,
#{$ie7Selector} #ibm-content .ibm-playlist .ibm-container-body,
#{$ie7Selector} #ibm-content .ibm-ribbon .ibm-container-body,
#{$ie7Selector} #ibm-media .ibm-ribbon .ibm-container-body {
	height: 1%;
}

.ibm-ribbon-pane {
	position: relative;
	overflow: hidden;
	width: auto;
	margin: 0 auto;
	clear: both;
}

.ibm-col-6-2 .ibm-ribbon.ibm-alternate .ibm-ribbon-pane.ibm-ribbon-next {
	background: none;
	display: none;
}

/*Code added for added IE 7 width fix of right-column ribbon pane */ 

#{$ie7Selector} .ibm-col-6-2 .ibm-ribbon.ibm-alternate .ibm-ribbon-pane {
	width: 300px;
}

/* *begin* - WorkItem 278022 - reverted to rev.10176: to show flash/ oblject which loads after ribbon height calculated - adding .ibm-ribbon-fixed for dynamic objects - Hemang P */
#ibm-content .ibm-container.ibm-ribbon.ibm-ribbon-fixed .ibm-container-body,
#ibm-media .ibm-container.ibm-ribbon.ibm-ribbon-fixed .ibm-container-body {
	height: 230px;
}

#ibm-content .ibm-container.ibm-ribbon.ibm-ribbon-fixed .ibm-container-body .ibm-ribbon-pane {
	height: 220px;
}

#ibm-content .ibm-container.ibm-ribbon.ibm-ribbon-fixed .ibm-portrait  .ibm-container-body,
#ibm-media .ibm-container.ibm-ribbon.ibm-ribbon-fixed .ibm-portrait .ibm-container-body {
	height: 110px;
}

#ibm-content .ibm-container.ibm-ribbon.ibm-ribbon-fixed .ibm-portrait .ibm-container-body .ibm-ribbon-pane,
#ibm-media .ibm-container.ibm-ribbon.ibm-ribbon-fixed .ibm-portrait .ibm-container-body .ibm-ribbon-pane {
	height: 90px;
	height: 88px#{$ie9Hack};
	*height: 87px;
}

#ibm-masthead .ibm-ribbon-pane {
	width: 960px;
}

/* *end* - WorkItem 278022 - reverted to rev.10176: to show flash/ oblject which loads after ribbon height calculated - adding .ibm-ribbon-fixed for dynamic objects - Hemang P */

#ibm-masthead .ibm-ribbon-pane .ibm-columns  {
	clear: none;
	float: left;
}

#ibm-masthead .ibm-ribbon-pane .ibm-columns  .ibm-columns {
	margin: 0;
}

#ibm-content .ibm-video .ibm-columns,
#ibm-content .ibm-ribbon .ibm-ribbon-section .ibm-columns,
#ibm-related-content .ibm-ribbon .ibm-ribbon-section .ibm-columns,
#ibm-media .ibm-ribbon .ibm-columns {
	margin: 0 -10px;
	clear: none;
	float: left;
}

#ibm-content .ibm-playlist .ibm-columns {
	margin: 0 -10px;
	clear: none;
	float: none;
}
/*
.ibm-landing-page #ibm-content .ibm-video .ibm-columns,
.ibm-landing-page #ibm-content .ibm-playlist .ibm-columns  {
	margin: 0 -20px;
}
*/
#ibm-media .ibm-ribbon .ibm-columns, 
.ibm-landing-page #ibm-content .ibm-ribbon .ibm-columns {
	margin: 0 -10px;
}

.ibm-landing-page #ibm-content-main .ibm-columns .ibm-col-1-1 .ibm-media .ibm-ribbon .ibm-columns,
.ibm-landing-page #ibm-content .ibm-video .ibm-ribbon .ibm-columns  {
    margin: 0;
}

#ibm-content .ibm-playlist .ibm-scroll-pane .ibm-columns {
	float: left;
}
.ibm-liquid #ibm-content .ibm-playlist .ibm-scroll-pane .ibm-columns {
	float: none;
}

#ibm-common-menu .ibm-dlg-close span{
	background-position: 7px -996px;
}

#ibm-common-menu .ibm-dlg-close span:hover, #ibm-common-menu .ibm-dlg-close span:focus{
	background-position: 6px -797px;
}

.ibm-ribbon-section {
	position: absolute;
	width: 20000em;
	margin: 0 -10px;
}

.ibm-ribbon-container.ibm-media-list .ibm-ribbon-section {
	margin: 0;
}

.ibm-ribbon-nav {
	margin: 0 auto;
	width: 100px;
	height: 20px;
	text-align: center;
}

.ibm-ribbon-nav a {
	background: url(#{$imagePath}/i/icons/scroll_nav_sprite.gif) 0 -200px no-repeat;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 3px;
	*margin-top: 10px;
	text-decoration: none;
}

.ibm-ribbon-nav a:hover {
	background-position: 0 -208px;      
}

.ibm-ribbon-nav a.ibm-active {
	background-position: 0 -216px;     
}

.ibm-ribbon-nav a {
	font-size: 0;
	text-indent: -100%;
	*text-indent: 0;
	overflow:hidden;
	margin-top: 10px;
	color: transparent;
}

/* 
 * ribbon in ibm-col-6-2 "sidebar"
 */
/* move the nav (the dots) up to the h2 */
.ibm-alternate .ibm-container-body .ibm-ribbon-nav {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -30px;
	text-align: right;
}

.ibm-alternate .ibm-container-body .ibm-ribbon-pane .ibm-ribbon-section .ibm-columns {	
	padding: 0 10px 10px !important;
}

/* do not show the navigation arrows (merged selector with "ribbon in ibm-col-6-2 "sidebar" ENDS)" */
.ibm-alternate .ibm-container-body .ibm-ribbon-prev, 
.ibm-alternate .ibm-container-body .ibm-ribbon-next,
#ibm-masthead a.ibm-ribbon-next,
#ibm-masthead a.ibm-ribbon-prev  {
	display: none;	
}

a.ibm-disabled {
	visibility: hidden;
}
/* ibm-ribbon styles end */

span.ibm-thumbnail {
	display: block;
	overflow: hidden;
	border: 1px solid #666\9;
	outline: 1px solid rgba(0,0,0,.1);
	outline-offset: -1px;
}

.ibm-playlist .ibm-col-5-1 span.ibm-thumbnail,
.ibm-ribbon .ibm-col-5-1 span.ibm-thumbnail {
	width: 172px;
	width: 170px\9;
	height: 108px;
	margin-top: 10px;	
}

.ibm-playlist .ibm-col-5-1 .ibm-thumbnail img,
.ibm-ribbon .ibm-col-5-1 .ibm-thumbnail img {
	width: 172px;
	height: 108px;
}

.ibm-playlist .ibm-col-6-1 span.ibm-thumbnail,
.ibm-ribbon .ibm-col-6-1 span.ibm-thumbnail {
	width: 140px;
	width: 138px\9;
	height: 88px;
	margin-top: 10px;
}

#ibm-related-content .ibm-ribbon .ibm-col-6-1 span.ibm-thumbnail {
	height: 64px;
}

.ibm-playlist .ibm-col-6-1 .ibm-thumbnail img,
.ibm-ribbon .ibm-col-6-1 .ibm-thumbnail img {
	width: 140px;
	height: 88px;
}

#ibm-related-content .ibm-ribbon .ibm-col-6-1 .ibm-thumbnail img {
	height: 64px;
}

#ibm-related-content .ibm-ribbon .ibm-container-body{
	padding-bottom: 10px;
}

#ibm-content .ibm-portrait .ibm-portrait-module-list,
#ibm-content .ibm-portrait .ibm-thumbnail-list {
	padding: 1px 0 0 0;
}

.ibm-portrait .ibm-portrait-module-list span.ibm-thumbnail,
.ibm-portrait .ibm-thumbnail-list span.ibm-thumbnail,
.ibm-ribbon .ibm-col-6-2 span.ibm-thumbnail {
	position: relative;
	width: 60px;
	width: 58px\9;
	height: 45px;
	margin: 9px 10px 10px 0;
	float: left;
}

.ibm-ribbon .ibm-col-6-2 span.ibm-thumbnail {
	margin-top: 4px;
}

.ibm-portrait .ibm-portrait-module-list .ibm-thumbnail img,
.ibm-portrait .ibm-thumbnail-list .ibm-thumbnail img,
.ibm-ribbon .ibm-col-6-2 .ibm-thumbnail img {
	width: 60px;
	height: 45px;
	float: none !important;
}

#ibm-content .ibm-portrait .ibm-portrait-module-list li,
#ibm-content .ibm-portrait .ibm-thumbnail-list li {
	padding: 0 0 1px 0;
	clear: both;
	width: 100%;
}

#ibm-content .ibm-container.ibm-playlist.ibm-portrait .ibm-portrait-module-list li,
#ibm-content .ibm-container.ibm-playlist.ibm-portrait .ibm-thumbnail-list li {
	padding: 0 0 5px 0;
}

span.ibm-thumbnail span {
	position: relative;
	background-color: #000;
	color: #FFF;
	float: right;
	@include px-to-rem(font-size,11px);
}

span.ibm-thumbnail span.ibm-video-play {
	background-color: transparent;
}

.ibm-portrait span.ibm-thumbnail span,
.ibm-col-5-1 span.ibm-thumbnail span,
.ibm-col-6-1 span.ibm-thumbnail span,
.ibm-ribbon-pane .ibm-col-6-2 span.ibm-thumbnail span {
	top: -18px;
}

.ibm-col-6-2 span.ibm-thumbnail span,
.ibm-col-6-3 span.ibm-thumbnail span {
        top: -32px;
		*top: 47px; /* ie7 fix */
}

#ibm-content .ibm-columns div.ibm-col-6-1 div.ibm-ribbon h2 {
	display: block;
	height: 20px;
	width: 100px;
	overflow: hidden;
	line-height: 20px;
}

.ibm-portrait h2 a,
.ibm-portrait h3 a,
.ibm-ribbon h2 a,
.ibm-ribbon h3 a {
	color: #000;
	text-decoration: none;
}

.ibm-portrait .ibm-media-thumb.ibm-media-active h2 a,
.ibm-portrait .ibm-media-thumb.ibm-media-active h3 a,
.ibm-ribbon .ibm-media-thumb.ibm-media-active h2 a,
.ibm-ribbon .ibm-media-thumb.ibm-media-active h3 a {
	color: #AAA;
}

.ibm-portrait .ibm-col-6-2 p,
.ibm-portrait .ibm-portrait-module-list p,
.ibm-portrait .ibm-thumbnail-list p {
	margin-left: 70px;
}

/* Hover for ribbon container */
.ibm-ribbon-section .ibm-col-5-1,
.ibm-ribbon-section .ibm-col-6-1,
.ibm-ribbon-section .ibm-col-6-2 {
	cursor: text;
}

.ibm-portrait .ibm-portrait-module-list li,
.ibm-portrait .ibm-thumbnail-list li {
	cursor: pointer;
}

#ibm-masthead .ibm-ribbon-section .ibm-col-5-1,
#ibm-masthead .ibm-ribbon-section .ibm-col-6-1,
#ibm-masthead .ibm-ribbon-section .ibm-col-6-2 {
	cursor: default;
}

#ibm-content .ibm-video .ibm-container-body p,
#ibm-content .ibm-playlist .ibm-container-body p,
#ibm-content .ibm-ribbon .ibm-container-body p,
#ibm-media .ibm-ribbon .ibm-container-body p {
	color: #666;
	position: relative;
}

#ibm-content .ibm-video .ibm-container-body .ibm-media-thumb.ibm-media-active p,
#ibm-content .ibm-playlist .ibm-container-body .ibm-media-thumb.ibm-media-active p,
#ibm-content .ibm-ribbon .ibm-container-body .ibm-media-thumb.ibm-media-active p,
#ibm-media .ibm-ribbon .ibm-container-body .ibm-media-thumb.ibm-media-active p {
	color: #B3B3B3;
}

/* END ribbon element */

#ibm-pcon #ibm-content #ibm-content-body #ibm-content-main .ibm-ribbon .ibm-ribbon-container .ibm-columns p {
	word-wrap: break-word;
}
