// tabs styles begin ============================================

/* ==============================================================
 * Module name: Primary and secondary leadspace tabs
 * Description: Tab navigation that appears below leadspace module
 * Code test URL: http://205.186.160.10/v17e/templates/basic_layout_1_tabs.html
 * Standards page URL: none
*/ 

#ibm-content-nav {
	position: relative;
	margin-top: -40px;
	min-height: 40px;
}

#ibm-content-nav #ibm-primary-tabs {
	height: 40px;
	overflow: hidden;
	@include background-gradient(background,(top, rgba(0,0,0,0), rgba(0,0,0,0.05)));
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs {
	margin: 0 auto;
	padding: 0 20px;
    width: 940px;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li {
	margin-right: 4px;
	border-top: 1px solid #000;
	position: relative;
	bottom: -1px;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li.ibm-active {
	border-top: 2px solid #000;
	bottom: 0;
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
	display: block;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid rgba(125,125,125,0.25);
	border-left: 1px solid rgba(125,125,125,0.25);
	color: #FFF;
	min-height: 15px;
	padding: 12px 15px;
	background-color: #333;
	background-color: rgba(0,0,0,0.75);
	opacity: .90;
	filter: alpha(opacity = 90);
	text-shadow: 0 0 4px rgba(0,0,0,0.2);
	text-decoration: none;
	@include transition(background-color 0.3s);
}

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:hover, 
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:focus {
    background-color: #000;
}
 
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:active {
	background-color: #999;
	text-shadow: none;
} 

#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li.ibm-active a {
	background-color: #FFF;
	color: #000;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity = 100);
}

#{$ie7Selector} #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
    margin-top: -1px;
}

// Change tab colors when an alternate leadspace is used
#ibm-leadspace-head.ibm-alternate-background + #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a {
	background-color: #CCC;
	background-color: rgba(255,255,255,0.55);
}

#ibm-leadspace-head.ibm-alternate-background + #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li.ibm-active a {
	background-color: #FFF;
}

#ibm-leadspace-head.ibm-alternate-background + #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:hover,
#ibm-leadspace-head.ibm-alternate-background + #ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a:active {
	background-color: #CCC;
}


// Start secondary tab styles
#ibm-content-nav #ibm-secondary-tabs {
	padding: 5px 20px 0;
	border-bottom: 1px solid #CCC;
	text-align: center;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs,
#{$ie7Selector} #ibm-content-nav #ibm-secondary-tab-list.ibm-columns {
	margin: 0 auto;
    width: 940px;
}

.ibm-landing-page #ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li {
	display: block;
	padding: 0 15px;
	margin: 4px 0 10px;
    text-align: center;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li:last-child {
	border-right: 0;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs a {
	text-decoration: none;
	color: #666;
    overflow: auto;
    zoom: 1;
	padding-bottom: 10px;
}

#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs a:hover,
#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs a:focus,
#ibm-content-nav #ibm-secondary-tabs ul.ibm-tabs li.ibm-active a {
	color: #000;
	border-bottom: 2px solid #000;
}

/* ==============================================================
*/


/* added styles for dynamic-tab lists 
* COMMENTING OUT THIS CODE TO CONFIRM WHY THE DYNTABS OPTION IS REMOVING THE ANCHOR <A> TAGS FROM THE TABS


#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs a {
	padding: 0;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active a {
	padding-bottom: 1px;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li {
	display: block;
	color: #000;
	padding: 10px 25px;
	background-color: #DDD;
	background-color: rgba(216,216,216,0.9);
	text-shadow:0px 1px 0px #FFF;
	text-decoration: none;
	cursor:pointer;
	font-weight: bold;
	font-size: 0.9em;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:hover, 
#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:focus {
	background-color: #EEE;
    background-color: rgba(229,229,229,0.95);
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:active, 
#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active {
	background-color: #999;
	background-color: rgba(153,153,153,0.8);
	color: #000;
	text-shadow: none;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dyntabs ul.ibm-tabs li {
	text-decoration: none;
	color: #666;
	margin: 0px 15px;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li:focus {
	border-color: #D5D5D5;
	outline: thin dotted;
}

#ibm-content-nav #ibm-primary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active {
	background: #FFF;
	padding-bottom: 11px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dyntabs ul.ibm-tabs li:hover,
#ibm-content-nav #ibm-secondary-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active {
	color: #000;
}

#{$ie7Selector} .ibm-container.ibm-dyntabs .ibm-tab-section.ibm-text,
#{$ie7Selector} .ibm-columns.ibm-dyntabs .ibm-tab-section.ibm-text {
	padding-bottom: 0;
}

.ibm-dyntabs div.ibm-text ul.ibm-tabs li {
	*zoom: 1;
	_zoom: 0;
}

.ibm-graphic-tabs.ibm-dyntabs ul.ibm-tabs li.ibm-active:focus {
	outline: thin dotted;
}

*/



/* ==============================================================
 * Module name: Content space graphic tabs
 * Description: Thick tab navigation within content space.  Very similar to leadspace tabs, except they are in the content.
 * Code test URL: http://205.186.160.10/v17e/templates/template_elements/text_tabs.html
 * Standards page URL: none
*/ 


/* CONTENT TABS START */

/* Graphic tabs  ======*/
.ibm-columns.ibm-graphic-tabs {
	margin: 0 10px;
}

#ibm-top .ibm-columns .ibm-columns.ibm-graphic-tabs,
.ibm-columns.ibm-graphic-tabs [class*="ibm-col-"],
.ibm-text ul.ibm-link-list li  {
	margin: 0;
}

#ibm-content .ibm-container.ibm-graphic-tabs,
.ibm-tab-section.ibm-text {
	border-top: 0;
}

.ibm-tab-section {
	margin-bottom: 20px;
}

.ibm-graphic-tabs .ibm-tab-section {
	border-bottom: 1px solid #CCC;
}

.ibm-graphic-tabs ul.ibm-tabs li {
	background: #DEDEDE;
	@include background-gradient(background,(bottom, #CDCDCD, #DEDEDE));
	border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #E8E8E8;
    min-height: 35px;
    padding: 15px 10px 0;
    cursor: pointer;
}

.ibm-graphic-tabs ul.ibm-tabs li.ibm-first-tab {
 	border-left: 1px solid #E8E8E8;
}

.ibm-graphic-tabs ul.ibm-tabs li:hover {
	background: #C6C6C6;
}

.ibm-graphic-tabs ul.ibm-tabs li.ibm-active {
    background: none;
    border-color: #CCC #CCC #FFF;
    border-style: solid;
    border-width: 1px;
    color: #000;
    margin-bottom: -2px;;
}

.ibm-graphic-tabs.ibm-combo-tabs .ibm-tab-section.ibm-text {
	border-bottom: 0;
	border-top: 0;
	padding-top: 0;
	margin-top: -10px;
	text-align: center;
}

.ibm-tab-section.ibm-text.ibm-alternate-align {
	text-align: left;
}

.ibm-columns .ibm-container > .ibm-tab-section.ibm-text,
.ibm-container > .ibm-tab-section.ibm-text {
	margin-top: -2px;
}

.ibm-container .ibm-tab-section.ibm-text,
.ibm-columns .ibm-tab-section.ibm-text {
 	border-top: 2px solid #CCC;
 	border-bottom: 2px solid #CCC;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.ibm-default .ibm-columns .ibm-tab-section.ibm-text {
	 margin: 0 10px 20px;
}

ul.ibm-tabs:after {
	@include aslett-clearing;
}

ul.ibm-tabs li {
	padding: 0;
	float: left;
}

ul.ibm-tabs a {
	color: #454545;
	text-decoration: none;
}

ul.ibm-tabs a:hover,
ul.ibm-tabs a:visited {
	color: #000;
}

/* ==============================================================
*/





/* Text tabs ====== */
.ibm-text ul.ibm-tabs li {
	background: none;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 1px solid #CCC;
    float: none;
    display: inline;  
    line-height: 2em;
    cursor: pointer;
    padding: 0 13px 0 14px;
}

.ibm-text ul.ibm-tabs li:hover {
	background: none;
}

.ibm-text ul.ibm-tabs li a:active,
.ibm-text ul.ibm-tabs li.ibm-active {
	color: #454545 !important;
	font-weight: bold;
}

.ibm-text ul.ibm-tabs li.ibm-active:visited, 
.ibm-text ul.ibm-tabs li.ibm-active:hover {
	background:#FFF;
	color: #000;
}

.ibm-text ul.ibm-bullet-list li,
.ibm-text ul.ibm-link-list li {
	display: block;
	border-right: 0;
	text-align: left;
}

.ibm-text ul.ibm-bullet-list li a,
.ibm-text ul.ibm-link-list li a {
	text-decoration: none;
	color: #00649D
}

.ibm-text ul.ibm-tabs.ibm-inner-list li {
	border-right: 0;
}

.ibm-text ul.ibm-tabs li.ibm-last-tab {
	border-right: 0 !important;
}

.ibm-combo-tabs div.ibm-text ul.ibm-tabs li {
	*zoom: 1;
	_zoom: 0;
}

.ibm-text div.ibm-rule, 
.ibm-text ul.ibm-tabs span.ibm-sep {
	display: none;
}

#{$ie7Selector} .ibm-tab-section {
	width: 100%;
}

#{$ie7Selector} .ibm-text ul.ibm-tabs li {
	margin-bottom: 10px;
	min-height: 10px;
	line-height: 1.8em !important;
}

/* CONTENT TABS END */



/* Secondary subtab lists */
#ibm-content-nav #ibm-secondary-tab-list {
	padding-bottom: 20px;
	text-align: left;
}

#ibm-content-nav #ibm-secondary-tabs #ibm-secondary-tab-list h2 {
	@include px-to-rem(font-size,14px);
	padding: 0;
}

#{$ie7Selector} #ibm-secondary-tab-list.ibm-columns [class*="ibm-col-"]{
	margin: 0;
}

#ibm-content-nav #ibm-secondary-tab-list a {
	text-decoration: none;
	color: #000;
}

#ibm-content-nav #ibm-secondary-tab-list li {
	padding: 2px 0 0 15px;
	height: 1%;
	clear: left;
}

#ibm-content-nav #ibm-secondary-tab-list a:hover {
	color: #333;
}

#ibm-content-nav #ibm-secondary-tab-list a:active,
#ibm-content-nav #ibm-secondary-tab-list li.ibm-active a {
	color: #000;
}

#ibm-content-nav #ibm-expand-container.ibm-columns {
	text-align: right;
}

#ibm-content-nav #ibm-expand-container p.ibm-expand-text {
	position: absolute;
	right: 190px;
	top: 50px;
	
}

#ibm-content-nav #ibm-expand-container p.ibm-expand-text,
#ibm-content-nav #ibm-dropdown-content p.ibm-expand-text {
	cursor: pointer;
	color: #00649D;
}

#ibm-content-nav #ibm-secondary-tabs p.ibm-expand-text:hover {
	color: #008ABF;
	text-decoration: underline;
}

#ibm-content-nav #ibm-secondary-tabs p.ibm-expand-text:active {
	text-decoration: none;
}

/* DROPDOWN OVERLAYS */
#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view {
    overflow: hidden;
    padding: 10px 20px 20px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view input {
	cursor: pointer;
	width: 300px;
	background: url(#{$imagePath}/i/icons/dropdown_sprite.png) no-repeat 100% -3px;
	border: 0;
	font-size: 0.8em;
	font-weight: bold;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view span {
	display: block;
	float: left;
	width: 300px;
	padding: 3px 3px 5px 9px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#ECECEC');
	@include background-gradient(background,(top,  #FCFCFC,  #ECECEC));
	@include border-radius(2px);
	border: 1px solid #DDD;
	color: #000;
	text-decoration: none;	
}

#ibm-content-nav #ibm-secondary-tabs #ibm-dropdown-content p.ibm-expand-text {
	padding-left: 20px;
	position: relative;
    top: 7px;
	float: left;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view #ibm-expand-container {
	display: none;	
}

#ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay {
	display: none;
	position: absolute;
	background-color: #FFF;
	z-index: 800;
	@include background-gradient(background,(top, #FFF 30%, #CCC 100%));
	@include border-radius(8px);
	@include box-shadow(0 1px 5px #333);
	margin-top: 35px;
	border: 5px solid #666;
}

#{$ie7Selector} #ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay {
	left: 320px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay ul {
	float: left;
	padding: 15px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay ul li {
	padding: 0 4px;
	
}
#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay ul li a {
	padding: 2px;
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay ul li:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');
	background: #595C64;
	@include background-gradient(background,(top, #595C64,  #1B1B1C));
}

#ibm-content-nav #ibm-secondary-tabs.ibm-dropdown-view .ibm-tab-overlay ul li a:hover {
	color: #FFF;
}
/* DROPDOWN OVERLAYS */


