<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta http-equiv="PICS-Label" content='(PICS-1.1 "http://www.icra.org/ratingsv02.html" l gen 

true r (cz 1 lz 1 nz 1 oz 1 vz 1) "http://www.rsac.org/ratingsv01.html" l gen true r (n 0 s 

0 v 0 l 0) "http://www.classify.org/safesurf/" l gen true r (SS~~000 1))'/>
<link href="http://purl.org/DC/elements/1.0/" rel="schema.DC" />
<link href="//www.ibm.com/favicon.ico" rel="SHORTCUT ICON" />
<link href="http://www.ibm.com/technologyservices/cn/zh/" rel="canonical" />
<meta content="v16 ECM/ICP - N599511D71104X97 - 06/07/2010 03:19:00 AM" name="Source" />
<meta content="Public" name="Security" />
<meta content="IBM Corporation" name="DC.Publisher" />
<meta content="IBM 提供各种IT服务，全方位支持企业IT运行与业务运作。" name="Description" />
<meta content="IBM 提供各种IT服务，全方位支持企业IT运行与业务运作。" name="Abstract" />
<meta content="CN" name="IBM.Country" />
<meta content="IT服务、IT服务管理、IT技术服务、中小企业IT服务、IT服务商、IT服务公司、IT服务企业、IT服务供应商、IT服务供应商、行业IT

服务" name="Keywords" />
<meta content="Web Content Manager/China/Contr/IBM" name="Owner" />
<meta content="index,follow" name="Robots" />

<meta content="2011-02-03" scheme="W3CDTF" name="IBM.Effective" />
<meta content="zh-CN" scheme="rfc1766" name="DC.Language" />
<meta content="2011-02-03" scheme="iso8601" name="DC.Date" />
<meta content="© Copyright IBM Corp. 2007, 2011" name="DC.Rights" />
<meta content="SVS00" scheme="IBM_SubjectTaxonomy" name="DC.Subject" />
<meta content="CT003" scheme="IBM_ContentClassTaxonomy" name="DC.Type" />
<title>IBM 服务 - 中国</title>

<!-- V17 Stylesheet and Javascript Code Start  -->

<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->
<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<link href="http://1.www.s81c.com/common/v17/css/country/cnzh.css" rel="stylesheet" title="www" type="text/css"/>
<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->

<script src="../../js/ww.js" type="text/javascript">
//
</script>

<!-- V17 Stylesheet and Javascript Code end  -->

</head>
<body id="ibm-com">
<div id="ibm-top">
<!-- MASTHEAD_BEGIN -->
<div class="ibm-access"><a href="#ibm-content">Skip to main content</a></div>
<div id="ibm-masthead">

<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>



<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
	<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>

	<li class="ibm-access"><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<ul id="ibm-menu-links">
	<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>

<div id="ibm-search-module">
	       
	<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
	<p>
	<label for="q">

	<span class="ibm-access">搜索</span>
	</label>
	<input id="q" value="搜索" maxlength="100" name="q" type="text" accesskey="s"/>
	<input name="v" type="hidden" value="17"/>
	<input type="hidden" name="en" value="utf"/>
	<input name="lang" type="hidden" value="en"/>
	<input name="cc" type="hidden" value="us"/>
	<input name="Submit" value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>

	</p>
	</form>

</div>

</div>



</div>


<!-- MASTHEAD_END -->

<!-- LEADSPACE_BEGIN -->

<div id="ibm-leadspace-head" class="ibm-alternate">

<div id="ibm-leadspace-body">
<h1>服务</h1>
<p><em>IBM 拥有能真正实现业务利润的大量技术服务。</em></p>

</div>

</div>

<!-- LEADSPACE_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- TITLE_BEGIN -->
<div id="ibm-content-head" class="ibm-content-subtitle">
<!-- h1>服务</h1>
<p><em>IBM 拥有能真正实现业务利润的大量技术服务。</em></p-->
</div>
<!-- TITLE_END -->
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">

<!--div id="ibm-leadspace"><a href="http://www.ibm.com/services/cn/gts/huawei/index.html?

ca=navibanner"><img alt="IBM 与华为联合业务和网络专长，为企业构筑运营成本低、服务全面、安全可靠和易于管理的网络环境。了解详情" 

height="160" width="530" src="http://www.ibm.com/images/icp/A627245G00050L37/hero_huawei_530_0521.jpg" 

class="ibm-no-mobile" /><img alt="IBM 与华为联合业务和网络专长，为企业构筑运营成本低、服务全面、安全可靠和易于管理的网络环境。

了解详情" height="97" width="320" src="http://www.ibm.com/images/icp/A627245G00050L37/hero_huawei_320_0521.jpg" 

class="ibm-mobile" /></a>
</div-->
<div class="ibm-columns">
<div class="ibm-col-2-1">
<div class="ibm-container">
<h2>按服务项目分类：</h2>
<div class="ibm-container-body"><ul class="ibm-bullet-list">
<li><a href="http://www-900.ibm.com/cn/services/managedservices/">弹性运维服务</a></li>
<li><a href="http://www.ibm.com/services/cn/index.wss/itservice/bcrs/c1000411">业务连续与灾难恢复服

务</a></li>
<li><a href="http://www.ibm.com/services/cn/index.wss/itservice/imc/c1025977">企业终端用户服务

</a></li>
<li><a href="http://www.ibm.com/services/cn/index.wss/itservice/gn/c1000412">网络服务</a></li>
<li><a href="http://www.ibm.com/services/cn/index.wss/itservice/igs/c1025997">IT 策略与基础架构服务

</a></li>

<li><a href="http://www.ibm.com/services/cn/index.wss/itservice/its/c1000418">维护与技术支持服务

</a></li>
<li><a href="http://www.ibm.com/services/cn/index.wss/itservice/igs/c1025998">中间件服务

</a></li>
<li><a href="http://www.ibm.com/services/cn/gts/outsourcing.html">外包服务</a></li>
<li><a href="http://www-935.ibm.com/services/cn/index.wss/itservice/so/c1000405">企业 IT 安全服

务</a></li>
<li><a href="http://www-935.ibm.com/services/cn/index.wss/itservice/igs/c1025999">服务器服务

</a></li>
<li><a href="http://www-935.ibm.com/services/cn/index.wss/itservice/igs/c1026000">数据中心及智能化

集成服务</a></li>
<li><a href="http://www.ibm.com/services/cn/index.wss/itservice/its/c1000416">数据与存储服务

</a></li>
<li><a href="http://www-306.ibm.com/software/cn/soa/launch/index.html">面向服务的体系结构（SOA）

</a></li></ul><h3 class="ibm-last"><a href="http://www.ibm.com/services/cn/index.wss" 

class="ibm-feature-link">更多服务</a></h3>

</div>
</div>
<div class="ibm-container ibm-alternate">
<div class="ibm-container-body">
</div>
</div>
</div>
<div class="ibm-col-2-1">
<div class="ibm-container">
<h2>其他分类：</h2>
<div class="ibm-container-body">
<form action="http://www.ibm.com/links" method="get" id="form11" onsubmit="return 

ibmCommonDropdown(this)">
<div class="ibm-access"><label for="select11">select11</label></div>
<p>
<select id="select11" name="url">

<option value="" selected="selected">按业务类型分类：</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024566">竞争策略

</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024555">营运/委外

</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024567">顾客服务及忠

诚度</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024553">通路策略实施

</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024556">IT 最适化

</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024568">全新的工作环

境</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024557">灵活可靠的基

础建设</option>
<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024554">安全和防御

</option>

<option value="http://www.ibm.com/services/cn/index.wss/businesstopic/igs/a1024569">价值链效益

</option>
</select><input src="//www.ibm.com/i/v16/buttons/short-btn.gif" alt="Go" value="Go" 

type="image" name="ibm-go" class="ibm-btn-go" />
</p>
</form>
<form action="http://www.ibm.com/links" method="get" id="form12" onsubmit="return 

ibmCommonDropdown(this)">
<div class="ibm-access"><label for="select12">select12</label></div>
<p>
<select id="select12" name="url">
<option value="" selected="selected">按行业分类：</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024588">跨行业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024537">金融业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024548">银行业</option>

<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024546">保险业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024547">零售业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024540">消费品</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024545">批发业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024550">电子业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024543">电信业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024538">媒体与娱乐

</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024541">旅游和运输业

</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024542">汽车行业

</option>

<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024552">石油石化行业

</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024549">政府部门

</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024644">能源与公用事业

</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024544">教育业</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024536">医疗保健

</option>
<option value="http://www.ibm.com/services/cn/index.wss/industry/igs/a1024539">生命科学

</option>
</select><input src="//www.ibm.com/i/v16/buttons/short-btn.gif" alt="Go" value="Go" 

type="image" name="ibm-go" class="ibm-btn-go" />
</p>
</form>
</div>
</div>

<div class="ibm-container">
<h2>中小企业</h2>
<div class="ibm-container-body"><ul class="ibm-portrait-module-list"><li>
<img alt="" height="45" width="60" 

src="http://www.ibm.com/images/icp/C934388U61155B58/it_services_smb_thumb.gif" /><p class="ibm-list-

next"></p><p class="ibm-list-next">我们还提供专为中小企业设计的服务和解决方案。</p><ul class="ibm-bullet-

list">
<li><a href="http://www.ibm.com/cn/express/products/igs/">针对中小企业的服务

</a></li></ul></li></ul>
</div>
</div>
</div>
</div>
</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!-- IBM Contact Module -->

</div>
<!-- J720872J21494X23 -->
<div class="ibm-container">
<h2>IBM 在您身边</h2>
<div class="ibm-container-body">
<img alt="" height="60" width="168" src="http://www.ibm.com/images/icp/O854242O19953K68/contact_IBM.jpg" />

<p>对解决方案感兴趣？欢迎您联系我们。
</p>

<div class="ibm-rule"><hr /></div>
<ul class="ibm-link-list">
<li class="ibm-first"><a href="https://www-900.ibm.com/cn/services/raq.shtml?cm_sp=MTE963" 

class="ibm-forward-link">进一步咨询</a>
</li>
</ul>

</div>
</div>
<!-- S741441T81722R14 -->
<div class="ibm-container">
<h2>IBM 数据中心服务</h2>
<div class="ibm-container-body">
<img alt="成就卓越数据中心，智慧绿色数据中心灵活支撑业务发展" height="64" width="168" 

src="http://www.ibm.com/images/icp/H439644M04741X19/rhn_datacenter.jpg" />

<p>智慧绿色数据中心灵活支持业务发展
</p>

<div class="ibm-rule"><hr /></div>
<ul class="ibm-link-list">
<li class="ibm-first"><a href="http://www.ibm.com/systems/cn/dihub/datacenter/index.shtml" 

class="ibm-forward-link">新书推荐：《成就卓越的数据中心》</a>
</li>

<li><a href="http://www.ibm.com/systems/cn/dihub/datacenter/service.shtml" class="ibm-

forward-link">点击下载白皮书了解更多详情</a>
</li>
</ul>
</div>
</div>
<!-- Z517919X35048S26 -->
<div class="ibm-container ibm-show-hide">
<h2><a>智慧的酒店</a></h2>
<div class="ibm-container-body">
<img alt="" height="64" width="168" src="http://www.ibm.com/images/icp/B364973K90819D58/smart_hotel.jpg" />
<p>看不见的智慧，看得见的享受！</p>
<div class="ibm-rule"><hr /></div>
<ul class="ibm-link-list">
<li class="ibm-first"><a href="https://www.ibm.com/services/cn/gts/smart/?ca=index" 

class="ibm-forward-link">了解详情</a>

</li>
</ul>
</div>
</div>
<!-- P490791T31381J07 -->
<div class="ibm-container ibm-show-hide">
<h2><a>新一代小型数据中心电力解决方案</a></h2>
<div class="ibm-container-body">
<img alt="" height="64" width="168" src="http://www.ibm.com/images/icp/T340072D21053S54/rnav-168x64.jpg" />
<p>IBM 关键设施电源保护方案特惠</p>
<div class="ibm-rule"><hr /></div>
<ul class="ibm-link-list">
<li class="ibm-first"><a 

href="http://www.ibm.com/services/cn/igs/html/hotsale/ups/specail_offer.html?ca=gts" 

class="ibm-forward-link">了解详情</a>
</li>

</ul>
</div>
</div>
<!-- N222796H21717F97 -->
<div class="ibm-container">
<h2>立即行动</h2>
<div class="ibm-container-body">


<div class="ibm-rule"><hr /></div>
<ul class="ibm-link-list">
<li class="ibm-first"><a href="http://www.ibm.com/cn/webapp/xmaorder.jsp" class="ibm-

forward-link">x系列服务器维护服务在线订购</a>
</li>
</ul>
</div>

</div>
<div id="ibm-merchandising-module">
<!-- IBM Web Merchandising Module -->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN - W139592Z29945V36 -->
<div id="ibm-navigation">
<h2 class="ibm-access">网站内容导航</h2>
<ul id="ibm-primary-links">
<li id="ibm-overview"><a href="http://www.ibm.com/technologyservices/cn/zh/index.html">服务

</a></li>

</ul>
<div id="ibm-secondary-navigation">
<!-- SECONDARY NAVIGATION SECTION -->
<h2>相关链接</h2>
<ul id="ibm-related-links">
<li><a href="http://www.ibm.com/cn/services/news/index.shtml">IBM 全球服务新闻室</a></li>
<li><a href="http://www.ibm.com/cn/financing/index.shtml">融资租赁</a></li>
<li><a href="http://www.ibm.com/cn/services/bcs/">业务咨询服务</a></li>
</ul>
</div>
</div>
<!-- NAVIGATION_END -->
</div>

<!-- FOOTER_BEGIN -->


<div id="ibm-related-content"></div>

<div id="ibm-footer-module"></div>

<div id="ibm-footer">
<h2 class="ibm-access">Policy links</h2>
<ul>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>

<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->

</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>