<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta http-equiv="PICS-Label" content='(PICS-1.1 "http://www.icra.org/ratingsv02.html" l gen 

true r (cz 1 lz 1 nz 1 oz 1 vz 1) "http://www.rsac.org/ratingsv01.html" l gen true r (n 0 s 

0 v 0 l 0) "http://www.classify.org/safesurf/" l gen true r (SS~~000 1))'/>
<link href="http://purl.org/DC/elements/1.0/" rel="schema.DC" />
<link href="//www.ibm.com/favicon.ico" rel="SHORTCUT ICON" />
<link href="http://www.ibm.com/technologyservices/cn/zh/" rel="canonical" />
<meta content="v16 ECM/ICP - N599511D71104X97 - 06/07/2010 03:19:00 AM" name="Source" />
<meta content="Public" name="Security" />
<meta content="IBM Corporation" name="DC.Publisher" />
<meta content="IBM 提供各种IT服务，全方位支持企业IT运行与业务运作。" name="Description" />
<meta content="IBM 提供各种IT服务，全方位支持企业IT运行与业务运作。" name="Abstract" />
<meta content="CN" name="IBM.Country" />
<meta content="IT服务、IT服务管理、IT技术服务、中小企业IT服务、IT服务商、IT服务公司、IT服务企业、IT服务供应商、IT服务供应商、行业IT

服务" name="Keywords" />
<meta content="Web Content Manager/China/Contr/IBM" name="Owner" />
<meta content="index,follow" name="Robots" />

<meta content="2011-02-03" scheme="W3CDTF" name="IBM.Effective" />
<meta content="zh-CN" scheme="rfc1766" name="DC.Language" />
<meta content="2011-02-03" scheme="iso8601" name="DC.Date" />
<meta content="© Copyright IBM Corp. 2007, 2011" name="DC.Rights" />
<meta content="SVS00" scheme="IBM_SubjectTaxonomy" name="DC.Subject" />
<meta content="CT003" scheme="IBM_ContentClassTaxonomy" name="DC.Type" />
<title>IBM 服务 - 中国</title>

<!-- V17 Stylesheet and Javascript Code Start  -->

<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->
<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<link href="http://1.www.s81c.com/common/v17/css/country/cnzh.css" rel="stylesheet" title="www" type="text/css"/>
<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->

<script src="../../js/ww.js" type="text/javascript">
//
</script>

<!-- V17 Stylesheet and Javascript Code end  -->

</head>
<body id="ibm-com">
<div id="ibm-top" class="ibm-landing-page">
<!-- MASTHEAD_BEGIN -->
<div class="ibm-access"><a href="#ibm-content">Skip to main content</a></div>
<div id="ibm-masthead">

<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>



<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
	<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>

	<li class="ibm-access"><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<ul id="ibm-menu-links">
	<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>

<div id="ibm-search-module">
	       
	<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
	<p>
	<label for="q">

	<span class="ibm-access">搜索</span>
	</label>
	<input id="q" value="搜索" maxlength="100" name="q" type="text" accesskey="s"/>
	<input name="v" type="hidden" value="17"/>
	<input type="hidden" name="en" value="utf"/>
	<input name="lang" type="hidden" value="en"/>
	<input name="cc" type="hidden" value="us"/>
	<input name="Submit" value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>

	</p>
	</form>

</div>

</div>



</div>


<!-- MASTHEAD_END -->
<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate">
<div id="ibm-leadspace-body">
<h1>挑战。越来越多的操作系统以及</h1>
<p><em><span>当今零散的移动格</span> 当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、 <a href="REPLACE.HTML">系统以及各种设备</a></em></p>
</div>
</div>
<!-- LEADSPACE_END -->

<!-- CONTENT_NAV_BEGIN -->
<!-- CONTENT_NAV_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- TITLE_BEGIN -->
<div id="ibm-content-head">
</div>
<!-- TITLE_END -->
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">

<!-- COLUMN VARIATIONS START -->











<p><strong>4 column grid</strong></p>

<!-- 4 1-1-1-1 grid -->
<p><strong>1-1-1-1 grid</strong></p>

<div class="ibm-columns">

<div class="ibm-col-4-1">
<h2>Lorem ipsum: ibm-col-4-1</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。. 
</p>
</div>

<div class="ibm-col-4-1">
<h2>Lorem ipsum: ibm-col-4-1</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。 
</p>
</div>

<div class="ibm-col-4-1">
<h2>Lorem ipsum: ibm-col-4-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>
</div>

<div class="ibm-col-4-1">
<h2>Lorem ipsum: ibm-col-4-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>
</div>

</div>
<!-- 4 1-1-1-1 grid -->

<!-- 4 2-1-1 grid -->
<p><strong>2-1-1 grid</strong></p>

<div class="ibm-columns">

<div class="ibm-col-4-2">
<h2>Lorem ipsum: ibm-col-4-2</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。
</p>
</div>

<div class="ibm-col-4-1">
<h2>Lorem ipsum: ibm-col-4-1</h2>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
</p>
</div>

<div class="ibm-col-4-1">
<h2>Lorem ipsum: ibm-col-4-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>
</div>

</div>
<!-- 4 2-1-1 grid -->


<!-- 4 3-1 grid -->
<p><strong>3-1 grid</strong></p>

<div class="ibm-columns">

<div class="ibm-col-4-3">
<h2>Lorem ipsum: ibm-col-4-3</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。
</p>
</div>

<div class="ibm-col-4-1">
<h2>Lorem ipsum: ibm-col-4-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
</p>
</div>

</div>
<!-- 4 3-1 grid -->


<p><strong>5 column grid</strong></p>

<!-- 5 1-1-1-1-1 grid -->
<p><strong>1-1-1-1-1 grid</strong></p>

<div class="ibm-columns">

<div class="ibm-col-5-1">

<img src="http://placehold.it/172x117" />

<h2>Lorem ipsum: ibm-col-5-1</h2>

<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</p></div>

<div class="ibm-col-5-1">

<img src="http://placehold.it/172x117" />

<h2>Lorem ipsum: ibm-col-5-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

</p></div>

<div class="ibm-col-5-1">

<img src="http://placehold.it/172x117" />

<h2>Lorem ipsum: ibm-col-5-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
</p></div>

<div class="ibm-col-5-1">

<img src="http://placehold.it/172x117" />

<h2>Lorem ipsum: ibm-col-5-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
</p></div>

<div class="ibm-col-5-1">

<img src="http://placehold.it/172x117" />

<h2>Lorem ipsum: ibm-col-5-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p></div></div>
<!-- 5 1-1-1-1-1 grid -->


<!--5 2-1-1-1 grid -->
<p><strong>2-1-1-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-5-2">
<h2>Lorem ipsum: ibm-col-5-2</h2>

<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。
</p></div>

<div class="ibm-col-5-1">
<h2>Lorem ipsum: ibm-col-5-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>

<div class="ibm-col-5-1">
<h2>Lorem ipsum: ibm-col-5-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>

<div class="ibm-col-5-1">
<h2>Lorem ipsum: ibm-col-5-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
</div>
</div>
<!-- 5 2-1-1-1 grid -->


<!-- 5 3-1-1 grid -->
<p><strong>3-1-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-5-3">
<h2>Lorem ipsum: ibm-col-5-3</h2>

<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</div>

<div class="ibm-col-5-1">
<h2>Lorem ipsum: ibm-col-51</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<div class="ibm-col-5-1">
<h2>Lorem ipsum: ibm-col-51</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
</div>

<!-- 5 3-1-1 grid -->


<!-- 5 4-1 grid -->
<p><strong>4-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-5-4">
<h2>Lorem ipsum: ibm-col-5-4</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</div>

<div class="ibm-col-5-1">
<h2>Lorem ipsum: ibm-col-5-1</h2>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit ame.
</p></div></div>
<!-- 5 4-1 grid -->


<div class="ibm-rule"><hr /></div>


<p><strong>6 column grid</strong></p>

<!-- 6 1-1-1-1-1-1 grid -->
<p><strong>1-1-1-1-1-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-6-1">

<img src="http://placehold.it/140x94" />

<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</div>
<div class="ibm-col-6-1">

<img src="http://placehold.it/140x94" />

<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">

<img src="http://placehold.it/140x94" />

<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">

<img src="http://placehold.it/140x94" />

<h2>Lorem ipsum: ibm-col-6-1</h2>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">

<img src="http://placehold.it/140x94" />

<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">

<img src="http://placehold.it/140x94" />

<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

</div>
<!-- 6 1-1-1-1-1-1 grid -->


<!-- 6- 2-1-1-1-1 grid -->
<p><strong>2-1-1-1-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-6-2">

<h2>Lorem ipsum: ibm-col-6-2</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>

</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

</div>

<!-- 6- 2-1-1-1-1 grid -->


<!-- 6- 3-1-1-1 grid -->
<p><strong>3-1-1-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-6-3">
<h2>Lorem ipsum: ibm-col-6-3</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</p></div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

</div>
<!-- 6- 3-1-1-1 grid -->


<!-- 6- 4-1-1 grid -->
<p><strong>4-1-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-6-4">
<h2>Lorem ipsum: ibm-col-6-4</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempo.</p>
</div>

</div>
<!-- 6- 4-1-1 grid -->


<!-- 6- 5-1 grid -->
<p><strong>5-1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-6-5">
<h2>Lorem ipsum: ibm-col-6-5</h2>
<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。
<div class="ibm-columns">
<div class="ibm-col-6-1">
<h2>Lorem ipsum: inner ibm-col-6-1</h2>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
</div>

<div class="ibm-col-6-4">
<h2 class="ibm-rule">Lorem ipsum: inner ibm-col-6-4</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>


<div class="ibm-container">
<h2>Section container</h2>
<div class="ibm-container-body">

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
</div>
</div>

</div>
</div>


<div class="ibm-columns">
<div class="ibm-col-6-3">
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</div>

<div class="ibm-col-6-2">

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.</p>
</div>

</div>


</div>

<div class="ibm-col-6-1">
<h2>Lorem ipsum: ibm-col-6-1</h2>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi.</p>

<div class="ibm-container">
<h2>Section container</h2>

<div class="ibm-container-body">
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
</div>
</div>

</div>

</div>
<!-- 6- 5-1 grid -->

<!-- 1- 1 grid -->
<p><strong>1 grid</strong></p>
<div class="ibm-columns">

<div class="ibm-col-1-1">
<h2>Lorem ipsum: ibm-col-1-1</h2>

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="REPLACE.HTML">大挑战。越来越多</a></li>
<li><a class="ibm-email-link" href="REPLACE.HTML">大挑战。越来越多</a></li>
<li><a class="ibm-download-link" href="REPLACE.HTML">大挑战。越来越多</a></li>
<li><a class="ibm-anchor-down-link" href="REPLACE.HTML">大挑战。越来越多</a></li>
</ul>

<p>当今零散的移动格局给应用开发带来巨大挑战。越来越多的操作系统以及各种设备、形状系数和标准使本机应用程序开发成本过高，因此，跨平台解决方案和移动开发工具的市场需求越来越大。IBM&reg; Worklight 利用基于行业的技术和工具，帮助企业有效地创建、运行并管理面向智能手机和平板电脑的 HTML5、混合应用程序和本机应用程序。</div>

</div>
<!-- 1- 1 grid -->


<div class="ibm-container">
<h2>Section container</h2>
<div class="ibm-container-body">
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</div>
</div>

<!-- COLUMN VARIATIONS END -->


</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation"></div>
<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content">
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
</div>
<!-- FOOTER_BEGIN -->

<div id="ibm-related-content"></div>

<div id="ibm-footer-module"></div>

<div id="ibm-footer">
<h2 class="ibm-access">Policy links</h2>
<ul>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>

<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->

</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>