<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta http-equiv="PICS-Label" content='(PICS-1.1 "http://www.icra.org/ratingsv02.html" l gen 

true r (cz 1 lz 1 nz 1 oz 1 vz 1) "http://www.rsac.org/ratingsv01.html" l gen true r (n 0 s 

0 v 0 l 0) "http://www.classify.org/safesurf/" l gen true r (SS~~000 1))'/>
<link href="http://purl.org/DC/elements/1.0/" rel="schema.DC" />
<link href="//www.ibm.com/favicon.ico" rel="SHORTCUT ICON" />
<link href="http://www.ibm.com/solutions/cn/zh/" rel="canonical" />
<meta content="v16 ECM/ICP - E845546P95488P99 - 12/29/2010 12:46:00 AM" name="Source" />
<meta content="Public" name="Security" />
<meta content="IBM Corporation" name="DC.Publisher" />
<meta content="IBM 整合硬件、软件、业务咨询及IT服务，提供完整、全面的业务解决方案，满足不同行业的业务需求。" 

name="Description" />
<meta content="IBM 整合硬件、软件、业务咨询及IT服务，提供完整、全面的业务解决方案，满足不同行业的业务需求。" name="Abstract" 

/>
<meta content="CN" name="IBM.Country" />
<meta content="业务解决方案、行业解决方案、跨行业解决方案、解决方案、中小企业解决方案、解决方案定制" name="Keywords" />
<meta content="conmgr@cn.ibm.com" name="Owner" />
<meta content="index,follow" name="Robots" />

<meta content="2011-02-03" scheme="W3CDTF" name="IBM.Effective" />
<meta content="zh-CN" scheme="rfc1766" name="DC.Language" />
<meta content="2011-02-03" scheme="iso8601" name="DC.Date" />
<meta content="© Copyright IBM Corp. 2007, 2011" name="DC.Rights" />
<meta content="SA.000" scheme="IBM_SubjectTaxonomy" name="DC.Subject" />
<meta content="CT053" scheme="IBM_ContentClassTaxonomy" name="DC.Type" />
<title>IBM 解决方案 - 中国</title>

<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->
<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<link href="/common/v17/css/country/cnzh.source.css" rel="stylesheet" title="www" type="text/css"/>
<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->
<script src="../../js/ww.js" type="text/javascript">
//
</script>

<!-- V17 Stylesheet and Javascript Code end  -->



</head>
<body id="ibm-com">
<div id="ibm-top">
<!-- MASTHEAD_BEGIN -->
<div class="ibm-access"><a href="#ibm-content">Skip to main content</a></div>
<div id="ibm-masthead">

<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>

<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
	<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>

	<li class="ibm-access"><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<ul id="ibm-menu-links">
	<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>

<div id="ibm-search-module">
	       
	<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
	<p>
	<label for="q">

	<span class="ibm-access">Search</span>
	</label>
	<input id="q" value="搜索" maxlength="100" name="q" type="text" accesskey="s"/>
	<input name="v" type="hidden" value="17"/>
	<input type="hidden" name="en" value="utf"/>
	<input name="lang" type="hidden" value="en"/>
	<input name="cc" type="hidden" value="us"/>
	<input name="Submit" value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>

	</p>
	</form>

</div>

</div>



</div>


<!-- MASTHEAD_END -->
<!-- LEADSPACE_BEGIN -->

<div id="ibm-leadspace-head" class="ibm-alternate">

<div id="ibm-leadspace-body">
<h1>解决方案</h1>

</div>

</div>

<!-- LEADSPACE_END -->



<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- TITLE_BEGIN -->
<!--div id="ibm-content-head" class="ibm-content-expand">
<a href="http://www-900.ibm.com/city/cn/index.shtml?ca=ibmwebcontact"><img 

alt="IBM区域网站全新改版上线 展现距离之美，助力发展中城市新高度" height="200" width="710" 

src="http://www.ibm.com/images/icp/N877844H96159S38/hero-vbo-city-20100810.jpg" class="ibm-no-mobile" /><img 

alt="IBM区域网站全新改版上线 展现距离之美，助力发展中城市新高度" height="103" width="320" 

src="http://www.ibm.com/images/icp/N877844H96159S38/hero-vbo-city-wireless20100810.jpg" class="ibm-mobile" 

/></a>
</div-->
<!-- TITLE_END -->
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">
<!-- div id="ibm-leadspace">
</div-->

<div class="ibm-columns">
<h2 class="ibm-alternate">解决方案</h2>
<div class="ibm-col-6-2 ibm-columns">
<p class="ibm-list-next"><strong>按行业分类：</strong><br />
IBM 整合其硬件，软件，业务咨询及IT服务，形成完整的解决方案组，以满足不同的业务需求。
</p>
<div class="ibm-col-4-1">
<form action="http://www.ibm.com/links" method="get" id="form111" onsubmit="return 

ibmCommonDropdown(this)">
<div class="ibm-access"><label for="select111">select111</label></div>
<p>
<select id="select111" name="url">
<option value="" selected="selected">按行业分类</option>
<option value="http://www-900.ibm.com/cn/industry/finance/solution/index.shtml">金融业

</option>

<option value="http://www-900.ibm.com/cn/industry/finance/solution/banking.shtml">银行业

</option>
<option value="http://www-900.ibm.com/cn/industry/finance/solution/insurance.shtml">保险业

</option>
<option value="http://www.ibm.com/smb/cn/industries/retail/index.shtml">零售业</option>
<option value="http://www-900.ibm.com/cn/industry/distribution/solution/index.shtml">流通业

</option>
<option value="http://www-900.ibm.com/cn/industry/industrial/solution/solu_commu.shtml">电子行

业</option>
<option value="http://www-900.ibm.com/cn/industry/telecom/solution/index.shtml">电信业

</option>
<option value="http://www-900.ibm.com/cn/smb/industries/media/">媒体与娱乐业</option>
<option value="http://www-900.ibm.com/cn/smb/industries/travel/">交通运输业</option>
<option value="http://www-900.ibm.com/cn/industry/industrial/solution/solu_aero.shtml">航空航天

造船业</option>

<option value="http://www-900.ibm.com/cn/industry/industrial/solution/solu_auto.shtml">汽车制造

业</option>
<option value="http://www-900.ibm.com/cn/industry/industrial/solution/solu_petro.shtml">石油石

化业</option>
<option value="http://www-900.ibm.com/cn/public/offertogov/h/">政府与公众事业</option>
<option value="http://www-900.ibm.com/cn/industry/education/solution/">教育</option>
<option value="http://www-900.ibm.com/cn/public/healthcare/solutions/">医疗与生命科学</option>
<option value="">__________________________</option>
</select><input src="//www.ibm.com/i/v16/buttons/short-btn.gif" alt="Go" value="Go" 

type="image" name="ibm-go" class="ibm-btn-go" />
</p>
</form>
</div>
<div class="ibm-col-4-1">

<form action="http://www.ibm.com/links" method="get" id="form121" onsubmit="return 

ibmCommonDropdown(this)">
<div class="ibm-access"><label for="select121">select121</label></div>
<p>
<select id="select121" name="url">
<option value="" selected="selected">按商业需求分类</option>
<option value="http://www.ibm.com/smb/cn/business/infrastructure/index.shtml">IT 基础架构解决方案

</option>
<option value="http://www.ibm.com/cn/express/business/bi/index.shtml">商务智能（BI）</option>
<option value="http://www.ibm.com/cn/express/business/scm/index.shtml">供应链管理（SCM）</option>
<option value="http://www.ibm.com/cn/express/business/erp/index.shtml">企业资源规划（ERP）</option>
<option value="http://www.ibm.com/cn/express/business/crm/index.shtml">客户关系管理（CRM）</option>

<option value="http://www.ibm.com/cn/smb/solutions/plm/">产品生命周期管理（PLM）</option>
<option value="http://www.ibm.com/cn/smb/industries/media/index.shtml">媒体娱乐</option>
<option value="http://www.ibm.com/software/cn/solution/info_conformity.html">信息集成</option>
<option value="http://www.ibm.com/solutions/businesssolutions/sensors/index.jsp">传感器与传动结构

</option>
<option value="http://www.ibm.com/software/cn/solutions/soa/launch/index.html">智能 SOA  解决方

案</option>
<option value="">__________________________</option>
</select><input src="//www.ibm.com/i/v16/buttons/short-btn.gif" alt="Go" value="Go" 

type="image" name="ibm-go" class="ibm-btn-go" />
</p>
</form>
</div>
</div>

<div class="ibm-col-6-1">
<p class="ibm-list-next">另外，IBM 与 IT 业界的领先企业组成了紧密的联盟，以确保提供业务解决方案。
</p>
<form action="http://www.ibm.com/links" method="get" id="form211" onsubmit="return 

ibmCommonDropdown(this)">
<div class="ibm-access"><label for="select211">select211</label></div>
<p>
<select id="select211" name="url">
<option value="" selected="selected">按顶级业务合作伙伴分类：</option>
<option value="http://www.ibm.com/cn/services/hotsale/cisco/index.shtml">IBM 和 

Cisco</option>
<option value="http://www-900.ibm.com/cn/services/bcs/alliance/oracle/index.shtml">IBM 与 

Oracle</option>
<option value="http://www-900.ibm.com/cn/services/bcs/alliance/sap/index.shtml">IBM 与 

SAP</option>
<option value="">__________________________</option>

</select><input src="//www.ibm.com/i/v16/buttons/short-btn.gif" alt="Go" value="Go" 

type="image" name="ibm-go" class="ibm-btn-go" />
</p>
</form>
</div>
</div>
<div class="ibm-columns">
<div class="ibm-col-2-1">
<div class="ibm-container">
<h2>中小企业解决方案</h2>
<div class="ibm-container-body">
<p>我们专门为中小企业，订制了更适合您服务及解决方案。
</p><div class="ibm-indent"><p class="ibm-ind-link"><a 

href="http://www.ibm.com/cn/express/industries/index.shtml" class="ibm-forward-em-link">行业解

决方案</a></p></div><div class="ibm-indent"><p class="ibm-ind-link"><a 

href="http://www.ibm.com/cn/express/" class="ibm-forward-em-link">为中型企业及机构量身定制的 IBM 易捷优势

</a></p></div>
</div>
</div>

</div>
<div class="ibm-col-2-1">
<div class="ibm-container">
<h2>与专家互动</h2>
<div class="ibm-container-body">
<p>各行业 IT 权威在这里参与解决您的业务难题。
</p><div class="ibm-indent"><p class="ibm-ind-link"><a 

href="http://www.ibm.com/cn/services/bcs/" class="ibm-forward-em-link">业务咨询服务

</a></p></div>
</div>
</div>
</div>
</div>
</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">

<!-- IBM Contact Module -->
</div>
<!-- K282743F17373E40 -->
<div class="ibm-container">
<h2>中低端产品特惠商城</h2>
<div class="ibm-container-body">
<img alt="" height="64" width="168" src="http://www.ibm.com/images/icp/M220991F03695G03/rnav_buy.jpg" />

<p>产品全面升级，优惠量身定制，IBM 中低端产品特惠商城，全方位的 IT 采购平台
</p>

<div class="ibm-rule"><hr /></div>
<ul class="ibm-link-list">
<li class="ibm-first"><a href="https://www.ibm.com/cn/promotion/esg/xseries/" class="ibm-

forward-link">了解更多</a>
</li>

</ul>
</div>
</div>
<!-- L478413L06129Y38 -->
<div class="ibm-container">
<h2>节省 2.5亿成本</h2>
<div class="ibm-container-body">
<img alt="" height="64" width="168" src="http://www.ibm.com/images/icp/Y488456C53587A66/rhn_youngor.jpg" />

<p>商业智能在雅戈尔上演库存消失奇迹
</p>

<div class="ibm-rule"><hr /></div>
<ul class="ibm-link-list">
<li class="ibm-first"><a href="http://www.ibm.com/software/cn/data/youngor/index.html" 

class="ibm-forward-link">了解更多</a>

</li>
</ul>
</div>
</div>
<div id="ibm-merchandising-module">
<!-- IBM Web Merchandising Module -->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN - R516273H97761C21 -->
<div id="ibm-navigation">
<h2 class="ibm-access">网站内容导航</h2>

<ul id="ibm-primary-links">
<li id="ibm-overview"><a href="/solutions/cn/zh/" class="ibm-is-active">解决方案</a></li>
</ul>
<div id="ibm-secondary-navigation">
<!-- SECONDARY NAVIGATION SECTION -->
<h2>相关链接</h2>
<ul id="ibm-related-links">
<li><a href="http://www.ibm.com/cn/services/news/index.shtml">IBM 全球服务新闻室</a></li>
<li><a href="http://www.ibm.com/cn/financing/index.shtml">融资租赁</a></li>
<li><a href="http://www.ibm.com/cn/services/bcs/">业务咨询服务</a></li>
</ul>
</div>

</div>
<!-- NAVIGATION_END -->
</div>
<!-- FOOTER_BEGIN -->


<div id="ibm-related-content"></div>

<div id="ibm-footer-module"></div>

<div id="ibm-footer">
<h2 class="ibm-access">Policy links</h2>
<ul>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>

<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>