<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html lang="hu-HU" xml:lang="hu-HU" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<link href="http://purl.org/DC/elements/1.0/" rel="schema.DC"/>
<link href="//www.ibm.com/favicon.ico" rel="SHORTCUT ICON"/>
<link href="http://www.ibm.com/services/hu/gbs/consulting/" rel="canonical"/>
<meta content="v17 delivery:ECM/Filegen authoring:ECM/IConS Adopter 42 - D154934N53855H82 - 05/09/2013 10:55:27 PM" name="Source"/>
<meta content="public" name="Security"/>
<meta content="IBM Corporation" name="DC.Publisher"/>
<meta content="Az IBM Global Business Services stratégiai üzleti tanácsadást kínál, szakértelmet az iparági vállalkozási és információtechnológiai problémák terén, valamint az olyan kulcsfontosságú megoldási területek jobb megismerését biztosítja, mint a vásárlói kapcsolatkezelés, a beszállítói lánc és a pénzügyi tranzakciók kezelése. Ugyanakkor olyan nagyléptékű megvalósítási képességekkel is rendelkezik, mint az üzletátalakítás kiszervezése, az IT-infrastruktúra és a legfontosabb technológiák." name="Description"/>
<meta content="HU" name="IBM.Country"/>
<meta content="global business services, gbs, bcs, üzleti tanácsadás, üzleti tanácsadási szolgáltatások, üzleti szolgáltatások, globális üzleti tanácsadás, üzleti tanácsadás, üzleti stratégia, stratégiai tanácsadás, tanácsadási szolgáltatások, globális üzleti tanácsadás" name="Keywords"/>
<meta content="Laura Toth/Hungary/Contr/IBM" name="Owner"/>
<meta content="index,follow" name="Robots"/>
<meta content="2012-06-28" scheme="W3CDTF" name="IBM.Effective"/>
<meta content="2022-06-26" scheme="W3CDTF" name="IBM.Expires"/>
<meta content="Az IBM Global Business Services stratégiai üzleti tanácsadást kínál, szakértelmet az iparági vállalkozási és információtechnológiai problémák terén, valamint az olyan kulcsfontosságú megoldási területek jobb megismerését biztosítja, mint a vásárlói kapcsolatkezelés, a beszállítói lánc és a pénzügyi tranzakciók kezelése. Ugyanakkor olyan nagyléptékű megvalósítási képességekkel is rendelkezik, mint az üzletátalakítás kiszervezése, az IT-infrastruktúra és a legfontosabb technológiák." name="Abstract"/>
<meta content="hu-HU" scheme="rfc1766" name="DC.Language"/>
<meta content="2013-05-09" scheme="iso8601" name="DC.Date"/>
<meta content="© Copyright IBM Corp. 2013, 2012" name="DC.Rights"/>
<meta content="SVH00" scheme="IBM_SubjectTaxonomy" name="DC.Subject"/>
<meta content="CT505" scheme="IBM_ContentClassTaxonomy" name="DC.Type"/>
<meta content="ZZ" scheme="IBM_IndustryTaxonomy" name="IBM.Industry"/>

<!-- eTree :.: Title :.: Üzleti tanácsadás-->
<title>IBM Üzleti tanácsadás - Magyarország</title>
<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<script src="../../js/ww.js" type="text/javascript">
//
</script>

<script type="text/javascript">
ibmweb.config.set({
siteid:'www',
merchandising:{enabled:false}
});
</script>
<style type="text/css">
#ibm-lead-1 { background: url(/services/image/gbs-hero-leaf-2.png) no-repeat 50% 0px; }
#ibm-leadspace-head .ibm-lead-thumb-1 { background: url(/services/image/gbs-hero-leaf-2-thumb.jpg) no-repeat 0px 0px; }
#ibm-lead-2 { background: url(/services/image/gbs-hero-leaf-1.png) no-repeat 50% 0px; }
#ibm-leadspace-head .ibm-lead-thumb-2 { background: url(/services/image/gbs-hero-leaf-1-thumb.jpg) no-repeat 0px 0px; }
#ibm-lead-3 { background: url(/services/image/gbs-hero-leaf-3.png) no-repeat 50% 0px; }
#ibm-leadspace-head .ibm-lead-thumb-3 { background: url(/services/image/gbs-hero-leaf-3-thumb.jpg) no-repeat 0px 0px; }
</style></head>
<!-- eTree :.: Breadcrumb trail :.: -->
<!-- eTree :.: Left navigation :.: -->
<!-- eTree :.: Tab navigation :.: -->
<body id="ibm-com">
<div id="ibm-top" class="ibm-landing-page">

<!-- MASTHEAD_BEGIN -->
<div id="ibm-masthead">
<div id="ibm-mast-options">
<ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Válasszon országot/régiót: </span>Magyarország</a></li>
</ul>
</div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/hu/hu/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
<li><a href="http://www.ibm.com/sitemap/hu/hu/">Oldaltérkép</a></li>
</ul>
<div id="ibm-search-module">
<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
<p>
<label for="q"><span class="ibm-access">Keresés</span></label>
<input type="text" maxlength="100" value="" name="q" id="q"/>
<input type="hidden" value="17" name="v"/>
<input type="hidden" value="utf" name="en"/>
<input type="hidden" value="hu" name="lang"/>
<input type="hidden" value="hu" name="cc"/>
<input type="submit" id="ibm-search" class="ibm-btn-search" value="Elküldés"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->
<!--
            LEAFED_LEADSPACE_BEGIN
        -->
<div id="ibm-leadspace-head" class="ibm-container ibm-no-tabs ibm-ribbon">
<div class="ibm-container-body" id="ibm-leadspace-body">
<div class="ibm-columns" id="ibm-lead-1">
<!--eTree :.: leadspace-1 :.: Background image :.: K733579O41124T47-->
<!--eTree :.: leadspace-1 :.: Thumbnail image :.: O578042K46048X81-->
<div class="ibm-col-1-1">
<h1>
Üzleti tanácsadás<!---->

</h1>

<p><em><span style="color: #DE731C">A vezetés alapjai a kapcsolatok<!----></span>
<br/><a href="/services/us/en/c-suite/ceostudy2012/" class="ibm-chevron-alternate-link">Betekintések a 2012-es globális ügyvezetői felmérésbe</a></em></p>
<div class="ibm-ribbon-view ibm-lead-thumb-1">
<div class="ibm-pagination-overlay">
<span class="ibm-lead-thumb-1"><!----></span>
<h2 style="white-space: nowrap;width: 220px;overflow: hidden;text-overflow: ellipsis;">
Üzleti tanácsadás<!----></h2>
<p>
A vezetés alapjai a kapcsolatok<!----></p>
</div>
</div>
</div>
</div>

<div class="ibm-columns" id="ibm-lead-2">
<!--eTree :.: leadspace-2 :.: Background image :.: I128078K06598M02-->
<!--eTree :.: leadspace-2 :.: Thumbnail image :.: O851436L67182C25-->
<div class="ibm-col-1-1">
<h2>
Üzleti tanácsadás<!---->

</h2>

<p><em><span style="color: #008A52">Az elemzési képességek segítségével a marketingszakemberek betekintéseket nyerhetnek és értékteremtő ajánlatokat kínálhatnak ügyfeleiknek<!----></span>
<br/><a href="/services/us/gbs/smartercommerce" class="ibm-chevron-alternate-link">Akár már ma megkezdheti utazását a Smarter Commerce világában</a></em></p>
<div class="ibm-ribbon-view ibm-lead-thumb-2">
<div class="ibm-pagination-overlay">
<span class="ibm-lead-thumb-2"><!----></span>
<h2 style="white-space: nowrap;width: 220px;overflow: hidden;text-overflow: ellipsis;">
Üzleti tanácsadás<!----></h2>
<p>
Az elemzési képességek segítségével a marketingszakemberek betekintéseket nyerhetnek és értékteremtő ajánlatokat kínálhatnak ügyfeleiknek<!----></p>
</div>
</div>
</div>
</div>

<div class="ibm-columns" id="ibm-lead-3">
<!--eTree :.: leadspace-3 :.: Background image :.: K040514A64795I58-->
<!--eTree :.: leadspace-3 :.: Thumbnail image :.: U459101W52408D65-->
<div class="ibm-col-1-1">
<h2>
Üzleti tanácsadás<!---->

</h2>

<p><em><span style="color: #D9182D">Több mint 1700 marketing vezető véleményét ismerheti meg<!----></span>
<br/><a href="/services/us/cmo/cmostudy2011/cmo-registration.html " class="ibm-chevron-alternate-link">További információk az IBM globális marketing vezetői felméréséről – From Stretched to Strengthened (Feszültség helyett fejlődés)</a></em></p>
<div class="ibm-ribbon-view ibm-lead-thumb-3">
<div class="ibm-pagination-overlay">
<span class="ibm-lead-thumb-3"><!----></span>
<h2 style="white-space: nowrap;width: 220px;overflow: hidden;text-overflow: ellipsis;">
Üzleti tanácsadás<!----></h2>
<p>
Több mint 1700 marketing vezető véleményét ismerheti meg<!----></p>
</div>
</div>
</div>
</div>

</div>
</div>
<!--
            LEAFED_LEADSPACE_END
        --><div id="ibm-pcon">
<div id="ibm-content">
<div id="ibm-content-body">
<div id="ibm-content-main">
<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 6-4 :.: B213380Q83398Q40-->
<div class="ibm-col-6-4">
<!-- eTree :.: Fragment (Text) :.: N422486F34325J96 [N422486F34325J96]-->
<h2 class="ibm-alternate">Menedzsment tanácsadás a teljesítmény optimalizálásához a vállalkozás minden szegletében.</h2>


<p> 
</p>

<div class="ibm-columns">
<!-- eTree :.: Column 6-2 :.: M679188C97631G29-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (Text) :.: L764179E62127Z77 [L764179E62127Z77]-->

<p>Ahhoz, hogy napjaink üzleti vállalkozásai sikeresek legyenek, egyre összetettebb és bizonytalanabb környezetben kell boldogulniuk, működési kiválóságra kell törekedniük, lehetővé kell tenniük az együttműködést a különböző vállalati funkciók között, jobb vezetést és tehetséggondozást kell kialakítaniuk, és az állandó változások közepette is működőképesnek kell maradniuk. 
</p>


<p><a href="/services/us/gbs/operations-and-supply-chain/"><strong>Működés és beszállítói lánc</strong></a>  A működési modell és a beszállítói lánc összekapcsolt, teljes körű funkcióinak fejlesztése a folyamatok hatékonyságának és eredményességének optimalizálása érdekében. 
</p>


<p><a href="/services/us/gbs/technology-strategy/"><strong>Technológia</strong></a>  A technológia kiaknázása az üzleti innováció továbbfejlesztése, a fenntartható növekedés megteremtése és az informatikai szervezet optimalizálása érdekében. 
</p>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-2 :.: Q836904X42865S59-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (Text) :.: P085145O13741W09 [P085145O13741W09]-->

<p><a href="/services/us/gbs/business-and-customer-strategy"><strong>Üzlet és ügyfél</strong></a>  A versenyképesség növelése, az ügyféltámogatás kiépítése és innovációk által serkentett növekedés.
</p>


<p><a href="/services/us/gbs/finance-and-risk/"><strong>Pénzügy és biztonság</strong></a>  Továbbfejlesztett előrejelzések és jelentéskészítés, előrejelzési képességek kifejlesztése, a vállalati kockázat csökkentése és a pénzügyi szervezet optimalizálása.
</p>


<p><a href="/services/us/gbs/organization-and-people/"><strong>Szervezet és emberek</strong></a>  A hatékony HR és elemzési képességek által támogatott teljesítmény- és tehetséggondozás lehetővé teszi az együttműködést.
</p>


</div>
<!-- eTree :.: /Column :.: -->

</div>

</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-2 :.: A148644M86772Q72-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (Contact module) :.: Y317478L52186H25 [E059103D01480I96]-->
<!-- Q71T - E059103D01480I96--><div id="ibm-contact-module"><div class="ibm-container"><h2>Kapcsolatfelvétel</h2><div class="ibm-container-body"><ul class="ibm-live-assistance-list"><li class="ibm-access" id="lpbutton"><!--LP dyn button--></li><li><a href="//www.ibm.com/services/gbs/contact?S_TACT=US1AG01W&amp;lang=hu_hu" class="ibm-email-link">Kérdések elküldése</a></li></ul></div></div></div>

<!--SCROLLABLE SECTION BEGINS-->
<div class="ibm-container"><h2>IBM globális vezetői felmérések</h2><div class="ibm-scroll" style="height: 315px">

<!-- eTree :.: Fragment (Text) :.: D515712U80836S50 [D515712U80836S50]-->

<p><img alt="" height="50" width="50" src="/services/image/ceo_60x60_notext_border.jpg" class="ibm-inset"/> <strong>2012-es IBM globális ügyvezetői felmérés</strong>  Interjú több mint 1700 ügyvezetővel világszerte
</p>
<!-- eTree :.: Fragment (List) :.: D515712U80836S50 [D515712U80836S50]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="/services/us/en/c-suite/ceostudy2012/">Regisztráljon, és megtudhatja, hogyan alakítanak ki a vezetők hatékonyabb kapcsolatokat alkalmazottaikkal, ügyfeleikkel és partnereikkel</a></li>
</ul>
<!-- eTree :.: Fragment (Text) :.: D515712U80836S50 [D515712U80836S50]-->

<div class="ibm-rule"><hr/>
</div>


<p><img alt="" height="50" width="50" src="/services/image/cmo-executive-summary.jpg" class="ibm-inset"/> <strong>2011-es IBM globális marketing vezetői felmérés</strong>  Több mint 1700 személyes interjú marketing vezetőkkel. Megtudhatja, mi foglalkoztatja napjaink marketing vezetőit.
</p>
<!-- eTree :.: Fragment (List) :.: D515712U80836S50 [D515712U80836S50]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/services/us/cmo/cmostudy2011/cmo-registration.html">Regisztráljon, és megkapja az IBM globális marketing vezetői felmérését</a></li>
</ul>
<!-- eTree :.: Fragment (Text) :.: D515712U80836S50 [D515712U80836S50]-->

<div class="ibm-rule"><hr/>
</div>


<p><img alt="" height="50" width="50" src="/services/us/gbs/bus/images/thm-cio2011-50x50.jpg" class="ibm-inset"/> <strong>2011-es IBM globális informatikai vezetői felmérés</strong>  The Essential CIO (A valódi informatikai vezető)
</p>
<!-- eTree :.: Fragment (List) :.: D515712U80836S50 [D515712U80836S50]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="/services/c-suite/cio/study.html">További tudnivalók</a></li>
</ul>
<!-- eTree :.: Fragment (Text) :.: D515712U80836S50 [D515712U80836S50]-->

<div class="ibm-rule"><hr/>
</div>


<p><img alt="" height="50" width="50" src="/services/us/gbs/bus/images/thm-ceo-50x50.jpg" class="ibm-inset"/> <strong>2010-es globális ügyvezetői felmérés</strong>  "Capitalizing on Complexity" (Az összetettség haszna)
</p>
<!-- eTree :.: Fragment (List) :.: D515712U80836S50 [D515712U80836S50]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/ceostudy">További tudnivalók</a></li>
</ul>
<!-- eTree :.: Fragment (Text) :.: D515712U80836S50 [D515712U80836S50]-->

<div class="ibm-rule"><hr/>
</div>


<p><img alt="" height="50" width="50" src="/services/us/gbs/bus/images/thm-cfo-50x50.jpg" class="ibm-inset"/> <strong>2010-es globális pénzügyi vezetői felmérés</strong>  "The New Value Integrator" (Az új értékegyesítő)
</p>
<!-- eTree :.: Fragment (List) :.: D515712U80836S50 [D515712U80836S50]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="/services/us/cfo/cfostudy2010">További tudnivalók</a></li>
</ul>
<!-- eTree :.: Fragment (Text) :.: D515712U80836S50 [D515712U80836S50]-->

<div class="ibm-rule"><hr/>
</div>


<p><img alt="" height="50" width="50" src="/services/us/gbs/bus/images/thm-csco-50x50.jpg" class="ibm-inset"/> <strong>2009-es globális beszállítói láncokért felelős vezetői felmérés</strong>  "The Smarter Supply Chain" (Az intelligens beszállítói lánc)
</p>
<!-- eTree :.: Fragment (List) :.: D515712U80836S50 [D515712U80836S50]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="/services/us/gbs/bus/html/gbs-csco-study.html">További tudnivalók</a></li>
</ul>
<!--SCROLLABLE SECTION ENDS-->
</div></div>


</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 6-4 :.: L224223T94843L48-->
<div class="ibm-col-6-4">
<!-- eTree :.: Fragment (Text) :.: W653757Q48629Y27 [W653757Q48629Y27]-->

<p>
</p>
<h2 class="ibm-alternate">Kihasználhatja az IBM üzleti és technológiai képességeit és elkötelezett szakértelmét, immár 18 iparágban.</h2>

<p>
</p>

<div class="ibm-columns">
<!-- eTree :.: Column 6-2 :.: O049891A06295Q64-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (List) :.: J579492F11869P17 [J579492F11869P17]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/aerodefense/">Repülőipar és védelem</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/automotive/">Autóipar</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/banking/">Banki tevékenység</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/chemicalspetroleum/">Vegyipar és Olajipar</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/telecommunications/">Kommunikáció</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/consumerproducts/">Fogyasztói termékek</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/education/">Oktatás</a></li>
<li><a class="ibm-forward-link" href="http://www.ibm.com/industries/electronics/">Elektronika</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/utilities/">Energiaipar és közművek</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-2 :.: S280832G76822D16-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (List) :.: W302644Z35671Y01 [W302644Z35671Y01]-->

<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/financialmarkets/">Pénzügyi piacok</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/government/">Kormányzat</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/healthcare/">Egészségügy</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/insurance/">Biztosítás</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/lifesciences/">Élettudományok</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/media/">Média és szórakoztatás</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/metalsmining">Fémek és bányászat</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/retail/">Kiskereskedelem</a></li>
<li><a class="ibm-forward-link" href="//www.ibm.com/industries/travel/">Utazás és szállítás</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

</div>

</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-2 :.: Q099839V29967J92-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (Text) :.: W362630Q25547R63 [W362630Q25547R63]-->

<p>
</p>
<h2 class="ibm-alternate">IBM iparági szakértelem</h2>


<p>18 iparág.  Többek között az Öné is.
</p>
<!-- eTree :.: Fragment (Image) :.: W362630Q25547R63 [T690344X23154T88]-->
<img alt="Thumbnail image" height="209" width="300" src="/services/image/industry-thumbnail-image.jpg"/>

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: Q029390W10570K66-->
<div class="ibm-col-1-1">
<!-- eTree :.: Fragment (Text) :.: X072044K37991C50 [X072044K37991C50]-->

<p>
</p>

<p>
</p>
<h2 class="ibm-alternate">Az elérhető tanácsadási szolgáltatások:</h2>

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 6-1 :.: G452973M41560A16-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: B747799E53194J19 [Q541330D77614A01]-->
<a href="/services/us/gbs/strategy/"><img alt="Business Strategy and Transformation" height="83" width="140" src="/services/image/st_tn_140x83.jpg"/></a>

<!-- eTree :.: Fragment (Text) :.: D782435P48713O79 [D782435P48713O79]-->
<h2><a href="/services/us/gbs/strategy/" class="ibm-feature-link">Stratégia és átalakítás</a></h2>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: Z528174B25786Y73-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: F432785V61228R59 [N210455M84352P19]-->
<a href="//www.ibm.com/gbs/bao"><img alt="Business Analytics &amp; Optimization" height="83" width="140" src="/services/image/bao_tn_140x83.jpg"/></a>

<!-- eTree :.: Fragment (Text) :.: Q580071V28591R23 [Q580071V28591R23]-->
<h2><a href="//www.ibm.com/gbs/bao" class="ibm-feature-link">Üzleti elemzés és optimalizálás</a></h2>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: S106429I58899Z69-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: Q145106Y24081G98 [N414506R10357A35]-->
<a href="/services/us/gbs/ais/"><img alt="Application Innovation Services" height="83" width="140" src="/services/image/ais_tn_140x83.jpg"/></a>

<!-- eTree :.: Fragment (Text) :.: V118156J79299D14 [V118156J79299D14]-->
<h2><a href="/services/us/gbs/ais/" class="ibm-feature-link">Alkalmazásinnováció</a></h2>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: G367911M75656N64-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: H169377W48315S00 [A585369W62703H86]-->
<a href="/services/us/gbs/applicationmanagement/"><img alt="Application management Services" height="83" width="140" src="/services/image/ams_tn_140x83.jpg"/></a>

<!-- eTree :.: Fragment (Text) :.: E303180F18477Y75 [E303180F18477Y75]-->
<h2><a href="/services/us/gbs/applicationmanagement/" class="ibm-feature-link">Alkalmazásfelügyelet</a></h2>



</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: U360902A03525Q34-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: H636344C66307W73 [V087261L87058I15]-->
<a href="/services/us/gbs/midmarket/"><img alt="Midsize Business Consulting" height="83" width="148" src="/services/image/midmarket-tn-140x83.jpg"/></a>

<!-- eTree :.: Fragment (Text) :.: M337821K91722P14 [M337821K91722P14]-->
<h2><a href="/services/us/gbs/midmarket/" class="ibm-feature-link">Közepes méretű ügyfelek</a></h2>

</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: B952997A35886R47-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: R851028A77304L91 [K931579L86350G95]-->
<img alt="SAP - Microsoft Alliances" height="83" width="140" src="/services/image/gbs_tn_140x83.jpg"/>

<!-- eTree :.: Fragment (Text) :.: Q115922S79658Q08 [Q115922S79658Q08]-->
<h2><a href="/services/us/gbs/alliances/sap/" class="ibm-feature-link">SAP</a></h2>

<h2><a href="//www.ibm.com/solutions/oracle/us/en/index/globalservices.html" class="ibm-feature-link">Oracle</a></h2>

<h2><a href="/services/us/gbs/alliances/microsoft/" class="ibm-feature-link">Microsoft</a></h2>

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: I152642M19004A89-->
<div class="ibm-col-1-1">
<!-- eTree :.: Fragment (Text) :.: G350944B86300J42 [G350944B86300J42]-->

<h2 class="ibm-alternate"><a href="/services/us/gbs/thoughtleadership/" class="ibm-feature-link">Iránymutató vezetői, kutatói és gyakorlati betekintések az üzleti vezetők számára az IBM Institute for Business Value intézeten keresztül</a></h2>

<div class="ibm-columns">
<!-- eTree :.: Column 6-2 :.: W066551X22631Z96-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (List) :.: R171658K45252C27 [R171658K45252C27]-->

<h2>IdeaWatch hírlevél</h2>
<p>Iratkozzon fel és olyan havi elektronikus hírlevelet kap az IBM Global Business Services szolgáltatástól, amely az IBM Institute for Business Value intézet kutatásain alapul.</p>
<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/gbs/subscribe">Feliratkozás az IdeaWatch hírlevélre</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-2 :.: Q160722G49218U26-->
<div class="ibm-col-6-2">
<!-- eTree :.: Fragment (List) :.: X936341N38535A98 [X936341N38535A98]-->

<h2>IBV alkalmazások letöltése</h2>
<p>Elérheti legfrissebb gondolatébresztő vezetői tanulmányainkat, saját könyvtárat tarthat fenn és továbbfejlesztett tartalmakban böngészhet iPad vagy Android készülékén.</p>
<ul class="ibm-link-list">
<li><a class="ibm-external-link" href="//itunes.apple.com/us/app/ibv/id490117648?mt=8">Letöltés az iTunes webhelyről</a></li>
<li><a class="ibm-external-link" href="//market.android.com/details?id=com.woodwing.ibv&amp;feature=search_result#?t=W251bGwsMSwxLDEsImNvbS53b29kd2luZy5pYnYiXQ">Letöltés az Android Marketplace webhelyről</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-2 :.: K098858E17895C68-->
<div class="ibm-col-6-2">
<!-- FRAGMENT TYPE NOT RECOGNIZED -->

<!-- eTree :.: Fragment (Image) :.: X267035M29858Q23 [C210824T48613L66]-->
<a href="/services/us/gbs/thoughtleadership/"><img alt="IBM Institute for Business Value" height="150" width="300" src="/services/image/intro-tl-300x200.jpg"/></a>


</div>
<!-- eTree :.: /Column :.: -->

</div>

</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

</div>
<div id="ibm-content-sidebar">
 </div>
</div>
</div>
</div>
<div id="ibm-related-content">
<!-- RELATED_CONTENT_BEGIN -->
<!-- eTree :.: Related Content :.: -->
<div class="ibm-columns">
 
<!-- eTree :.: Column 1-1 :.: K673523B34485D24-->
<div class="ibm-col-1-1">
<!-- eTree :.: Fragment (Text) :.: I010021I37871R13 [I010021I37871R13]-->
<h2>Kapcsolódó források:</h2>

<div class="ibm-columns">
<!-- eTree :.: Column 6-1 :.: A690398N81877K76-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: J489652I62467L41 [H866647Z75858M97]-->
<img alt="Thumbnail image" height="64" width="140" src="/services/image/gbs-careers-140x64.jpg"/>
<!-- eTree :.: Fragment (List) :.: J489652I62467L41 [J489652I62467L41]-->

<h2>Tanácsadói álláslehetőségek</h2>
<p>A problémák nem okoznak Önnek gondot? Meghatározó egyéniség? Az IBM csapatához tartozik?</p>
<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="/services/us/gbs/bus/html/bcs_careers.html">Tekintse át az IBM Global Business Services kínálta karrierlehetőségeket</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: K521850C68191H71-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: B683528F18579A01 [Y086219L33152N89]-->
<img alt="Thumbnail image" height="64" width="140" src="/services/image/exec-exchange-140x64.jpg"/>
<!-- eTree :.: Fragment (List) :.: B683528F18579A01 [B683528F18579A01]-->

<h2>Betekintések az intelligens vezetésért</h2>
<p>Keresés a vezetői tanulmányokban szerepkör és üzleti igények szerint.</p>
<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="/services/c-suite/insights/">Executive Exchange</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: A162917I88364Z54-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: S756822Q70834I82 [S880662P20600R03]-->
<img alt="Thumbnail image" height="64" width="140" src="/services/image/ibmsmartcloud-140x64.jpg"/>
<!-- eTree :.: Fragment (List) :.: S756822Q70834I82 [S756822Q70834I82]-->

<h2>SmartCloud tanácsadás</h2>
<p>Az IBM segítséget nyújt egy az igényeinek megfelelő, teljes körű felhőalapú stratégia kifejlesztésében és kivitelezésében.</p>
<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/cloud-computing/us/en/consulting-and-implementation.html">További tudnivalók az IBM felhőszolgáltatásaival kapcsolatos tanácsadásról és azok megvalósításáról</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: O334835Z46958P27-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: E225701E52093Y80 [R983744X24232O31]-->
<img alt="Thumbnail image" height="64" width="140" src="/services/image/smarter-cities-140x64.jpg"/>
<!-- eTree :.: Fragment (List) :.: E225701E52093Y80 [E225701E52093Y80]-->

<h2>Jól működő városok</h2>
<p>Biztonságos környék. Minőségi iskolák. Megfizethető lakhatás. Gördülékeny közlekedés. Ez mind lehetséges.</p>
<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/smarterplanet/us/en/smarter_cities/solutions/">További tudnivalók a Smarter Cities programról</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: K920562O23231Y89-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: A851926X19355S02 [F355901O26055U60]-->
<img alt="Thumbnail image" height="64" width="140" src="/services/image/smarter-security-140x64.jpg"/>
<!-- eTree :.: Fragment (List) :.: A851926X19355S02 [A851926X19355S02]-->

<h2>Magasabb szintű biztonság és rugalmasság</h2>
<p>A kockázatkezelés egy intelligens megközelítése, amely feltárja az innovációs lehetőségeket.</p>
<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/smarterplanet/us/en/business_resilience_management/nextsteps/">További tudnivalók a magasabb szintű biztonságról és rugalmasságról</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

<!-- eTree :.: Column 6-1 :.: D931891Y19146U89-->
<div class="ibm-col-6-1">
<!-- eTree :.: Fragment (Image) :.: P069854Z30762G98 [C935660P45426I61]-->
<img alt="Thumbnail image" height="64" width="140" src="/services/image/asc-140x64.jpg"/>
<!-- eTree :.: Fragment (List) :.: P069854Z30762G98 [P069854Z30762G98]-->

<h2>Kiaknázhatja az IBM elemzési megoldásközpontok erősségeit</h2>
<p>Ezek a központok a világ minden táján lehetővé teszik az ügyfelek számára, hogy megismerjék a legújabb fejlesztéseket az elemzések terén.</p>
<ul class="ibm-link-list">
<li><a class="ibm-forward-link" href="//www.ibm.com/smarterplanet/us/en/business_analytics/solution_centers/">További tudnivalók a megoldásközpontok globális hálózatáról</a></li>
</ul>


</div>
<!-- eTree :.: /Column :.: -->

</div>

</div>
<!-- eTree :.: /Column :.: -->
 </div>
 <!-- eTree :.: /Related Content :.: -->
<div id="ibm-merchandising-module">
<!-- ibm-merchandising-module -->
</div>

<!-- RELATED_CONTENT_END -->
</div>
<!-- FOOTER_BEGIN -->
<div id="ibm-footer-module">
</div>
<div id="ibm-footer">
<h2 class="ibm-access">Szabályzatokhoz
</h2>
<ul>
<li><a href="http://www.ibm.com/contact/hu/hu/">Kapcsolatfelvétel</a></li>
<li><a href="http://www.ibm.com/privacy/hu/hu/">Adatbiztonság</a></li>
<li><a href="http://www.ibm.com/legal/hu/hu/">Jogi közlemény</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>