<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<!-- 
	NOTE:
	This file is the master landing page template.
	All comments starting with NOTE can also be removed!
 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->
<!--! PageTitle -->	
<title>IBM v17e Banded Template - Accessibilty Test</title>
<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />


<link href="../../css/scss/beta/vincent/golden-forms-procssor.css" rel="stylesheet" title="www" type="text/css" />
<link href="../../css/scss/beta/vincent/font-awesome.min.css" rel="stylesheet" title="www" type="text/css" />
<link href="../../css/scss/beta/vincent/golden-forms-adjustments.css" rel="stylesheet" title="www" type="text/css" />


<script src="../../js/ww.js" type="text/javascript"></script>

<style type="text/css">

/* LEADSPACE STYLES */

/* Leadspace foreground */
#ibm-leadspace-head #ibm-leadspace-body {
	background: url(assets/bg-front.gif) no-repeat 100% 50%;
}

/* Leadspace background */
#ibm-leadspace-head.ibm-alternate-background {
	background: url(assets/bg-back.png);}

/* END LEADSPACE STYLES */


/* SECTION STYLES */
.what-is-v17e {background: url(assets/bg-shad-right-half.png) no-repeat center 90%;}
#deisa {background: url(assets/fpo/DEISA-Supercomputer.jpg) no-repeat center 50%; background-size:cover;}
#deisa {height:640px; position: relative; border-top: 1px solid rgba(0,0,0,.1); border-bottom: 1px solid rgba(0,0,0,.1)}

/*.fade-up-sharp {background: url(assets/gradient-bg-a.png) repeat-x center 100%;}
.fade-up {background: url(assets/gradient-bg-b.png) repeat-x center 100%;}
.fade-down {background: url(assets/bg-shad-right-half.png) repeat-x center 100%;}
.shad-med {background: url(assets/shad-curve-bottom-med.png) no-repeat center 100%;}
.shad-wide {background: url(assets/shad-curve-wide.png) no-repeat center bottom;}
.exdent-sm {margin-left:-10px}
.exdent-md {margin-left:-20px} 
.exdent-lg {margin-left:-40px} */

/* SECTION STYLES */

</style>


</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page">

<!--! MASTHEAD_BEGIN -->
<div id="ibm-masthead">
<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<div id="ibm-search-module">
<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
<p>
<label for="q">
<span class="ibm-access">Search</span>
</label>
<input id="q" value="" maxlength="100" name="q" type="text"/>
<input name="v" type="hidden" value="17"/>
<input type="hidden" name="en" value="utf"/>
<input name="lang" type="hidden" value="en"/>
<input name="cc" type="hidden" value="us"/>
<input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->






<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- TITLE_BEGIN -->
<div id="ibm-content-head"></div>
<!-- TITLE_END -->
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">

<!--! DEMO VARIATIONS START -->


<div class="ibm-band bg-white">
	<div class="ibm-container">
		<h2 class="section-header center">new form demo</h2>
		<div class="ibm-container-body">
			<div class="ibm-rule"><hr></div>
			<div class="golden-forms">
            <form action="[REPLACE]" enctype="multipart/form-data" method="post">
                <div class="form-enclose">
                    <div class="form-section">
                        <div class="row">
                        	<div class="col8 first">
                             	<div class="section">
        	                    	<label for="UPDATE_Salutation_id1" class="lbl-text">Salutation:<span class="ibm-required">*</span></label>
        	                        <label class="lbl-ui select">
        								<select id="UPDATE_Salutation_id1" name="Salutation">
        								    <option value="" selected="selected">Select one</option>
        									<option value="Mr.">Mr.</option>
        									<option value="Mrs.">Mrs.</option>
        									<option value="Ms">Ms.</option>
        									<option value="Miss">Miss</option>
        									<option value="Dr.">Dr.</option>
        								</select>
        	                        </label>
        	                        <span class="small-caption">(e.g., Mr., Mrs.) </span>
    	                        </div>
	                        <div class="section">
                                <label for="fnames" class="lbl-text">First Name:<span class="ibm-required">*</span></label>
                                <div class="lbl-ui">
                                	<input type="text" name="fnames" id="fnames" class="input" aria-required="true">
                                	<b class="tooltip right-top"><em>First name is mandatory</em></b>
                                </div>
                            </div>
                       		<div class="section">
                                <label for="lnames" class="lbl-text">Last Name:<span class="ibm-required">*</span></label>
                                <label class="lbl-ui">
                                	<input type="text" name="lnames" id="lnames" class="input" aria-required="true">
                                	<b class="tooltip right-top"><em>Last name is mandatory</em></b>
                                </label>
                            </div>
                            <div class="section">
		                    	<label for="Job_role" class="lbl-text">Job role:</label>
		                        <label for="Job_role" class="lbl-ui select">
									<select id="Job_role" name="Job_role">
									    <option selected="selected" value="">Which best describes you?</option>
										<option value="Business_user">Business user</option>
										<option value="Consultant">Consultant</option>
										<option value="Employee">Employee</option>
										<option value="Home_user">Home user</option>
										<option value="IT_purchaser">IT purchaser</option>
										<option value="Prospective_customer">Prospective customer</option>
										<option value="Reseller">Reseller</option>
										<option value="Software_developer">Software developer</option>
										<option value="Stockholder">Stockholder</option>
										<option value="Student">Student</option>
										<option value="Other">Other</option>
									</select>
		                        </label>
	                        </div>
	                        
                           </div><!-- end .col8 section -->
                           <div class="col4 last">                     
                           		<div class="section">
	                                <label for="email" class="lbl-text">Email Address:<span class="ibm-required">*</span></label>
	                                <label class="lbl-ui append-icon">
	                                	<input type="email" name="email" id="email" class="input" placeholder="Email Address" aria-required="true">
	                                	<b class="tooltip right-bottom"><em>
	                                	Email field is mandatory.You can fill in your personal email address also</em>
	                                	</b>
	                                	<span><i class="ibm-email-link"></i></span>
	                                </label>
	                                <span class="small-caption">(e.g.,abc@in.ibm.com)</span>
	                            </div>
	                            <div class="section">
		                       		<label for="tele" class="lbl-text">Telephone / Mobile:</label>
		                            <label class="lbl-ui append-icon art">
		                            	<input type="tel" name="tele" id="tele" class="input" placeholder="+44 772" aria-label="Telephone">
		                                <b class="tooltip right-top"><em>When a form control receives focus a cool tooltip appears :-) </em></b> 
		                                <span><i class="ibm-phone-link"></i></span>
		                            </label>                            
	                       		</div>
                                <div class="section">
 									<div class="row">
                                    	<div class="col2 first">
                                        	<label for="zip" class="lbl-text">Zip:</label>
                                            <label class="lbl-ui">
                                            	<input type="text" name="zip" id="zip" class="input" aria-label="Zipcode">
                                            </label>   
                                        </div><!-- end .col6 section -->                                        
                                    	<div class="col5 colspacer-two">
                                        	<label for="city" class="lbl-text">City:</label>
                                            <label class="lbl-ui">
                                            	<input type="text" name="city" id="city" class="input" aria-label="City">
                                            </label>   
                                        </div><!-- end .col5 section -->
                                    	<div class="col5 last colspacer-two">
                                        	<label for="states" class="lbl-text">State:</label>
                                                  <label for="states" class="lbl-ui select">
                                                      <select id="states" name="states">
                                                        <option value="Select a State">Select a State</option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AK">Alaska</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="CA">California</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="DC">District Of Columbia</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="WV">West Virginia</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="WY">Wyoming</option>
                                                      </select>
                                                    </label>                            
                                        </div><!-- end .col5 section -->
                                    </div><!-- end .row section-->                                       
                                </div>
	                       		<div class="section">
	                            	<label for="country" class="lbl-text">Country / region:<span class="ibm-required">*</span></label>
									<label for="country" class="lbl-ui select">
	                                    <select id="country" name="country">
	                                    	<option selected="selected" value="">Please select one</option>
											<option value="us">United States</option>
											<option value="ar">Argentina</option>
											<option value="au">Australia</option>
											<option value="at">Austria</option>
											<option value="bs">Bahamas</option>
											<option value="bh">Bahrain</option>
											<option value="bb">Barbados</option>
											<option value="be">Belgium</option>
											<option value="bm">Bermuda</option>
											<option value="bo">Bolivia</option>
											<option value="bw">Botswana</option>
											<option value="br">Brazil</option>
											<option value="bg">Bulgaria</option>
											<option value="ca">Canada</option>
											<option value="cl">Chile</option>
											<option value="cn">China</option>
											<option value="co">Colombia</option>
											<option value="hr">Croatia</option>
											<option value="cy">Cyprus</option>
											<option value="cz">Czech Republic</option>
											<option value="dk">Denmark</option>
											<option value="do">Dominican Republic</option>
											<option value="ec">Ecuador</option>
											<option value="eg">Egypt</option>
											<option value="sv">El Salvador</option>
											<option value="ee">Estonia</option>
											<option value="fi">Finland</option>
											<option value="fr">France</option>
											<option value="de">Germany</option>
											<option value="gr">Greece</option>
											<option value="gt">Guatemala</option>
											<option value="hn">Honduras</option>
											<option value="hk">Hong Kong S.A.R. of China</option>
											<option value="hu">Hungary</option>
											<option value="in">India</option>
											<option value="id">Indonesia</option>
											<option value="ie">Ireland</option>
											<option value="il">Israel</option>
											<option value="it">Italy</option>
											<option value="jm">Jamaica</option>
											<option value="jp">Japan</option>
											<option value="jo">Jordan</option>
											<option value="kr">Korea, Republic of</option>
											<option value="kw">Kuwait</option>
											<option value="lv">Latvia</option>
											<option value="lb">Lebanon</option>
											<option value="lt">Lithuania</option>
											<option value="my">Malaysia</option>
											<option value="mx">Mexico</option>
											<option value="ma">Morocco</option>
											<option value="nl">Netherlands</option>
											<option value="an">Netherlands Antilles</option>
											<option value="nz">New Zealand</option>
											<option value="ni">Nicaragua</option>
											<option value="no">Norway</option>
											<option value="om">Oman</option>
											<option value="pk">Pakistan</option>
											<option value="pa">Panama</option>
											<option value="py">Paraguay</option>
											<option value="pe">Peru</option>
											<option value="ph">Philippines</option>
											<option value="pl">Poland</option>
											<option value="pt">Portugal</option>
											<option value="qa">Qatar</option>
											<option value="ro">Romania</option>
											<option value="ru">Russian Federation</option>
											<option value="sa">Saudi Arabia</option>
											<option value="sn">Senegal</option>
											<option value="yu">Serbia and Montenegro</option>
											<option value="sg">Singapore</option>
											<option value="sk">Slovakia</option>
											<option value="si">Slovenia</option>
											<option value="za">South Africa</option>
											<option value="es">Spain</option>
											<option value="lk">Sri Lanka</option>
											<option value="sr">Suriname</option>
											<option value="se">Sweden</option>
											<option value="ch">Switzerland</option>
											<option value="tw">Taiwan</option>
											<option value="th">Thailand</option>
											<option value="tt">Trinidad and Tobago</option>
											<option value="tn">Tunisia</option>
											<option value="tr">Turkey</option>
											<option value="ae">United Arab Emirates</option>
											<option value="uk">United Kingdom</option>
											<option value="us">United States</option>
											<option value="uy">Uruguay</option>
											<option value="ve">Venezuela</option>
											<option value="vn">Vietnam</option>
	                                    </select>
	                                </label>                                     
	                            </div> 
	                            <div class="section">
                       
								<span class="gtoggle">
                                    <label class="toggle-switch blue">
                                      <input type="checkbox" name="rem" id="toggle1">
                                      <label for="toggle1" data-on="YES" data-off="NO"></label>
                                    </label>                                
                                    <label for="toggle1">Save information</label>
                               </span><!-- end .gtoggle section -->                        
                       
                       </div>                                               
                           </div><!-- end .col4 section -->	
                       </div><!-- end .row section-->
                       <div class="row">
                        	<div class="col8 first">
	                        	<div class="section">
		                        	<div class="row">
		                        		<div class="col8 first">
					                    	<label for="UPDATE_category_id" class="lbl-text tleft">Message category:<span class="ibm-required">*</span></label>
						                        <label for="UPDATE_category_id" class="lbl-ui select">
													<select id="category" name="UPDATE_category_id" aria-required="true">
													    <option value="">Select one</option>
														<option value="Government and Education">Government and Education</option>
														<option value="IBM Business Partners">IBM Business Partners</option>
														<option value="IBM Global Services">IBM Global Services</option>
														<option value="IBM Learning Services">IBM Learning Services</option>

														<option value="Industry solutions">Industry solutions</option>
														<option value="IT security">IT security</option>
														<option value="Jobs at IBM">Jobs at IBM</option>
														<option value="Midrange/Mainframe servers">Midrange/Mainframe servers</option>
														<option value="Personal Systems">Personal Systems</option>
														<option value="Privacy">Privacy</option>
														<option value="Research and development">Research and development</option>
														<option value="Search feedback">Search feedback</option>
														<option value="Software">Software</option>

														<option value="Student inquiries">Student inquiries</option>
														<option value="Web site feedback">Web site feedback</option>
														<option value="Other">Other</option>
													</select>
						                        </label>
				                        </div>
				                        <div class="col4 last">
				                            <label class="lbl-valign long">
		                                            <a href="javascript:void(0);" class="info-tip" aria-describedby="helptooltip"> ?
		                                                <span role="tooltip">Message category is mandatory.</span>
		                                            </a>​​​​​                                        
		                                    </label>
				                        </div>
				                    </div>
			                    </div>
		                        <div class="section">
	                            	<label for="UPDATE_Message_id" class="lbl-text ext">Is this a complaint?</label>
	                                	<div class="option-group block">
		                                    <span class="goption">
		                                        <label class="options">
		                                            <input type="checkbox" id="check1" name="complaint" value="Yes">
		                                            <span class="checkbox"></span>
		                                        </label>
		                                        <label for="check1">Yes</label>
		                                   </span><!-- end .goption section -->
	                                   </div><!-- end .option-group section -->
	                                   <div class="option-group float" role="radiogroup">
	                                        <span class="goption">
	                                            <label class="options">
	                                                <input type="radio" id="option1" name="complaint1" value="Yes" role="radio" aria-checked="false">
	                                                <span class="radio"></span>
	                                            </label>
	                                            <label for="option1">Yes</label>
	                                       </span><!-- end .goption section --> 
	                                       
	                                        <span class="goption">
	                                            <label class="options">
	                                                <input type="radio" id="option2" name="complaint1" value="No" checked="" role="radio" aria-checked="true">
	                                                <span class="radio"></span>
	                                            </label>
	                                            <label for="option2">No</label>
	                                       </span><!-- end .goption section -->
	                                    </div>
	                            </div>
                            <div class="row">
	                            <div class="col6 first">
		                            <div class="section">
		                                <label for="UPDATE_Subject_id" class="lbl-text">Subject:</label>
		                                <label class="lbl-ui">
		                                	<input type="text" name="subject" id="UPDATE_Subject_id" class="input" aria-label="Subject line">
		                                </label>
		                            </div>
	                            </div>
                            </div>
							<div class="section">
							    <label for="UPDATE_Message_id" class="lbl-text">Message:<span class="ibm-required">*</span></label>
							    <label class="lbl-ui append-icon art">
							    	<textarea id="UPDATE_Message_id" name="UPDATE_Message_id" class="textarea mini no-resize" aria-required="true"></textarea>
							    	<span><i class="ibm-chat-link"></i></span>
							    </label>                          
							</div>                  
							<div class="section">
							    <label for="weburl" class="lbl-text">Include your url</label>
							    <label class="lbl-ui append-icon art">
							    	<input type="url" name="weburl" id="weburl" class="input" placeholder="http://www" aria-label="Include you url">
							    	<span><i class="ibm-external-link"></i></span>
							    </label>
							    <span class="small-caption">(e.g., http://www.yoursite.com)</span>                        
							</div>
							<div class="section">
							    <label for="file" class="lbl-text">Upload file:</label>
							    <label for="file" class="lbl-ui file-input">
							    <span class="button">
							    <input type="file" id="file" onchange="this.parentNode.nextSibling.value = this.value">Choose File 
							    </span><input type="text" class="input" placeholder="no file selected" readonly="">
							    </label>                          
							</div>
							<div class="section">
								<span class="rating block" role="radiogroup" aria-labelledby="product_ratings">
								<span id="product_ratings" class="lbl-text">Rate Our Product:</span>
								<input type="radio" class="rating-input" id="rating-input-1-5" name="product-rate" tabindex="-1" role="radio" aria-checked="false" >
								<label for="rating-input-1-5" class="rating-star" aria-label="5 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="rating-input-1-4" name="product-rate" tabindex="-1" role="radio" aria-checked="false" >
								<label for="rating-input-1-4" class="rating-star" aria-label="4 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="rating-input-1-3" name="product-rate" tabindex="-1" role="radio" aria-checked="false">
								<label for="rating-input-1-3" class="rating-star" aria-label="3 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="rating-input-1-2" name="product-rate" tabindex="-1" role="radio" aria-checked="false">
								<label for="rating-input-1-2" class="rating-star" aria-label="2 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="rating-input-1-1" name="product-rate" tabindex="0" role="radio" aria-checked="false">
								<label for="rating-input-1-1" class="rating-star" aria-label="1 star"><i class="icon-star"></i></label>
								</span>

								<span class="rating block" role="radiogroup" aria-labelledby="team_ratings">
								<span id="team_ratings" class="lbl-text">Rate Support Team:</span>
								<input type="radio" class="rating-input" id="support-5" name="support-rate" tabindex="-1" role="radio" aria-checked="false">
								<label for="support-5" class="rating-star" aria-label="5 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="support-4" name="support-rate" tabindex="-1" role="radio" aria-checked="false">
								<label for="support-4" class="rating-star" aria-label="4 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="support-3" name="support-rate" tabindex="-1" role="radio" aria-checked="false">
								<label for="support-3" class="rating-star" aria-label="3 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="support-2" name="support-rate" tabindex="-1" role="radio" aria-checked="false">
								<label for="support-2" class="rating-star" aria-label="2 star"><i class="icon-star"></i></label>
								<input type="radio" class="rating-input" id="support-1" name="support-rate" tabindex="0" role="radio" aria-checked="false">
								<label for="support-1" class="rating-star" aria-label="1 star"><i class="icon-star"></i></label>
								</span>                                         
							</div>
                        	</div>
                    	</div>                       

                   </div><!-- end .form-section section -->
                </div><!-- end .form-enclose section -->
                <div class="form-buttons align-right">
                    <div class="section"> 
                       <input type="submit" value="Submit Form" class="button black">
                       <input type="reset" value="Reset Form" class="button">  
                    </div>                
                </div><!-- end .form-buttons section -->
            </form>
        </div>
		</div>
	</div>
</div>

<!-- DEMO VARIATIONS END -->


</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation"></div>
<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content">
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
</div>
<!--! FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>