<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="Demo"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-10-12"/>
		<meta name="Source" content="v17 Template Generator, Template 17.02"/>
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="Demo"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-10-12"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="Demo"/>
		<meta name="Owner" content="Demo"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>

		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="Demo"/>
		<meta name="Description" content="Demo"/>

		<title>IBM </title>
		
		<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
		<link href="../../css/form.css" rel="stylesheet" title="www" type="text/css" />
		
		<script src="../../js/ww.js" type="text/javascript"></script>

		<style type="text/css">
			div.ibm-alternate-code-sample {

				background-attachment: scroll !important;
				background-color: #F7F7F7 !important;
				background-image: none !important;
				background-position: 0 0 !important;
				background-repeat: repeat !important;
				border: 1px solid #cccccc !important;
				color: #666666;
				margin-bottom: 7px;
				margin-top: 0;
				padding-left: 5px;
			}
			

		</style>
	</head>
	<body id="ibm-com" class="ibm-type">
		<div id="ibm-top" class="ibm-landing-page">

			<!-- v17 SSIs: version 1.1 -->
			<!-- MASTHEAD_BEGIN -->
			<div id="ibm-masthead">
				<div id="ibm-mast-options">

					<ul>
						<li id="ibm-geo">
							<a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>Worldwide</a>
						</li>
					</ul>
				</div>
				<div id="ibm-universal-nav">
					<ul id="ibm-unav-links">
						<li id="ibm-home">
							<a href="http://www.ibm.com/">IBM®</a>
						</li>
					</ul>
					<ul id="ibm-menu-links">
						<li>
							<a href="http://www.ibm.com/sitemap/">Site map</a>
						</li>
					</ul>
					<div id="ibm-search-module">
						<form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">

							<p>
								<label for="q"><span class="ibm-access">Search</span></label>
								<input type="text" maxlength="100" value="" name="q" id="q"/>
								<input type="hidden" value="17" name="v"/>
								<input type="hidden" value="utf" name="en"/>
								<input type="hidden" value="en" name="lang"/>
								<input type="hidden" value="zz" name="cc"/>
								<input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
							</p>
						</form>
					</div>
				</div>
			</div>
			<!-- MASTHEAD_END -->
			<!-- LEADSPACE_BEGIN -->
			<div id="ibm-leadspace-head" class="ibm-alternate">

				<div id="ibm-leadspace-body">
				<div class="ibm-columns">
			<div class="ibm-col-1-1">
					<h1>IBM </h1>
					</div>
					</div>
				</div>
			</div>
			<!-- LEADSPACE_END -->
			<!-- CONTENT_NAV_BEGIN -->
			<div id="ibm-content-nav">
				<div id="ibm-primary-tabs">
					<ul class="ibm-tabs">
						<li class="ibm-active">
							<a href="#">Home</a>
						</li>
					</ul>
				</div>
				<div id="ibm-secondary-tabs">
					<ul class="ibm-tabs">
						<li class="ibm-active">
							<a href="#1">Selected subtab</a>
						</li>
						<li>
							<a href="REPLACE">Subtab link 2</a>
						</li>
						<li>
							<a href="REPLACE">Subtab link 3</a>
						</li>
						<li>
							<a href="REPLACE">You can really</a>
						</li>
						<li>
							<a href="REPLACE">Have quite a few</a>
						</li>
						<li>
							<a href="REPLACE">Subtabs link here.</a>
						</li>
					</ul>
				</div>
			</div><!-- CONTENT_NAV_END -->

			<div id="ibm-pcon">
				<!-- CONTENT_BEGIN -->
				<div id="ibm-content">
					<!-- CONTENT_BODY -->
					<div id="ibm-content-body">
						<div id="ibm-content-main">
							<div class="ibm-columns">
								<div class="ibm-col-6-4">
									<h2 class="ibm-alternate">Overview</h2>
									<p>
										A web form on a web page allows users to enter data that is sent to a server for processing. Forms are a critical type of communication between users and IBM (for   example, for providing contact information and feedback, for purchasing   products or for managing inventory). They should always be designed with   users' interests in mind, so that they are as easy to use and to   understand as possible.
									</p>

									<p>
										<strong>Note:</strong> When implementing forms, the classes &quot;ibm-styled-form&quot; and &quot;ibm-styled&quot; are optional CSS elements used primarily for implementing Dojo-styled form elements. Use these classes with caution, as they have some design limitations. For example:
									</p>
									<ul class="ibm-bullet-list ibm-no-links">
										<li>
											You cannot use a select box inside a data table using either  &quot;styled&quot; class.
										</li>

										<li>
											Neither class can be used for advanced forms.
										</li>
										<li>
											These classes convert any classic &lt;input /&gt; and &lt;select /&gt; fields to Dojo input controls. Therefore, they overwrite or remove any custom javascript event handlers you might have for an input field (for example, onclick, onchange, etc.)  and most other custom javascript logic which acts on those fields will not work.  If you would still like to use these classes, convert any javascript you use for these fields to Dojo code instead, to get a handle to the Dojo widgets (using dijit functions).
										</li>
									</ul>
									<h2>Example: Single column form</h2>

									<!-- Single Column Form -->
									<form action="[REPLACE]" class="ibm-column-form ibm-styled-form" enctype="multipart/form-data" method="post">
										<p>
											<label for="UPDATE_Salutation_id1">Salutation:<span class="ibm-required">*</span> <span class="ibm-item-note">(e.g., Mr., Mrs.)</span></label>
											<span>
												<select name="salutation" id="UPDATE_Salutation_id1">
													<option value="" selected="selected">Select one</option>
													<option value="Mr.">Mr.</option>
													<option value="Mrs.">Mrs.</option>
													<option value="Ms">Ms.</option>

													<option value="Miss">Miss</option>
													<option value="Dr.">Dr.</option>
												</select> 
											<a class="ibm-information-link" href="#">UPDATE</a></span>
										</p>
										<p>
											<label for="UPDATE_First_name_id">First name:<span class="ibm-required">*</span></label>
											<span>
												<input name="first_name" id="UPDATE_First_name_id" size="40" value="" type="text">
											</span>
										</p>
										<p>
											<label for="UPDATE_Last_name_id">Last name:<span class="ibm-required">*</span></label>

											<span>
												<input name="last_name" id="UPDATE_Last_name_id" size="40" value="" type="text">
												<a class="ibm-information-link" href="#">UPDATE</a> </span>

										</p>
										<p>
											<label for="UPDATE_E_mail_address_id">E-mail address:<span class="ibm-required">*</span></label>
											<span>
												<input name="email" id="UPDATE_E_mail_address_id" size="40" value="" type="text">
												<a class="ibm-information-link" href="#">UPDATE</a> </span>

										</p>
										<p>
											<label for="UPDATE_Phone_number_id">Phone number:</label>
											<span>
												<input name="phone_number" id="UPDATE_Phone_number_id" size="40" value="" type="text">
											</span>
										</p>
										<p>
											<label for="UPDATE_Country_region_id">Country / region:<span class="ibm-required">*</span></label>
											<span>
												<select class="iform" name="usercc" id="UPDATE_Country_region_id">
													<option value="" selected="selected">Please select one</option>
													<option value="us">United States</option>
													<option value="ar">Argentina</option>
													<option value="au">Australia</option>
													<option value="at">Austria</option>
													<option value="bs">Bahamas</option>
													<option value="bh">Bahrain</option>
													<option value="bb">Barbados</option>

													<option value="be">Belgium</option>
													<option value="bm">Bermuda</option>
													<option value="bo">Bolivia</option>
													<option value="bw">Botswana</option>
													<option value="br">Brazil</option>
													<option value="bg">Bulgaria</option>
													<option value="ca">Canada</option>
													<option value="cl">Chile</option>
													<option value="cn">China</option>

													<option value="co">Colombia</option>
													<option value="hr">Croatia</option>
													<option value="cy">Cyprus</option>
													<option value="cz">Czech Republic</option>
													<option value="dk">Denmark</option>
													<option value="do">Dominican Republic</option>
													<option value="ec">Ecuador</option>
													<option value="eg">Egypt</option>
													<option value="sv">El Salvador</option>

													<option value="ee">Estonia</option>
													<option value="fi">Finland</option>
													<option value="fr">France</option>
													<option value="de">Germany</option>
													<option value="gr">Greece</option>
													<option value="gt">Guatemala</option>
													<option value="hn">Honduras</option>
													<option value="hk">Hong Kong S.A.R. of China</option>
													<option value="hu">Hungary</option>

													<option value="in">India</option>
													<option value="id">Indonesia</option>
													<option value="ie">Ireland</option>
													<option value="il">Israel</option>
													<option value="it">Italy</option>
													<option value="jm">Jamaica</option>
													<option value="jp">Japan</option>
													<option value="jo">Jordan</option>
													<option value="kr">Korea, Republic of</option>

													<option value="kw">Kuwait</option>
													<option value="lv">Latvia</option>
													<option value="lb">Lebanon</option>
													<option value="lt">Lithuania</option>
													<option value="my">Malaysia</option>
													<option value="mx">Mexico</option>
													<option value="ma">Morocco</option>
													<option value="nl">Netherlands</option>
													<option value="an">Netherlands Antilles</option>

													<option value="nz">New Zealand</option>
													<option value="ni">Nicaragua</option>
													<option value="no">Norway</option>
													<option value="om">Oman</option>
													<option value="pk">Pakistan</option>
													<option value="pa">Panama</option>
													<option value="py">Paraguay</option>
													<option value="pe">Peru</option>
													<option value="ph">Philippines</option>

													<option value="pl">Poland</option>
													<option value="pt">Portugal</option>
													<option value="qa">Qatar</option>
													<option value="ro">Romania</option>
													<option value="ru">Russian Federation</option>
													<option value="sa">Saudi Arabia</option>
													<option value="sn">Senegal</option>
													<option value="yu">Serbia and Montenegro</option>
													<option value="sg">Singapore</option>

													<option value="sk">Slovakia</option>
													<option value="si">Slovenia</option>
													<option value="za">South Africa</option>
													<option value="es">Spain</option>
													<option value="lk">Sri Lanka</option>
													<option value="sr">Suriname</option>
													<option value="se">Sweden</option>
													<option value="ch">Switzerland</option>
													<option value="tw">Taiwan</option>

													<option value="th">Thailand</option>
													<option value="tt">Trinidad and Tobago</option>
													<option value="tn">Tunisia</option>
													<option value="tr">Turkey</option>
													<option value="ae">United Arab Emirates</option>
													<option value="uk">United Kingdom</option>
													<option value="us">United States</option>
													<option value="uy">Uruguay</option>
													<option value="ve">Venezuela</option>

													<option value="vn">Vietnam</option>
												</select> <a class="ibm-information-link" href="#">UPDATE</a></span>
										</p>
										<p>
											<label for="UPDATE_Job_role_id">Job role:</label>
											<span>
												<select name="profile" id="UPDATE_Job_role_id">
													<option value="" selected="selected">Which best describes you?</option>
													<option value="Business_user">Business user</option>
													<option value="Consultant">Consultant</option>
													<option value="Employee">Employee</option>

													<option value="Home_user">Home user</option>
													<option value="IT_purchaser">IT purchaser</option>
													<option value="Prospective_customer">Prospective customer</option>
													<option value="Reseller">Reseller</option>
													<option value="Software_developer">Software developer</option>
													<option value="Stockholder">Stockholder</option>
													<option value="Student">Student</option>
													<option value="Other">Other</option>
												</select> <a class="ibm-information-link" href="#">UPDATE</a></span>
										</p>
										<p>
											<label for="UPDATE_category_id">Message category:<span class="ibm-required">*</span></label>
											<span>
												<select name="category" id="UPDATE_category_id">
													<option value="">Select one</option>
													<option value="Government and Education">Government and Education</option>
													<option value="IBM Business Partners">IBM Business Partners</option>
													<option value="IBM Global Services">IBM Global Services</option>
													<option value="IBM Learning Services">IBM Learning Services</option>

													<option value="Industry solutions">Industry solutions</option>
													<option value="IT security">IT security</option>
													<option value="Jobs at IBM">Jobs at IBM</option>
													<option value="Midrange/Mainframe servers">Midrange/Mainframe servers</option>
													<option value="Personal Systems">Personal Systems</option>
													<option value="Privacy">Privacy</option>
													<option value="Research and development">Research and development</option>
													<option value="Search feedback">Search feedback</option>
													<option value="Software">Software</option>

													<option value="Student inquiries">Student inquiries</option>
													<option value="Web site feedback">Web site feedback</option>
													<option value="Other">Other</option>
												</select> <a class="ibm-information-link" href="#">UPDATE</a></span>
										</p>
										<p class="ibm-form-elem-grp">
											<label id="UPDATE-form-grp-lbl_id" class="ibm-form-grp-lbl">Is this a complaint?</label>
											<span class="ibm-input-group">
												<input name="complaint" id="UPDATE_Is_this_a_complaint_id" value="Yes" type="checkbox">
												<label for="UPDATE_Is_this_a_complaint_id">Yes</label> <a class="ibm-information-link" href="#">UPDATE</a></span>

										</p>

										<p>
											<label for="UPDATE_Subject_id">Subject:</label><span>
												<input name="subject" id="UPDATE_Subject_id" size="40" value="" type="text">
											</span>
										</p>
										<p>
											<label for="UPDATE_Message_id">Message:<span class="ibm-required">*</span></label>
											<span> 												<textarea id="UPDATE_Message_id" cols="38" rows="7" name="message"></textarea><a class="ibm-information-link" href="#">UPDATE</a></span>
										</p>
										<div class="ibm-alternate-rule">
											<hr//>
										</div>
										<p>
											Country specific privacy and notice & choice statement. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
										</p>
										<div class="ibm-rule">
											<hr//>
										</div>
										<div class="ibm-columns">
											<div class="ibm-col-6-1">
												<p>
													<input value="Submit" name="ibm-submit" class="ibm-btn-pri" type="submit">
												</p>
											</div>

										</div>
									</form>
									<!-- FORM_END -->
									<p>
										&nbsp;
									</p>
								</div>

							</div>
							<div class="ibm-columns">
								<div class="ibm-col-6-4">
									<h2>Example: Two-column form</h2>
									<!-- Two Column Form -->
									<form action="[REPLACE]" class="ibm-row-form ibm-styled-form"  enctype="multipart/form-data" method="post">
										<div class="ibm-columns">
											<div class="ibm-col-2-1">
												<p>
													<label for="First_name">First name:<span class="ibm-required">*</span></label>

													<span>
														<input name="first_name" id="First_name" size="40" type="text" value=""/>
													</span>
												</p>
											</div>
											<div class="ibm-col-2-1">
												<p>
													<label for="Last_name">Last name:<span class="ibm-required">*</span></label>
													<span>
														<input name="last_name" id="Last_name" size="40" type="text" value=""/>
													</span>
												</p>
											</div>
										</div>
										<div class="ibm-columns">
											<div class="ibm-col-2-1">
												<p>
													<label for="my_Country">Country / region:</label>

													<span>
														<select class="iform" name="usercc" id="my_Country">
															<option value="" selected="selected">Please select one</option>
															<option value="us">United States</option>
															<option value="ar">Argentina</option>
															<option value="au">Australia</option>
															<option value="at">Austria</option>
															<option value="bs">Bahamas</option>
															<option value="bh">Bahrain</option>
															<option value="bb">Barbados</option>

															<option value="be">Belgium</option>
															<option value="bm">Bermuda</option>
															<option value="bo">Bolivia</option>
															<option value="bw">Botswana</option>
															<option value="br">Brazil</option>
															<option value="bg">Bulgaria</option>
															<option value="ca">Canada</option>
															<option value="cl">Chile</option>
															<option value="cn">China</option>

															<option value="co">Colombia</option>
															<option value="hr">Croatia</option>
															<option value="cy">Cyprus</option>
															<option value="cz">Czech Republic</option>
															<option value="dk">Denmark</option>
															<option value="do">Dominican Republic</option>
															<option value="ec">Ecuador</option>
															<option value="eg">Egypt</option>
															<option value="sv">El Salvador</option>

															<option value="ee">Estonia</option>
															<option value="fi">Finland</option>
															<option value="fr">France</option>
															<option value="de">Germany</option>
															<option value="gr">Greece</option>
															<option value="gt">Guatemala</option>
															<option value="hn">Honduras</option>
															<option value="hk">Hong Kong S.A.R. of China</option>
															<option value="hu">Hungary</option>

															<option value="in">India</option>
															<option value="id">Indonesia</option>
															<option value="ie">Ireland</option>
															<option value="il">Israel</option>
															<option value="it">Italy</option>
															<option value="jm">Jamaica</option>
															<option value="jp">Japan</option>
															<option value="jo">Jordan</option>
															<option value="kr">Korea, Republic of</option>

															<option value="kw">Kuwait</option>
															<option value="lv">Latvia</option>
															<option value="lb">Lebanon</option>
															<option value="lt">Lithuania</option>
															<option value="my">Malaysia</option>
															<option value="mx">Mexico</option>
															<option value="ma">Morocco</option>
															<option value="nl">Netherlands</option>
															<option value="an">Netherlands Antilles</option>

															<option value="nz">New Zealand</option>
															<option value="ni">Nicaragua</option>
															<option value="no">Norway</option>
															<option value="om">Oman</option>
															<option value="pk">Pakistan</option>
															<option value="pa">Panama</option>
															<option value="py">Paraguay</option>
															<option value="pe">Peru</option>
															<option value="ph">Philippines</option>

															<option value="pl">Poland</option>
															<option value="pt">Portugal</option>
															<option value="qa">Qatar</option>
															<option value="ro">Romania</option>
															<option value="ru">Russian Federation</option>
															<option value="sa">Saudi Arabia</option>
															<option value="sn">Senegal</option>
															<option value="yu">Serbia and Montenegro</option>
															<option value="sg">Singapore</option>

															<option value="sk">Slovakia</option>
															<option value="si">Slovenia</option>
															<option value="za">South Africa</option>
															<option value="es">Spain</option>
															<option value="lk">Sri Lanka</option>
															<option value="sr">Suriname</option>
															<option value="se">Sweden</option>
															<option value="ch">Switzerland</option>
															<option value="tw">Taiwan</option>

															<option value="th">Thailand</option>
															<option value="tt">Trinidad and Tobago</option>
															<option value="tn">Tunisia</option>
															<option value="tr">Turkey</option>
															<option value="ae">United Arab Emirates</option>
															<option value="uk">United Kingdom</option>
															<option value="us">United States</option>
															<option value="uy">Uruguay</option>
															<option value="ve">Venezuela</option>

															<option value="vn">Vietnam</option>
														</select> <a class="ibm-information-link" href="#">UPDATE</a></span>
												</p>
											</div>
											<div class="ibm-col-2-1">
												<p>
													<label for="my_Job">Job role:<span class="ibm-required">*</span></label>
													<span>
														<select name="profile" id="my_Job">
															<option value="" selected="selected">Which best describes you?</option>
															<option value="Business_user">Business user</option>
															<option value="Consultant">Consultant</option>
															<option value="Employee">Employee</option>

															<option value="Home_user">Home user</option>
															<option value="IT_purchaser">IT purchaser</option>
															<option value="Prospective_customer">Prospective customer</option>
															<option value="Reseller">Reseller</option>
															<option value="Software_developer">Software developer</option>
															<option value="Stockholder">Stockholder</option>
															<option value="Student">Student</option>
															<option value="Other">Other</option>
														</select><a class="ibm-information-link" href="#">UPDATE</a></span>
												</p>
											</div>
										</div>
										<div class="ibm-columns">
											<div class="ibm-col-1-1">
												<p>
													<label for="E_mail_address">E-mail address:<span class="ibm-required">*</span> <span class="ibm-additional-info">(This will also be your ID for signing in)</span></label>
													<span>
														<input name="email" id="E_mail_address" size="40" type="text" value=""/>
													</span>
												</p>

											</div>
										</div>
										<div class="ibm-columns">
											<div class="ibm-col-1-1">
												<p>
													Passwords must be at least 8 characters in length.
												</p>
											</div>
											<div class="ibm-col-2-1">
												<p>
													<label for="password">Password:<span class="ibm-required">*</span></label>
													<span>
														<input name="password" id="password" size="40" type="text" value=""/>
													</span>
												</p>
											</div>
											<div class="ibm-col-2-1">
												<p>
													<label for="re_enter_password">Re-enter password:<span class="ibm-required">*</span></label>

													<span>
														<input name="re_enter_password" id="re_enter_password" size="40" type="text" value=""/>
													</span>
												</p>
											</div>
										</div>
										<div class="ibm-columns">
											<div class="ibm-col-1-1">
												<p>
													Please enter a security question that only you can answer. Then, enter the answer to the question. Occasionally, you may be asked to answer this question to confirm your identity.
												</p>
											</div>
											<div class="ibm-col-2-1">
												<p>
													<label for="security_question">Security question:<span class="ibm-required">*</span></label>
													<span>
														<input name="security_question" id="security_question" size="40" type="text" value=""/>
														<a class="ibm-information-link" href="#">UPDATE</a> </span>

												</p>
											</div>
											<div class="ibm-col-2-1">
												<p>
													<label for="answer_to_security_question">Answer to security question:<span class="ibm-required">*</span></label>

													<span>
														<input name="answer_to_security_question" id="answer_to_security_question" size="40" type="text" value=""/>
														<a class="ibm-information-link" href="#">UPDATE</a> </span>

												</p>
											</div>
										</div>
										<div class="ibm-alternate-rule">
											<hr/>
										</div>
										
<h2>Using ibm-mandate-select class</h2>

<div class="ibm-columns">
<div class="ibm-col-5-1">
	<h2>Select</h2>
	<select class="ibm-styled" disabled="disabled">
		<option value="at">Disabled</option>
		<option value="au">Disabled</option>
		<option value="ca">Disabled</option>
	</select>
	<br />
	<span class="ibm-mandate-select">
	<select class="ibm-styled">
		<option value="at">Austria</option>
		<option value="au">Australia</option>
		<option value="ca">Canada</option>
	</select><a title="Error link" href="#" class="ibm-information-link"></a></span>
</div>
		</div>								
										
										
										
										<div class="ibm-columns">
											<div class="ibm-col-1-1">
												<p>
													Country specific privacy and notice & choice statement. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
												<div class="ibm-rule">
													<hr/>
												</div>
											</div>
											<div class="ibm-col-1-1">
												<div class="ibm-buttons-row">
													<p>
														<input value="Submit" type="submit" name="ibm-submit" class="ibm-btn-arrow-pri" />
														<span class="ibm-sep"> </span>
														<input value="Cancel" type="submit" name="ibm-cancel" class="ibm-btn-cancel-sec" />

													</p>
												</div>
											</div>
										</div>
									</form>
									<p>
										&nbsp;
									</p>

								</div>

							</div>
						</div>
						<!-- FEATURES_BEGIN -->
						<div id="ibm-content-sidebar">
							<div id="ibm-contact-module">
								<!--IBM Contact Module-->
							</div>
							%%sidebarspace%%
						</div>
						<!-- FEATURES_END -->

						<!-- CONTENT_BODY_END -->
					</div>
				</div>
				<!-- CONTENT_END -->
				<!-- NAVIGATION_BEGIN -->

				<!-- NAVIGATION_END -->
			</div>
			<div id="ibm-related-content">
				<div id="ibm-merchandising-module">
					<!--IBM Web Merchandising Module-->
				</div>
			</div>

			<!-- v17 SSIs: version 1.1 -->
			<!-- FOOTER_BEGIN -->
			<div id="ibm-footer-module">

			</div>
			<div id="ibm-footer">
				<h2 class="ibm-access">Footer links </h2>
				<ul>
					<li>
						<a href="http://www.ibm.com/contact/">Contact</a>
					</li>
					<li>
						<a href="http://www.ibm.com/privacy/">Privacy</a>
					</li>
					<li>
						<a href="http://www.ibm.com/legal/">Terms of use</a>
					</li>
				</ul>
			</div>
			<!-- FOOTER_END -->
		</div>
		<div id="ibm-metrics">
			<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">
				//
			</script>

		</div>
	</body>
</html>
