<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->
	
	
	<title>IBM v17 TEMPLATE-Form Error Options</title>
	
<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<link href="../../css/form.css" rel="stylesheet" title="www" type="text/css" />

<script src="../../js/ww.js" type="text/javascript"></script>

</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-default">
  <!-- MASTHEAD_BEGIN -->
  
  <div id="ibm-masthead">
    <div id="ibm-mast-options">
      <ul>
        <li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
      </ul>
    </div>
    <div id="ibm-universal-nav">
      <ul id="ibm-unav-links">
        <li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
      </ul>
      <ul id="ibm-menu-links">
        <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
      </ul>
      <div id="ibm-search-module">
        <form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
          <p>
            <label for="q"> <span class="ibm-access">Search</span> </label>
            <input id="q" value="" maxlength="100" name="q" type="text"/>
            <input name="v" type="hidden" value="17"/>
            <input type="hidden" name="en" value="utf"/>
            <input name="lang" type="hidden" value="en"/>
            <input name="cc" type="hidden" value="us"/>
            <input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
          </p>
        </form>
      </div>
    </div>
  </div>
  <!-- MASTHEAD_END -->
  
  <div id="ibm-pcon"> 
    <!-- CONTENT_BEGIN -->
    <div id="ibm-content"> 
      <!-- TITLE_BEGIN -->
      <div id="ibm-content-head"> 
        <!-- LEADSPACE_BEGIN -->
        <div id="ibm-leadspace-head" class="ibm-alternate">
          <div id="ibm-leadspace-body">
          <div class="ibm-columns">
<div class="ibm-col-1-1">
            <h1>PAGE TITLE - REPLACE</h1>
            </div>
            </div>
          </div>
        </div>
        <!-- LEADSPACE_END --> 
      </div>
      <!-- TITLE_END --> 
      <!-- CONTENT_BODY -->
      <div id="ibm-content-body">
        <div id="ibm-content-main">
         
         <!-- Single column form with error text on top of the form -->
          <div class="ibm-container">
          <div class="ibm-container-body">
          
          <h2><span class="ibm-error">Error Option:1</span>--Displaying the error message on top of the form with error icon on the form element</h2>
<form method="post" enctype="multipart/form-data" class="ibm-column-form ibm-styled-form" action="[REPLACE]">
<p class="ibm-ind-error"><strong>If you do not want to provide us with the required information, please use the back button on your browser to return to the previous page.</strong></p>
<div class="ibm-rule"><hr></div>
<p><label for="Salutation" class="ibm-error">Salutation:<span class="ibm-required">*</span> <span class="ibm-item-note">(e.g., Mr., Mrs.)</span>
<span class="ibm-additional-info">First name is mandatory</span></label>
<span><select id="def" name="def">
<option selected="selected" value="">Select one</option>
<option value="Mr.">Mr.</option>
<option value="Mrs.">Mrs.</option>
<option value="Ms">Ms.</option>
<option value="Miss">Miss</option>
<option value="Dr.">Dr.</option>
</select><a title="Error link" href="#" class="ibm-error-link">&nbsp;</a></span></p>
<p><label for="First_name" class="ibm-error">First name:<span class="ibm-required">*</span></label><span><input type="text" value="" size="40" id="First_name" name="first_name"><a title="Error link" href="#" class="ibm-error-link">&nbsp;</a></span></p>
<p><label for="Last_name"  class="ibm-error">Last name:<span class="ibm-required">*</span></label>
<span><input type="text" value="" size="40" id="Last_name" name="last_name"><a title="Error link" href="#" class="ibm-error-link">&nbsp;</a></span></p>
<p><label for="E_mail_address">Email address:<span class="ibm-required">*</span>
<span class="ibm-item-note">ex:abc@in.ibm.com</span>
<span class="ibm-additional-info">Email feild is mandatory.You can fill in your personal email address also</span>
</label><span><input type="text" value="" size="40" id="E_mail_address" name="email"></span></p>
<p><label for="Phone_number">Phone number:</label><span><input type="text" value="" size="40" id="Phone_number" name="phone_number"></span></p>
<p><label for="Country_region">Country / region:<span class="ibm-required">*</span></label>
<span><select id="Your_country_or_region" name="usercc" class="iform">
<option selected="selected" value="">Please select one</option>
<option value="us">United States</option>
<option value="ar">Argentina</option>
<option value="au">Australia</option>
<option value="at">Austria</option>
<option value="bs">Bahamas</option>
<option value="bh">Bahrain</option>
<option value="bb">Barbados</option>
<option value="be">Belgium</option>
<option value="bm">Bermuda</option>
<option value="bo">Bolivia</option>
<option value="bw">Botswana</option>
<option value="br">Brazil</option>
<option value="bg">Bulgaria</option>
<option value="ca">Canada</option>
<option value="cl">Chile</option>
<option value="cn">China</option>
<option value="co">Colombia</option>
<option value="hr">Croatia</option>
<option value="cy">Cyprus</option>
<option value="cz">Czech Republic</option>
<option value="dk">Denmark</option>
<option value="do">Dominican Republic</option>
<option value="ec">Ecuador</option>
<option value="eg">Egypt</option>
<option value="sv">El Salvador</option>
<option value="ee">Estonia</option>
<option value="fi">Finland</option>
<option value="fr">France</option>
<option value="de">Germany</option>
<option value="gr">Greece</option>
<option value="gt">Guatemala</option>
<option value="hn">Honduras</option>
<option value="hk">Hong Kong S.A.R. of China</option>
<option value="hu">Hungary</option>
<option value="in">India</option>
<option value="id">Indonesia</option>
<option value="ie">Ireland</option>
<option value="il">Israel</option>
<option value="it">Italy</option>
<option value="jm">Jamaica</option>
<option value="jp">Japan</option>
<option value="jo">Jordan</option>
<option value="kr">Korea, Republic of</option>
<option value="kw">Kuwait</option>
<option value="lv">Latvia</option>
<option value="lb">Lebanon</option>
<option value="lt">Lithuania</option>
<option value="my">Malaysia</option>
<option value="mx">Mexico</option>
<option value="ma">Morocco</option>
<option value="nl">Netherlands</option>
<option value="an">Netherlands Antilles</option>
<option value="nz">New Zealand</option>
<option value="ni">Nicaragua</option>
<option value="no">Norway</option>
<option value="om">Oman</option>
<option value="pk">Pakistan</option>
<option value="pa">Panama</option>
<option value="py">Paraguay</option>
<option value="pe">Peru</option>
<option value="ph">Philippines</option>
<option value="pl">Poland</option>
<option value="pt">Portugal</option>
<option value="qa">Qatar</option>
<option value="ro">Romania</option>
<option value="ru">Russian Federation</option>
<option value="sa">Saudi Arabia</option>
<option value="sn">Senegal</option>
<option value="yu">Serbia and Montenegro</option>
<option value="sg">Singapore</option>
<option value="sk">Slovakia</option>
<option value="si">Slovenia</option>
<option value="za">South Africa</option>
<option value="es">Spain</option>
<option value="lk">Sri Lanka</option>
<option value="sr">Suriname</option>
<option value="se">Sweden</option>
<option value="ch">Switzerland</option>
<option value="tw">Taiwan</option>
<option value="th">Thailand</option>
<option value="tt">Trinidad and Tobago</option>
<option value="tn">Tunisia</option>
<option value="tr">Turkey</option>
<option value="ae">United Arab Emirates</option>
<option value="uk">United Kingdom</option>
<option value="us">United States</option>
<option value="uy">Uruguay</option>
<option value="ve">Venezuela</option>
<option value="vn">Vietnam</option>
</select>
<a title="Error link" href="#" class="ibm-error-link">&nbsp;</a>
</span>

</p>
<p><label for="Job_role">Job role:</label>
<span><select id="Help_us_answer_your_message" name="profile">
<option selected="selected" value="">Which best describes you?</option>
<option value="Business_user">Business user</option>
<option value="Consultant">Consultant</option>
<option value="Employee">Employee</option>
<option value="Home_user">Home user</option>
<option value="IT_purchaser">IT purchaser</option>
<option value="Prospective_customer">Prospective customer</option>
<option value="Reseller">Reseller</option>
<option value="Software_developer">Software developer</option>
<option value="Stockholder">Stockholder</option>
<option value="Student">Student</option>
<option value="Other">Other</option>
</select></span></p>
<p><label for="updateA"  class="ibm-error">Vertical checkbox example<span class="ibm-required">*</span></label>

<span class="ibm-input-group">
<input id="updateA" name="updateA" type="checkbox" value="Option A"/><label for="updateA">Option A</label><br />
<input id="updateB" name="updateB" type="checkbox" value="Option B"/><label for="updateB">Option B</label><br />
<input id="updateC" name="updateC" type="checkbox" value="Option C"/><label for="updateC">Option C</label><br />
<input id="updateD" name="updateD" type="checkbox" value="Option D"/><label for="updateD">Option D</label><br />
</span>
<span class="ibm-error-link">Please click any one option</span>
</p>
<div class="ibm-alternate-rule"><hr></div>
<p>Country specific privacy and notice &amp; choice statement. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<div class="ibm-rule"><hr></div>
<div class="ibm-buttons-row">
<p><input type="submit" class="ibm-btn-arrow-pri" name="ibm-submit" value="Submit" /></p>
</div>
</form>
          
          </div>
          
          </div>
          <!-- Single column form with error text below the label -->
          <div class="ibm-container">
          <div class="ibm-container-body">
          
          <h2><span class="ibm-error">Error Option:2</span>--Displaying the error message inline with the form element</h2>
<form method="post" enctype="multipart/form-data" class="ibm-column-form ibm-styled-form" action="[REPLACE]">

<div class="ibm-rule"><hr></div>
<p><label for="Salutation">Salutation:<span class="ibm-required">*</span> <span class="ibm-item-note">(e.g., Mr., Mrs.)</span></label>
<span><select id="abc" name="abc">
<option selected="selected" value="">Select one</option>
<option value="Mr.">Mr.</option>
<option value="Mrs.">Mrs.</option>
<option value="Ms">Ms.</option>
<option value="Miss">Miss</option>
<option value="Dr.">Dr.</option>
</select></span></p>
<p>
<label for="First_name"  class="ibm-error">First name:<span class="ibm-required">*</span></label>
<span><input type="text" value="" size="40" id="First_name" name="first_name"  /></span>
<!-- span class="ibm-error-text"><a title="Error link" href="#" class="ibm-error-link">&nbsp;</a>Please fill in your First name. First name is mandatory field which you need to fill it</span-->
<span class="ibm-error-link">Please fill in your First name. First name is mandatory field which you need to fill it</span>
</p>



<p><label for="Last_name"  class="ibm-error">Last name:<span class="ibm-required">*</span></label>
<span><input type="text" value="" size="40" id="Last_name" name="last_name" /></span>
<span class="ibm-error-link">Please fill in your Last name</span>
</p>

<p><label for="E_mail_address">Email address:<span class="ibm-required">*</span></label><span><input type="text" value="" size="40" id="E_mail_address" name="email"></span></p>
<p><label for="Phone_number">Phone number:</label><span><input type="text" value="" size="40" id="Phone_number" name="phone_number"></span></p>
<p><label for="Country_region">Country / region:<span class="ibm-required">*</span></label>
<span><select id="country" name="usercc" class="iform">
<option selected="selected" value="">Please select one</option>
<option value="us">United States</option>
<option value="ar">Argentina</option>
<option value="au">Australia</option>
<option value="at">Austria</option>
<option value="bs">Bahamas</option>
<option value="bh">Bahrain</option>
<option value="bb">Barbados</option>
<option value="be">Belgium</option>
<option value="bm">Bermuda</option>
<option value="bo">Bolivia</option>
<option value="bw">Botswana</option>
<option value="br">Brazil</option>
<option value="bg">Bulgaria</option>
<option value="ca">Canada</option>
<option value="cl">Chile</option>
<option value="cn">China</option>
<option value="co">Colombia</option>
<option value="hr">Croatia</option>
<option value="cy">Cyprus</option>
<option value="cz">Czech Republic</option>
<option value="dk">Denmark</option>
<option value="do">Dominican Republic</option>
<option value="ec">Ecuador</option>
<option value="eg">Egypt</option>
<option value="sv">El Salvador</option>
<option value="ee">Estonia</option>
<option value="fi">Finland</option>
<option value="fr">France</option>
<option value="de">Germany</option>
<option value="gr">Greece</option>
<option value="gt">Guatemala</option>
<option value="hn">Honduras</option>
<option value="hk">Hong Kong S.A.R. of China</option>
<option value="hu">Hungary</option>
<option value="in">India</option>
<option value="id">Indonesia</option>
<option value="ie">Ireland</option>
<option value="il">Israel</option>
<option value="it">Italy</option>
<option value="jm">Jamaica</option>
<option value="jp">Japan</option>
<option value="jo">Jordan</option>
<option value="kr">Korea, Republic of</option>
<option value="kw">Kuwait</option>
<option value="lv">Latvia</option>
<option value="lb">Lebanon</option>
<option value="lt">Lithuania</option>
<option value="my">Malaysia</option>
<option value="mx">Mexico</option>
<option value="ma">Morocco</option>
<option value="nl">Netherlands</option>
<option value="an">Netherlands Antilles</option>
<option value="nz">New Zealand</option>
<option value="ni">Nicaragua</option>
<option value="no">Norway</option>
<option value="om">Oman</option>
<option value="pk">Pakistan</option>
<option value="pa">Panama</option>
<option value="py">Paraguay</option>
<option value="pe">Peru</option>
<option value="ph">Philippines</option>
<option value="pl">Poland</option>
<option value="pt">Portugal</option>
<option value="qa">Qatar</option>
<option value="ro">Romania</option>
<option value="ru">Russian Federation</option>
<option value="sa">Saudi Arabia</option>
<option value="sn">Senegal</option>
<option value="yu">Serbia and Montenegro</option>
<option value="sg">Singapore</option>
<option value="sk">Slovakia</option>
<option value="si">Slovenia</option>
<option value="za">South Africa</option>
<option value="es">Spain</option>
<option value="lk">Sri Lanka</option>
<option value="sr">Suriname</option>
<option value="se">Sweden</option>
<option value="ch">Switzerland</option>
<option value="tw">Taiwan</option>
<option value="th">Thailand</option>
<option value="tt">Trinidad and Tobago</option>
<option value="tn">Tunisia</option>
<option value="tr">Turkey</option>
<option value="ae">United Arab Emirates</option>
<option value="uk">United Kingdom</option>
<option value="us">United States</option>
<option value="uy">Uruguay</option>
<option value="ve">Venezuela</option>
<option value="vn">Vietnam</option>
</select></span></p>
<p><label for="Job_role">Job role:</label>
<span><select id="Help_us_answer_your_message1" name="profile">
<option selected="selected" value="">Which best describes you?</option>
<option value="Business_user">Business user</option>
<option value="Consultant">Consultant</option>
<option value="Employee">Employee</option>
<option value="Home_user">Home user</option>
<option value="IT_purchaser">IT purchaser</option>
<option value="Prospective_customer">Prospective customer</option>
<option value="Reseller">Reseller</option>
<option value="Software_developer">Software developer</option>
<option value="Stockholder">Stockholder</option>
<option value="Student">Student</option>
<option value="Other">Other</option>
</select></span></p>
<p><label for="updateA" class="ibm-error">Vertical checkbox example<span class="ibm-required">*</span></label>

<span class="ibm-input-group">
<input id="updateE" name="updateE" type="checkbox" value="Option E"/><label for="updateE">Option E</label><br />
<input id="updateF" name="updateF" type="checkbox" value="Option F"/><label for="updateF">Option F</label><br />
<input id="updateG" name="updateG" type="checkbox" value="Option G"/><label for="updateG">Option G</label><br />
<input id="updateH" name="updateH" type="checkbox" value="Option H"/><label for="updateH">Option H</label><br />
</span>
<span class="ibm-error-link">Please click any one option</span>
</p>
<div class="ibm-alternate-rule"><hr></div>
<p>Country specific privacy and notice &amp; choice statement. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<div class="ibm-rule"><hr></div>
<div class="ibm-buttons-row">
<p><input type="submit" class="ibm-btn-arrow-pri" name="ibm-submit" value="Submit" /></p>
</div>
</form>
          
          </div>
          
          </div>
          <!-- End of the single column form -->
          
          <!--Ibm row form with error text -->
          
          <!-- Two Column Form -->
     <div class="ibm-container">
          <div class="ibm-container-body">
          
          <h2><span class="ibm-error">Error Option:3</span>--Displaying the error message inline with the form element on IBM ROW FORM</h2>
          
<form action="[REPLACE]" class="ibm-row-form ibm-styled-form" enctype="multipart/form-data" method="post">
<div class="ibm-columns">
<div class="ibm-col-2-1">
<p><label for="First_name"  class="ibm-error">First name:<span class="ibm-required">*</span></label>
<span><input name="first_name" id="First_name" size="40" type="text" value=""/></span>
<span class="ibm-error-link">Please fill in your First name. First name is mandatory field which you need to fill it</span>
</p>
</div>
<div class="ibm-col-2-1">
<p><label for="Last_name"  class="ibm-error">Last name:<span class="ibm-required">*</span></label>
<span><input name="last_name" id="Last_name" size="40" type="text" value=""/></span>
<span class="ibm-error-link">Please fill in your Last name</span>
</p>
</div>
</div>
<div class="ibm-columns">
<div class="ibm-col-1-1">
<p><label for="E_mail_address">Email address:<span class="ibm-required">*</span>
<span class="ibm-additional-info">(This will also be your ID for signing in)</span></label>
<span><input name="email" id="E_mail_address" size="40" type="text" value=""/></span></p>
</div>
</div>
<div class="ibm-columns">
<div class="ibm-col-1-1">
<p>Passwords must be at least 8 characters in length.</p>
</div>
<div class="ibm-col-2-1">
<p><label for="password">Password:<span class="ibm-required">*</span></label>
<span><input name="password" id="password" size="40" type="text" value=""/></span></p>
</div>
<div class="ibm-col-2-1">
<p><label for="re_enter_password">Re-enter password:<span class="ibm-required">*</span></label>
<span><input name="re_enter_password" id="re_enter_password" size="40" type="text" value=""/></span></p>
</div>
</div>
<div class="ibm-columns">
<div class="ibm-col-1-1">
<p>Please enter a security question that only you can answer. Then, enter the answer to the question. Occasionally, you may be asked to answer this question to confirm your identity.</p>
</div>
<div class="ibm-col-2-1">
<p><label for="security_question">Security question:<span class="ibm-required">*</span></label>
<span><input name="security_question" id="security_question" size="40" type="text" value=""/></span></p>
</div>
<div class="ibm-col-2-1">
<p><label for="answer_to_security_question">Answer to security question:<span class="ibm-required">*</span></label>
<span><input name="answer_to_security_question" id="answer_to_security_question" size="40" type="text" value=""/></span></p>
</div>
</div>
<div class="ibm-alternate-rule"><hr></div>
<div class="ibm-columns">
<div class="ibm-col-1-1">
<p>Country specific privacy and notice & choice statement. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<div class="ibm-rule"><hr></div>
<div class="ibm-buttons-row">
<p><input value="Submit" type="submit" name="ibm-submit" class="ibm-btn-arrow-pri" />
<span class="ibm-sep">&#160;</span>
<input value="Cancel" type="submit" name="ibm-cancel" class="ibm-btn-cancel-sec" />
</p>
</div>
</div>

</div>
</form>
</div>
</div>
<div class="ibm-container">
<div class="ibm-container-body">
<h2><span class="ibm-error">Error Option:4</span>--Displaying the error icon on ibm-styled and non-ibm-styled select form element</h2>
<form method="post" enctype="multipart/form-data" class="ibm-column-form" action="[REPLACE]">
<div class="ibm-rule"><hr></div>
<p><label for="Salutation">Salutation:<span class="ibm-required">*</span> <span class="ibm-item-note">(e.g., Mr., Mrs.)</span></label>
<span><select id="xyz" name="abc">
<option selected="selected" value="">Select one</option>
<option value="Mr.">Mr.</option>
<option value="Mrs.">Mrs.</option>
<option value="Ms">Ms.</option>
<option value="Miss">Miss</option>
<option value="Dr.">Dr.</option>
</select><a title="Error link" href="#" class="ibm-error-link">&nbsp;</a></span>
<p><label for="Salutation">Salutation:<span class="ibm-required">*</span> <span class="ibm-item-note">(e.g., Mr., Mrs.)</span></label>
<span><select id="zzz" name="zzz" class="ibm-styled">
<option selected="selected" value="">Select one</option>
<option value="Mr.">Mr.</option>
<option value="Mrs.">Mrs.</option>
<option value="Ms">Ms.</option>
<option value="Miss">Miss</option>
<option value="Dr.">Dr.</option>
</select><a title="Error link" href="#" class="ibm-error-link">&nbsp;</a></span></p>


</form>

</div>
</div>
         
          
          <!-- CONTACT_FORM_END --> 
          
        </div>
        <!-- FEATURES_BEGIN -->
        <div id="ibm-content-sidebar">
          <div id="ibm-contact-module"> 
            <!--IBM Contact Module--> 
          </div>
          <div id="ibm-merchandising-module"> 
            <!--IBM Web Merchandising Module--> 
          </div>
          <p>==SIDEBAR==</p>
        </div>
        <!-- FEATURES_END --> 
        <!-- CONTENT_BODY_END --> 
      </div>
    </div>
    <!-- CONTENT_END --> 
    <!-- NAVIGATION_BEGIN -->
    
    <div id="ibm-navigation">
      <h2 class="ibm-access">Content navigation</h2>
      <ul id="ibm-primary-links">
        <li id="ibm-overview"><a href="replace.html">REPLACE</a></li>
        <li><a href="replace.html">REPLACE 2</a></li>
        <li><a href="replace.html">REPLACE 3</a></li>
        <li><a href="replace.html">REPLACE 4</a></li>
      </ul>
      <div id="ibm-secondary-navigation"> 
        
        <!-- SECONDARY NAVIGATION SECTION --> 
      </div>
    </div>
    <!-- NAVIGATION_END --> 
  </div>
  <div id="ibm-related-content"></div>
  <!-- FOOTER_BEGIN -->
  <div id="ibm-footer-module"></div>
  <div id="ibm-footer">
    <h2 class="ibm-access">Footer links</h2>
    <ul>
      <li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
      <li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
      <li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
      <li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
    </ul>
  </div>
  <!-- FOOTER_END --> 
</div>
<div id="ibm-metrics"> 
</div>
</body>
</html>