<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link href="http://purl.org/DC/elements/1.0/" rel="schema.DC" />
<link href="//www.ibm.com/favicon.ico" rel="SHORTCUT ICON" />
<link href="http://www.ibm.com/us/en/" rel="canonical" />
<meta content="v17 ECM/ibm.com - S734638V15397V06 - 08/29/2011 03:40:00 PM" name="Source" />
<meta content="public" name="Security" />
<meta content="IBM Corporation" name="DC.Publisher" />
<meta content="The IBM corporate home page, entry point to information about IBM products and services" name="Description" />
<meta content="The IBM corporate home page, entry point to information about IBM products and services" name="Abstract" />
<meta content="US" name="IBM.Country" />
<meta content="The IBM corporate home page, entry point to information about IBM products and services" name="Keywords" />
<meta content="Joan Renner/Armonk/IBM" name="Owner" />
<meta content="index,follow" name="Robots" />
<meta content="2011-08-29" scheme="W3CDTF" name="IBM.Effective" />
<meta content="en-US" scheme="rfc1766" name="DC.Language" />
<meta content="2011-08-29" scheme="iso8601" name="DC.Date" />
<meta content="© Copyright IBM Corp. 2008, 2011" name="DC.Rights" />
<meta content="" scheme="IBM_SubjectTaxonomy" name="DC.Subject" />
<meta content="CT002" scheme="IBM_ContentClassTaxonomy" name="DC.Type" />
<title>IBM v17 TEMPLATE-Multi-Leaf Leadspace with black background without tab</title>
<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->

<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<script src="../../js/ww.js" type="text/javascript">
//
</script>

<style type="text/css">
#ibm-lead-1 {
	background: url(/i/v17/lead/leadspace-tall-main.png) no-repeat 50% 0px;
}

#ibm-leadspace-head .ibm-lead-thumb-1 {
	background: url(//www.ibm.com/images/portal/C325464Y32093B47/08292011hp_watson_healthcare_thumbnail_60x60.jpg) no-repeat 0px 0px;
}
#ibm-lead-2 {
	background: url(/i/v17/lead/leadspace-tall-main1.png) no-repeat 50% 0px;
}
#ibm-leadspace-head .ibm-lead-thumb-2 {
	background: url(//www.ibm.com/images/portal/G515082J72754S69/06062011hp_cities_rio_60x60.jpg) no-repeat 0px 0px;
}
#ibm-lead-3 {
	background: url(/i/v17/lead/leadspace-tall-main2.png) no-repeat 50% 0px;
}
#ibm-leadspace-head .ibm-lead-thumb-3 {
	background: url(//www.ibm.com/images/portal/A534475P90207X39/en_us_08292011_transport_thumbnail_60x60.jpg) no-repeat 0px 0px;
}
</style>
</head>

<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page"> 
  
  <!-- MASTHEAD_BEGIN -->
  

  <div id="ibm-masthead">
    <div id="ibm-mast-options">
      <ul>
        <li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
      </ul>
    </div>
    <div id="ibm-universal-nav">
      <ul id="ibm-unav-links">
        <li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
      </ul>
      <ul id="ibm-menu-links">
        <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
      </ul>
      <div id="ibm-search-module">
        <form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
          <p>
            <label for="q"><span class="ibm-access">Search</span></label>
            <input type="text" maxlength="100" value="" name="q" id="q"/>
            <input type="hidden" value="17" name="v"/>
            <input type="hidden" value="utf" name="en"/>
            <input type="hidden" value="en" name="lang"/>
            <input type="hidden" value="us" name="cc"/>
            <input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
          </p>
        </form>
      </div>
    </div>
  </div>
  
  <!-- MASTHEAD_END --> 
  
  <!-- LEADSPACE_BEGIN -->
  <!--
  	
  	if you wish to stop the automatic rotate for leadspace, you can use 'ibm-no-rotate' class:
  	
  	<div id="ibm-leadspace-head" class="ibm-container ibm-ribbon ibm-no-rotate">
  	
  -->
  
  <div id="ibm-leadspace-head" class="ibm-container ibm-no-tabs ibm-alternate-background ibm-ribbon">
    <div id="ibm-leadspace-body" class="ibm-container-body">
      <div class="ibm-columns" id="ibm-lead-1">
        <div class="ibm-col-1-1">
          <h1>Page or site title </h1>
          <p><em><span>Subtitles changes per leaf</span>Contetn changes per leaf,lorem iposum dolor sit amet,consectuer adipiscing elit. </em></p>
          <div class="ibm-ribbon-view ibm-lead-thumb-1">
            <div class="ibm-pagination-overlay ibm-alternate">
              <h2>Page or site title </h2>
              <p>Contetn changes per leaf,lorem iposum dolor sit amet,consectuer adipiscing elit. Lorem ipsum sit amet. Something, somewhere, somehow. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ibm-columns" id="ibm-lead-2">
        <div class="ibm-col-1-1">
          <h2>Page or site2 title </h2>
          <p><em><span>Subtitles changes per leaf</span>Contetn changes per leaf,lorem iposum dolor sit amet,consectuer adipiscing elit </em></p>
          <div class="ibm-ribbon-view ibm-lead-thumb-2">
            <div class="ibm-pagination-overlay"><span class="ibm-lead-thumb-2"></span>
              <h2>Page or site2 title </h2>
              <p>Contetn changes per leaf,lorem iposum dolor sit amet,consectuer adipiscing elit </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ibm-columns" id="ibm-lead-3">
        <div class="ibm-col-1-1">
          <h2>Page or site3 title </h2>
          <p><em><span>Subtitles changes per leaf</span>Contetn changes per leaf,lorem iposum dolor sit amet,consectuer adipiscing elit </em></p>
          <div class="ibm-ribbon-view ibm-lead-thumb-3">
            <div class="ibm-pagination-overlay"><span class="ibm-lead-thumb-3"></span>
              <h2>Page or site3 title </h2>
              <p>Contetn changes per leaf,lorem iposum dolor sit amet,consectuer adipiscing elit </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- LEADSPACE_END -->
 
  <div id="ibm-pcon"> 
    
    <!-- CONTENT_BEGIN -->
    
    <div id="ibm-content"> 
      
      <!-- CONTENT_BODY -->
      
      <div id="ibm-content-body">
        <div id="ibm-content-main"> %%Content space%% </div>
        
        <!-- FEATURES_BEGIN -->
        
        <div id="ibm-content-sidebar">
          <div id="ibm-contact-module"> 
            
            <!--IBM Contact Module--> 
            
          </div>
          %%sidebarspace%% </div>
        
        <!-- FEATURES_END --> 
        
        <!-- CONTENT_BODY_END --> 
        
      </div>
    </div>
    
    <!-- CONTENT_END --> 
    
    <!-- NAVIGATION_BEGIN --> 
    
    <!-- NAVIGATION_END --> 
    
  </div>
  <div id="ibm-related-content">
    <div id="ibm-merchandising-module"> 
      
      <!--IBM Web Merchandising Module--> 
      
    </div>
  </div>
  
  <!-- FOOTER_BEGIN -->
  
  <div id="ibm-footer-module"> </div>
  <div id="ibm-footer">
    <h2 class="ibm-access">Footer links</h2>
    <ul>
      <li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
      <li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
      <li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
      <li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
    </ul>
  </div>
  
  <!-- FOOTER_END --> 
  
</div>
<div id="ibm-metrics"> 
  <script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script> 
</div>
</body>
</html>
