<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->

<title>IBM v17-Anchor Links with Text Tabs</title>
<!-- DEBUG BUILD -->

<link href="../../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<script src="../../js/ww.js" type="text/javascript">
//
</script>

</head>

<body id="ibm-com" class="ibm-type">

<div id="ibm-top" class="ibm-default">


<!-- MASTHEAD_BEGIN -->

<div id="ibm-masthead">

<ul id="ibm-mast-options">
	<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html">United States</a></li>
	<!--
	<li id="ibm-site-name"><a href="REPLACE.HTML"><span>IBM</span> for British Petrolium</a></li>
	-->
	
	
	
</ul>

<div id="ibm-my-menu">

	<div class="ibm-columns">
	
	<div class="ibm-col-1-1">
	<h2>Lorem ipsum:</h2>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor dui, feugiat eu ultrices a, ultricies ultricies tellus. Curabitur porta pharetra magna ut faucibus. Nulla in felis ante, nec aliquam sem. Cras cursus euismod justo at suscipit. Duis laoreet semper lacus nec tempus. Nam elementum facilisis turpis eget sollicitudin. Ut orci lorem, cursus in tincidunt nec, commodo non tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tempor varius nisl, nec commodo lacus elementum eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed pharetra convallis vulputate. Nunc iaculis consequat tortor, vel adipiscing lacus gravida id. Phasellus vel erat eget magna dignissim lobortis. </p>
	
	</div>
	
	</div>

</div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
	<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
	<li class="ibm-access"><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<ul id="ibm-menu-links">
	<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>

<div id="ibm-search-module">
	       
	<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
	<p>
	<label for="q">
	<span class="ibm-access">Search</span>
	</label>
	<input id="q" value="Search" maxlength="100" name="q" type="text" accesskey="s"/>
	<input name="v" type="hidden" value="17"/>
	<input type="hidden" name="en" value="utf"/>
	<input name="lang" type="hidden" value="en"/>
	<input name="cc" type="hidden" value="us"/>
	<input name="Submit" value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
	</p>
	</form>

</div>

</div>



</div>

<!-- MASTHEAD_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

<!-- TITLE_BEGIN -->
<div id="ibm-leadspace-head">
<div id="ibm-leadspace-body">
<div class="ibm-columns">
<div class="ibm-col-1-1">
<h1>Examples of graphic and text tabs</h1>
</div>
</div>
</div>
</div>

<!-- TITLE_END -->

<!-- CONTENT_BODY -->
<div id="ibm-content-body">

<div id="ibm-content-main">


<!-- 3 COLUMN ANCHOR LINK LIST EXAMPLE -->
<p><b>3 Column anchor link list example</b></p>
<div class="ibm-container">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<div class="ibm-tabs ibm-columns">
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Duis diam sed vulpate</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Magna dolor erat</a></li>
</ul>
</div>
</div>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
</div>

<!-- Code of combination of tabs and anchor link -->

<!-- GRAPHIC TABS WITH SECONDARY 1 COLUMN ANCHOR LINK LIST EXAMPLE -->
<p><b>Graphic tabs with secondary 1 column anchor link list exampl</b></p>
<div class="ibm-container ibm-graphic-tabs ibm-combo-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">First tab</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#">Middle tab</a></li>
<li class="ibm-last-tab"><a href="#">Last tab</a></li>
</ul>
</div>
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor sit amet consetetur sadipscing sed</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Diam nonumy eirmod tempor invidunt ut labore et dolore aliquyam</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Erat sed diam voluptua at vero eos et accusam et dolores et</a></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
</div>

<!-- End -->
<!-- GRAPHIC TABS WITH SECONDARY 2 COLUMN ANCHOR LINK LIST EXAMPLE -->
<p><b>Graphic tabs with secondary 2 column anchor link list example</b></p>
<div class="ibm-container ibm-graphic-tabs ibm-combo-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">First tab</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#">Middle tab</a></li>
<li class="ibm-last-tab"><a href="#">Last tab</a></li>
</ul>
</div>
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<div class="ibm-tabs ibm-columns">
<div class="ibm-col-2-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor sed amet</a></li>
</ul>
</div>
<div class="ibm-col-2-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Duis diam sed vulpate magna</a></li>
</ul>
</div>
</div>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
</div>

<!-- GRAPHIC TABS WITH SECONDARY 3 COLUMN ANCHOR LINK LIST EXAMPLE -->
<p><b>Graphic tabs with secondary 3 column anchor link list example</b></p>
<div class="ibm-container ibm-graphic-tabs ibm-combo-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">First tab</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#">Middle tab</a></li>
<li class="ibm-last-tab"><a href="#">Last tab</a></li>
</ul>
</div>
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<div class="ibm-columns">
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Eirmod invidunt</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Duis diam sed vulpate</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Vulpate duis diam</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Magna dolor erat</a></li>
</ul>
</div>
</div>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
</div>

<!-- GRAPHIC TABS WITH SECONDARY 3 COLUMN CONTENT LINK LIST AND TERTIARY 2 COLUMN ANCHOR LINK LIST EXAMPLE -->
<p><b>Graphic tabs with secondary 3 column content link list and Tertiary 2 column anchor link list example</b></p>
<div class="ibm-container ibm-graphic-tabs ibm-combo-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">First tab</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#">Middle tab</a></li>
<li class="ibm-last-tab"><a href="#">Last tab</a></li>
</ul>
</div>
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<div class="ibm-tabs ibm-columns">
<div class="ibm-col-5-1">
<ul class="ibm-bullet-list">
<li><a href="#">Lorem ipsum dolor</a></li>
<li><a href="#">Eirmod invidunt</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-bullet-list">
<li class="ibm-highlight-link"><a href="">Duis diam sed vulpate</a> <span class="ibm-access"> - selected link,</span></li>
<li><a href="#">Vulpate duis diam</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-bullet-list">
<li><a href="#">Magna dolor erat</a></li>
</ul>
</div>
</div>
<div class="ibm-tabs ibm-columns ibm-inner-list">
<div class="ibm-col-2-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor sed amet</a></li>
</ul>
</div>
<div class="ibm-col-2-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Duis diam sed vulpate magna</a></li>
</ul>
</div>
</div>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
</div>

<!-- TEXT TABS WITH SECONDARY 1 COLUMN ANCHOR LINK LIST EXAMPLE -->
<p><b>Text tabs with secondary 1 column anchor link list example</b></p>
<div class="ibm-container">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">First tab</a><span class="ibm-access">- selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Middle tab</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Last tab</a>
<span class="ibm-sep">&nbsp;</span></li>
</ul>
<ul class="ibm-tabs ibm-link-list ibm-inner-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor sit amet consetetur sadipscing sed</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Diam nonumy eirmod tempor invidunt ut labore et dolore aliquyam</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Erat sed diam voluptua at vero eos et accusam et dolores et</a></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body"><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p></div>
</div>

<!-- TEXT TABS WITH SECONDARY 2 COLUMN ANCHOR LINK LIST EXAMPLE -->
<div class="ibm-container">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">First tab</a><span class="ibm-access">- selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Middle tab</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Last tab</a>
<span class="ibm-sep">&nbsp;</span></li>
</ul>
<div class="ibm-tabs ibm-columns ibm-inner-list">
<div class="ibm-col-2-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor sed amet</a></li>
</ul>
</div>
<div class="ibm-col-2-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Duis diam sed vulpate magna</a></li>
</ul>
</div>
</div>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
</div>
 
 
 <!-- TEXT TABS WITH SECONDARY 3 COLUMN ANCHOR LINK LIST EXAMPLE -->
 <p><b>Text tabs with secondary 3 column anchor link list example</b></p>
<div class="ibm-container">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">First tab</a><span class="ibm-access">- selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Middle tab</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Last tab</a>
<span class="ibm-sep">&nbsp;</span></li>
</ul>
<div class="ibm-tabs ibm-columns ibm-inner-list">
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Lorem ipsum dolor</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Eirmod invidunt</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Duis diam sed vulpate</a></li>
<li><a class="ibm-anchor-down-em-link" href="#">Vulpate duis diam</a></li>
</ul>
</div>
<div class="ibm-col-5-1">
<ul class="ibm-link-list">
<li><a class="ibm-anchor-down-em-link" href="#">Magna dolor erat</a></li>
</ul>
</div>
</div>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
</div>

<!-- End -->
<!-- GRAPHIC TABS EXAMPLE -->
<p>Grpahic tabs with in columns</p>

<div class="ibm-columns ibm-graphic-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected tab</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#">Unselected tab</a></li>
<li><a href="#">Unselected tab</a></li>

<li class="ibm-last-tab"><a href="#" >Unselected tab</a></li>
</ul>
</div>
<div class="ibm-col-1-1">
<p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself, your organization, and your interests.</p>
</div>
</div>
<!-- End of variation no.1 -->

<p>Grpahic tabs with in Nested columns</p>
<div class="ibm-columns">
<div class="ibm-col-5-3">

<div class="ibm-columns ibm-graphic-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected tab</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#">Unselected tab</a></li>
<li><a href="#">Unselected tab</a></li>

<li class="ibm-last-tab"><a href="#" >Unselected tab</a></li>
</ul>
</div>
<div class="ibm-col-1-1">
<p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself, your organization, and your interests.</p>
</div>
</div>
</div>
</div>


<p>Grpahic tabs with in container</p>
<div class="ibm-container ibm-graphic-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Overview</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#">Features</a></li>
<li><a href="#">Specifications</a></li>
<li class="ibm-last-tab"><a href="#">Configurations</a></li>
</ul>
</div>
<div class="ibm-container-body">					
<p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself, your organization, and your interests.</p>
</div>
</div>



<p>Dyntabs with in a container</p>
<div class="ibm-container ibm-graphic-tabs ibm-dyntabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab"><a href="#overview">Selected tab</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#features">features</a></li>
<li><a href="#specifications">specifications</a></li>
<li><a href="#configurations">configurations</a></li>
<li class="ibm-last-tab"><a href="#__show_all_tabs__">All tabs</a></li>
</ul>
</div>
<div class="ibm-container-body">					
<div id="overview" class="ibm-tabs-content">Tab 1 contents - Overview</div>
<div id="features" class="ibm-tabs-content">Tab 2 contents - Features</div>
<div id="specifications" class="ibm-tabs-content">Tab 3 contents - Specifications</div>
<div id="configurations" class="ibm-tabs-content">Tab 4 contents - Configurations</div>
</div>
</div>





<p>Dyntabs with in a columns</p>

<div class="ibm-columns ibm-graphic-tabs ibm-dyntabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab"><a href="#selection1">Tab1</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#selection2">Tab2</a></li>
<li><a href="#selection3">Tab3</a></li>
<li><a href="#selection4">Tab4</a></li>
<li class="ibm-last-tab"><a href="#__show_all_tabs__">All tabs</a></li>
</ul>
</div>
<div class="ibm-col-1-1">					
<div id="selection1" class="ibm-tabs-content">Tab 1 contents </div>
<div id="selection2" class="ibm-tabs-content">Tab 2 contents</div>
<div id="selection3" class="ibm-tabs-content">Tab 3 contents</div>
<div id="selection4" class="ibm-tabs-content">Tab 4 contents</div>
</div>
</div>






<p>Graphic tab with center aligned text tab combo with in a container</p>
<div class="ibm-container ibm-graphic-tabs ibm-combo-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected tab</a><span class="ibm-access"> - selected tab,</span></li>
<li><a href="#">Unselected tab</a></li>
<li><a href="#">Unselected tab</a></li>
<li class="ibm-last-tab"><a href="#" >All tabs</a></li>
</ul>
</div>
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected subtab</a><span class="ibm-access"> - selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself, your organization, and your interests.</p>
</div>
</div>



<p>Graphic tab with center aligned text tab combo with in a columns</p>
<div class="ibm-columns ibm-graphic-tabs ibm-combo-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected tab</a><span class="ibm-access"> - selected tab,</span></li>
<li><a href="#">Unselected tab</a></li>
<li><a href="#">Unselected tab</a></li>
<li class="ibm-last-tab"><a href="#" >All tabs</a></li>
</ul>
</div>
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected subtab</a><span class="ibm-access"> - selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-col-1-1">
<p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself, your organization, and your interests.</p>
</div>
</div>


<p>Graphic tab with left aligned (ibm-alternate-align class) text tab combo with container </p>
<div class="ibm-container ibm-graphic-tabs ibm-combo-tabs">
<div class="ibm-tab-section">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected tab</a><span class="ibm-access"> - selected tab,</span></li>
<li><a href="#">Unselected tab</a></li>
<li><a href="#">Unselected tab</a></li>
<li class="ibm-last-tab"><a href="#" >All tabs</a></li>
</ul>
</div>

<div class="ibm-tab-section ibm-text ibm-alternate-align">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected subtab</a><span class="ibm-access"> - selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Subtab link</a><span class="ibm-sep">&nbsp;</span></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself, your organization, and your interests.</p>
</div>
</div>



<p>Text tab with container</p>
<div class="ibm-container">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected tab</a><span class="ibm-access">- selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body"><p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself</p></div>
</div>



<p>Text tab within a column</p>

<div class="ibm-columns">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab ibm-active"><a href="#">Selected tab</a><span class="ibm-access">- selected tab,</span><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
<li class="ibm-last-tab"><a href="#">Unselected tab</a><span class="ibm-sep">&nbsp;</span></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-col-1-1"><p>Welcome to My Profile. This is the section of My IBM where you can tell us more information about yourself</p></div>
</div>



<p>Dynamic text tab with container</p>
<div class="ibm-container ibm-dyntabs">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab"><a href="#overview1">Overview</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#features1">features</a></li>
<li><a href="#specifications1">specifications</a></li>
<li><a href="#configurations1">configurations</a></li>
<li class="ibm-last-tab"><a href="#__show_all_tabs__">All tabs</a></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-container-body">
<div id="overview1" class="ibm-tabs-content">Tab 1 contents - Overview</div>
<div id="features1" class="ibm-tabs-content">Tab 2 contents - Features</div>
<div id="specifications1" class="ibm-tabs-content">Tab 3 contents - Specifications</div>
<div id="configurations1" class="ibm-tabs-content">Tab 4 contents - Configurations</div>
</div>
</div>



<p>Dynamic text tab with in a columns</p>

<div class="ibm-columns ibm-dyntabs">
<div class="ibm-tab-section ibm-text">
<h2 class="ibm-access">Tab navigation</h2>
<ul class="ibm-tabs">
<li class="ibm-first-tab"><a href="#selectionA">Overview</a><span class="ibm-access">- selected tab,</span></li>
<li><a href="#selectionB">features</a></li>
<li><a href="#selectionC">specifications</a></li>
<li><a href="#selectionD">configurations</a></li>
<li class="ibm-last-tab"><a href="#__show_all_tabs__">All tabs</a></li>
</ul>
<div class="ibm-rule"><hr /></div>
</div>
<div class="ibm-col-1-1">
<div id="selectionA" class="ibm-tabs-content">Tab 1 contents</div>
<div id="selectionB" class="ibm-tabs-content">Tab 2 contents</div>
<div id="selectionC" class="ibm-tabs-content">Tab 3 contents</div>
<div id="selectionD" class="ibm-tabs-content">Tab 4 contents</div>
</div>
</div>

<!-- END -->

</div>

<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">

<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>

<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->

</div>

%%sidebarspace%%
<div class="ibm-container">
<h2>Senior management</h2>
<div class="ibm-container-body">


<ul class="ibm-link-list">
<li class="ibm-first ibm-link-description"><a class="ibm-forward-em-link" href="http://www.ibm.com/ibm/sjp/"><strong>Samuel J. Palmisano (US)</strong></a>
<p>Chairman of the Board and CEO</p>
</li>
<li><a class="ibm-forward-em-link" href="http://www.ibm.com/press/us/en/biographies.wss"><strong>Other executive biographies (US)</strong></a>
</li>
</ul>

</div>
</div>

<!-- RIGHT COLUMN LINK LIST EXAMPLE -->
<div class="ibm-container">
<h2>Lorem ipsum dolor</h2>
<div class="ibm-container-body">
<ul class="ibm-link-list ibm-alternate">
<li><a class="ibm-forward-em-link" href="#">Bold link</a></li>
<li><a class="ibm-forward-link" href="#">Plain link</a></li>
</ul>
</div>
</div>
<!-- End -->

<!-- RIGHT COLUMN RULED LINK LIST EXAMPLE -->
<div class="ibm-container">
<h2>Lorem ipsum dolor</h2>
<div class="ibm-container-body">
<ul class="ibm-link-list">
<li class="ibm-first"><a class="ibm-forward-em-link" href="#">Bold link</a></li>
<li><a class="ibm-forward-link" href="#">Plain link</a></li>
</ul>
</div>
</div>
<!-- End -->


<!-- RIGHT COLUMN PROMOTION MODULE EXAMPLE -->
<div class="ibm-container">
<h2>Lorem ipsum</h2>
<div class="ibm-container-body">
<h2>Optional heading</h2>
<p>Duis autem vel eum iriure dolor hendrerit vulputate velit esse molestie consequat vel illum dolore eu feugiat.</p>
<div class="ibm-rule"><hr /></div>
<p class="ibm-ind-link"><a class="ibm-forward-link" href="#">Learn more</a></p>
</div>
</div>
<!-- End -->
<!-- RIGHT COLUMN PROMOTION MODULE WITH LARGE THUMBNAIL GRAPHIC EXAMPLE -->
<div class="ibm-container ibm-live-assistance">
<h2 class="ibm-second">Lorem ipsum</h2>
<div class="ibm-container-body">
<div class="ibm-portrait">
<img width="50" height="50" alt="" src="//www.ibm.com/i/UPDATE.gif" style="border: 1px solid rgb(0, 0, 0);">
<p>Duis autem vel eum iriure dolor hendrerit vulputate velit esse molestie consequat.</p>
</div>
<div class="ibm-rule"><hr /></div>  
<p class="ibm-ind-link"><a href="#" class="ibm-forward-link">Learn more</a></p>
</div>
</div>
</div>
<!-- end-->
<!-- FEATURES_END -->

<!-- CONTENT_BODY_END -->
</div>

</div>
<!-- CONTENT_END -->

<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation">
<h2 class="ibm-access">Content navigation</h2>
<ul id="ibm-primary-links">
<li id="ibm-overview"><a href="replace.html">REPLACE</a></li>

<li><a href="replace.html">REPLACE 2</a></li>
<li><a href="replace.html">REPLACE 3</a></li>

<li><a href="replace.html">REPLACE 4</a></li>
</ul>

<div id="ibm-secondary-navigation">
<!-- SECONDARY NAVIGATION SECTION -->
</div>

</div>
<!-- NAVIGATION_END -->

</div>


<!-- FOOTER_BEGIN -->
<div id="ibm-page-tools">

</div>

<div id="ibm-footer-module">

<div class="ibm-columns">

<div class="ibm-col-61">
<h2>Lorem ipsum:</h2>
<ul>
<li><a href="REPLACE.HTML">Lor emipsum</a></li>

<li><a href="REPLACE.HTML">Lorem dolor ipsum</a></li>
<li><a href="REPLACE.HTML">Navigation ipsum</a></li>
<li><a href="REPLACE.HTML">Lorem ipsum</a></li>

</ul>
</div>

<div class="ibm-col-61">
<h2>Lorem ipsum:</h2>
<ul>
<li><a href="REPLACE.HTML">Lor emipsum</a></li>
<li><a href="REPLACE.HTML">Lorem dolor ipsum</a></li>

<li><a href="REPLACE.HTML">Navigation ipsum</a></li>
<li><a href="REPLACE.HTML">Lorem ipsum</a></li>
</ul>
</div>

<div class="ibm-col-61">
<h2>Lorem ipsum:</h2>
<ul>
<li><a href="REPLACE.HTML">Lor emipsum</a></li>
<li><a href="REPLACE.HTML">Lorem dolor ipsum</a></li>
<li><a href="REPLACE.HTML">Navigation ipsum</a></li>

<li><a href="REPLACE.HTML">Lorem ipsum</a></li>
</ul>
</div>

<div class="ibm-col-61">

<h2>Lorem ipsum:</h2>
<ul>
<li><a href="REPLACE.HTML">Lor emipsum</a></li>
<li><a href="REPLACE.HTML">Lorem dolor ipsum</a></li>
<li><a href="REPLACE.HTML">Navigation ipsum</a></li>
<li><a href="REPLACE.HTML">Lorem ipsum</a></li>

</ul>
</div>

<div class="ibm-col-61">
<h2>Lorem ipsum:</h2>

<ul>
<li><a href="REPLACE.HTML">Lor emipsum</a></li>
<li><a href="REPLACE.HTML">Lorem dolor ipsum</a></li>
<li><a href="REPLACE.HTML">Navigation ipsum</a></li>
<li><a href="REPLACE.HTML">Lorem ipsum</a></li></ul>
</div>

<div class="ibm-col-61">
<h2>Lorem ipsum:</h2>
<ul>
<li><a href="REPLACE.HTML">Lor emipsum</a></li>

<li><a href="REPLACE.HTML">Lorem dolor ipsum</a></li>
<li><a href="REPLACE.HTML">Navigation ipsum</a></li>
<li><a href="REPLACE.HTML">Lorem ipsum</a></li>
</ul>
</div>

</div>

</div>

<div id="ibm-footer">
<ul>
<li class="ibm-first"><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>

<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->

</div>
<div id="ibm-metrics">

</div>
</body>
</html>
