<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<!-- 
	NOTE:
	This file is the master landing page template.
	All comments starting with NOTE can also be removed!
 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->
	
<title>IBM v17 basic layout #2 with tabs</title>
<!-- NOTE: link to static domain, i.e. 1.www.s81c.com -->

<link href="../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<script src="../js/ww.js" type="text/javascript">
//
</script>
</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page">
<!-- MASTHEAD_BEGIN -->
<div id="ibm-masthead">
<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
	<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<div id="ibm-search-module">
<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
<p>
<label for="q">
<span class="ibm-access">Search</span>
</label>
<input id="q" value="" maxlength="100" name="q" type="text"/>
<input name="v" type="hidden" value="17"/>
<input type="hidden" name="en" value="utf"/>
<input name="lang" type="hidden" value="en"/>
<input name="cc" type="hidden" value="us"/>
<input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->
<!-- LEADSPACE_BEGIN - notice this is above ibm-pcon and content space -->
<div id="ibm-leadspace-head" class="ibm-alternate"> <!-- ibm-alternate leadspace is short -->
<div id="ibm-leadspace-body">
<div class="ibm-columns">
<div class="ibm-col-6-4">
<h1>Sample page (h1)</h1>
</div>
</div>
</div>
</div>
<!-- LEADSPACE_END -->

<!-- CONTENT_NAV_BEGIN -->
<div id="ibm-content-nav">

<div id="ibm-primary-tabs">
<ul class="ibm-tabs">
	<li class="ibm-active"><a href="#overview">Active tab</a></li>
	<li><a href="#benefits">ibm-tabs</a></li>
	<li><a href="#features">Unordered</a></li>
	<li><a href="#pricing-licensing">List</a></li>
</ul>
</div>

<div id="ibm-secondary-tabs">
<ul class="ibm-tabs">
	<li class="ibm-active"><a href="#1">Selected subtab</a></li>
	<li><a href="#2">Subtab link 2</a></li>
	<li><a href="#3">Subtab link 3</a></li>
	<li><a href="#4">You can really</a></li>
	<li><a href="#5">Have quite a few</a></li>
	<li><a href="#6">Subtabs link here.</a></li>
</ul>
</div>

</div>
<!-- CONTENT_NAV_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">
<!-- 6-4 6-2 grid -->
<div class="ibm-columns">
<div class="ibm-col-6-4">
<p class="ibm-intro"><em>This is a 6 column grid v17 page. This text is 4 columns wide (an ibm-col-6-4 div) with  ibm-intro paragraph. </em></p>
<div class="ibm-columns">
<div class="ibm-col-6-2">
<ul class="ibm-portrait-module-list">
<li><img alt="" src="../i/portrait_module_fpo.gif"/>
<h3><a class="ibm-feature-link" href="http://www.ibm.com">Header title 1</a></h3>
<p>This is a  2 column wide (ibm-col-6-2) portrait module list.</p></li>
<li><img alt="" src="../i/portrait_module_fpo.gif"/>
<h3><a class="ibm-feature-link" href="http://www.ibm.com">Header title 2</a></h3>
<p> This column is nested inside the 4 column wide (ibm-col-6-4)</p></li>
<li><img alt="" src="../i/portrait_module_fpo.gif"/>
<h3><a class="ibm-feature-link" href="http://www.ibm.com">Header title 3</a></h3>
<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor voluptua.</p></li>
</ul>
</div>
<div class="ibm-col-6-2">
<ul class="ibm-portrait-module-list">
<li><img alt="" src="../i/portrait_module_fpo.gif"/>
<h3><a class="ibm-feature-link" href="http://www.ibm.com">Header title 4</a></h3>
<p>This is a  second 2 column wide (ibm-col-6-2) portrait module list.</p></li>
<li><img alt="" src="../i/portrait_module_fpo.gif"/>
<h3><a class="ibm-feature-link" href="http://www.ibm.com">Header title 5</a></h3>
<p>It's also also nested inside the 4 column wide space.</p></li>
<li><img alt="" src="../i/portrait_module_fpo.gif"/>
<h3><a class="ibm-feature-link" href="http://www.ibm.com">Header title 6</a></h3>
<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor voluptua.</p></li>
</ul>
</div>
</div>
<div class="ibm-columns">
<div class="ibm-col-6-4">
<h2 class="ibm-alternate">Large header (h2)</h2>
<p>This paragraph could be a continuation of the original ibm-col-6-4, after the nested portrait module list columns were closed. However, this example shows another level of nesting... an ibm-col-6-4 within the original ibm-col-6-4. </p>
<p>The XHTML code on this page is for prototype/demo/sample purposes only -- it is not in its final form, nor are the services and CSS complete for v17.</p>
<p>The masthead links and &quot;fat footer&quot; below are generated by Javascript and the content is managed centrally in ECM for each locale. When Javascript is disabled, the user (or crawler) will see a link to the Sitemap, which contains the same links.</p>
</div>
</div>
</div>
<div class="ibm-col-6-2">
<div class="ibm-container ibm-video">
<h2>Section container (h2)</h2>
<div class="ibm-container-body">
<div class="ibm-video-container">
<a href="REPLACE.HTML"><img src="../i/300_px_video_placeholder.jpg" alt="" /></a>
</div>
<p>This video container is a placeholder for demo purposes. It would likely be replaced with a Rich Media service call. It is in an ibm-col-6-2 that completes the 6 column grid of the page (i.e. 4 columns plus 2 columns). </p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
</div>
</div>
</div>
</div>
<!-- 6-4 6-2 grid -->
</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
%%sidebarspace%%
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation"></div>
<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content"></div>
<!-- FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>
