// grid styles begin ============================================

.ibm-columns {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    clear: both;
}

#ibm-content .ibm-columns {
    clear: both;
    margin: 0;
    width: auto;
    padding: 0 0 10px;
}

.ibm-landing-page #ibm-content .ibm-columns {
    width: $landingGrid - $landingSpace;
    padding: 0 ($landingSpace / 2) ($landingSpace / 2);
    margin: 0 auto;
}

#ibm-content .ibm-container .ibm-columns {
    margin: 0 -10px;
}

/*.ibm-landing-page #ibm-content .ibm-container .ibm-columns {
	width: auto;
	margin: 0 -20px;
}*/

.ibm-landing-page #ibm-content .ibm-container .ibm-columns,
.ibm-landing-page #ibm-content .ibm-container .ibm-container.ibm-ribbon .ibm-columns {
	padding: 0;
}
.ibm-landing-page #ibm-content .ibm-container.ibm-ribbon .ibm-columns {
    padding: 0 10px;
}

.ibm-landing-page #ibm-content .ibm-columns .ibm-container .ibm-columns {
	margin: 0 -10px;
}

#ibm-top .ibm-columns .ibm-columns {
    padding: 0;
    margin: 0 (-($landingSpace / 2));
    width: auto; 
}

#{$ie7Selector} #ibm-top .ibm-columns .ibm-columns {
	overflow: hidden;
}

.ibm-columns:after {
	@include aslett-clearing;
    overflow: hidden;
}

.ibm-columns [class*="ibm-col-"] {
    float: left;
    margin: 0 ($landingSpace / 2);
    min-height: 1px;
}

.ibm-landing-page #ibm-content #ibm-content-main > .ibm-media {
	width: 980px;
	margin: 0 auto;
}

.ibm-landing-page #ibm-content .ibm-container .ibm-ribbon-pane .ibm-columns {
	margin: 0 -10px;
}

.ibm-landing-page #ibm-content .ibm-columns .ibm-media .ibm-columns {
    overflow: visible;
    width: $landingGrid - $landingSpace;
}

/* 
==== Enabling nesting on LN pages BEGIN
- css code to make nesting on LN page possible
- if padding reset for column cells is needed, add code here please
*/

.ibm-columns .ibm-col-5-3 .ibm-columns .ibm-col-2-1 {
    margin-left: 0;
}

.ibm-columns .ibm-col-5-3 .ibm-columns .ibm-col-2-1 + .ibm-col-2-1 {
    margin-right: 0;
    margin-left: 10px;
}

/*
==== Enabling nesting on LN pages END
*/

.ibm-columns .ibm-col-4-1 {
//    width: 220px;
	width: (($landingGrid - $landingSpace) / 4) - $landingSpace;
}

.ibm-columns .ibm-col-4-2,
.ibm-columns .ibm-col-2-1,
.ibm-columns .ibm-col-6-3 {
//    width: 460px;
	width: (($landingGrid - $landingSpace) / 2) - $landingSpace;
}

.ibm-columns .ibm-col-4-3 {
//    width: 700px;
	width: ((($landingGrid - $landingSpace) / 4) * 3) - $landingSpace;
}

.ibm-columns .ibm-col-5-1 {
//    width: 172px;
   	width: (($landingGrid - $landingSpace) / 5) - $landingSpace;
}

.ibm-columns .ibm-col-5-2 {
//    width: 364px;
   	width: ((($landingGrid - $landingSpace) / 5) * 2) - $landingSpace;
}

.ibm-columns .ibm-col-5-3 {
//    width: 556px;
   	width: ((($landingGrid - $landingSpace) / 5) * 3) - $landingSpace;
}

.ibm-columns .ibm-col-5-4 {
//    width: 748px;
   	width: ((($landingGrid - $landingSpace) / 5) * 4) - $landingSpace;
}

.ibm-columns .ibm-col-6-1 {
//    width: 140px;
	width: (($landingGrid - $landingSpace) / 6) - $landingSpace;
}

.ibm-columns .ibm-col-6-2 {
//    width: 300px;
   	width: ((($landingGrid - $landingSpace) / 6) * 2) - $landingSpace;
}

.ibm-columns .ibm-col-6-4 {
//    width: 620px;
   	width: ((($landingGrid - $landingSpace) / 6) * 4) - $landingSpace;
}

.ibm-columns .ibm-col-6-5 {
//    width: 780px;
   	width: ((($landingGrid - $landingSpace) / 6) * 5) - $landingSpace;
}

.ibm-columns .ibm-col-1-1,
.ibm-landing-page #ibm-content .ibm-columns .ibm-col-1-1 {
//    width: 940px;
   width: ($landingGrid - ($landingSpace * 2));
  
}

#ibm-content .ibm-columns .ibm-col-1-1 {
	width: 556px;
}

#ibm-content .ibm-columns .ibm-col-6-4 .ibm-col-1-1 {
	width: auto;
}

#ibm-content .ibm-columns .ibm-col-2-1 {
    width: 268px;
}

.ibm-landing-page #ibm-content .ibm-container .ibm-columns .ibm-col-2-1,
#ibm-content .ibm-columns .ibm-col-6-4 .ibm-col-2-1 {
	width: 300px;
}

#ibm-content .ibm-columns .ibm-video, 
#ibm-content .ibm-columns .ibm-playlist {
    margin-bottom: 0;
}

.v17 .dijitDialogPaneContent .ibm-columns {
    padding-left: 0;
}

.v17 .dijitDialogPaneContent .ibm-container .ibm-columns .ibm-col-1-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

//================content-expand for 5 column layout============

.ibm-content-expand #ibm-content .ibm-columns .ibm-col-1-1{
	width: 748px;
}

.ibm-content-expand #ibm-content .ibm-columns .ibm-col-5-1 {
    width: 169px;
}

.ibm-content-expand #ibm-content .ibm-columns .ibm-col-2-1,
.ibm-content-expand #ibm-content .ibm-columns .ibm-col-5-2 {
    width: 359px;
}

.ibm-content-expand #ibm-content .ibm-columns .ibm-col-5-3 {
    width: 549px;
}

//=============End of content-exapnd style================


/* =========================== */

#ibm-gc-column-one .ibm-columns .ibm-col-2-1 {
    width: 195px;
    padding: 0;
}

#ibm-content-sidebar .ibm-columns .ibm-col-5-1  {
	padding: 0;
	margin: 0;
}
