<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<!-- 
	NOTE:
	This file is the master landing page template.
	All comments starting with NOTE can also be removed!
 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!--
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
-->

		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->
<!--! PageTitle -->	
<title>IBM v17e updated code and examples</title>
<link href="../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<link href="//1.www.s81c.com/common/v17e/css/social.css" rel="stylesheet" title="www" type="text/css" />
<link href="//1.www.s81c.com/common/v17e/css/data.css" rel="stylesheet" title="www" type="text/css" />
<link href="//1.www.s81c.com/common/v17e/css/module.css" rel="stylesheet" title="www" type="text/css" />
<link href="../css/documentation.css" rel="stylesheet" title="www" type="text/css" />
<script src="//1.www.s81c.com/common/v17e/js/ww.js" type="text/javascript">//</script>
<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shCore.js"></script>
	<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shBrushXml.js"></script>
	<script type="text/javascript">SyntaxHighlighter.all();</script>

<style type="text/css">
#deisa {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 500px;
    position: relative;
}
#deisa {
    background: url("assets/fpo/DEISA-Supercomputer.jpg") no-repeat scroll center 50% / cover rgba(0, 0, 0, 0);
}

.ibm-show-hide h2, .ibm-show-hide .ibm-container {
	border-top:none !important;
}
.ibm-show-hide h2 a {
	border-top: 2px solid #666; 
	display: block;
	color: #777;
	padding-top:2px;
}
.ibm-show-hide h2 a:hover {
color: #444;
}

.ibm-show-hide h2 a.ibm-show-active{
border-top: 2px solid #000; 
color: #000;
}
.ibm-container.ibm-show-hide {
border-bottom: 1px solid #CCC;
padding-bottom: 0 !important;
margin-bottom: 0 !important;
}

/* LEADSPACE STYLES */

/* Leadspace foreground */
#ibm-leadspace-head #ibm-leadspace-body {
	background: url(assets/bg-front.gif) no-repeat 100% 50%;
}

/* Leadspace background */
#ibm-leadspace-head.ibm-alternate-background {
	background: url(assets/bg-back.png);}

/* END LEADSPACE STYLES */


/* SECTION STYLES */
.what-is-v17e {background: url(assets/bg-shad-right-half.png) no-repeat center 90%;}
#deisa {background: url(assets/fpo/DEISA-Supercomputer.jpg) no-repeat center 50%; background-size:cover; height:600px; position: relative;}
.position-bottom {position: absolute; bottom: 0 }

.fade-up-sharp {background: url(assets/gradient-bg-a.png) repeat-x center 100%;}
.fade-up {background: url(assets/gradient-bg-b.png) repeat-x center 100%;}
.fade-down {background: url(assets/bg-shad-right-half.png) repeat-x center 100%;}
.shad-med {background: url(assets/shad-curve-bottom-med.png) no-repeat center 100%;}
.shad-wide {background: url(assets/shad-curve-wide.png) no-repeat center bottom;}



/* SECTION STYLES */

</style>

</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page">

<!--! MASTHEAD_BEGIN -->
<div id="ibm-masthead">
<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<div id="ibm-search-module">
<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
<p>
<label for="q">
<span class="ibm-access">Search</span>
</label>
<input id="q" value="" maxlength="100" name="q" type="text"/>
<input name="v" type="hidden" value="17"/>
<input type="hidden" name="en" value="utf"/>
<input name="lang" type="hidden" value="en"/>
<input name="cc" type="hidden" value="us"/>
<input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->
<!--! LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<div class="ibm-columns">
<div class="ibm-col-1-1">
<h1 class="text-wemb">Experience First</h1>
<p><em><span>v17e Primer site</span> What you need to know to get started with the v17e design system</em></p>
</div>
</div>
</div>
</div>
<!-- LEADSPACE_END -->


<!--! CONTENT_NAV_BEGIN -->
<div id="ibm-content-nav">

<div id="ibm-primary-tabs">
<ul class="ibm-tabs">
	<li><a href="index.html">Overview</a></li>
	<li><a href="layouts.html">Layouts</a></li>
	<li><a href="patterns.html">Design Patterns</a></li>
	<li class="ibm-active"><a href="list_of_codeUpdate.html">Getting Started</a></li>
	<li><a href="upcoming.html">Upcoming Patterns</a></li>
</ul>
</div>
<div id="ibm-secondary-tabs">
	<ul class="ibm-tabs">
		<li class="ibm-active"><a href="list_of_codeUpdate_copy.html">Updated Code</a></li>
		<li><a href="faqs.html">FAQ's</a></li>
		</ul>
</div>
</div>



<!-- CONTENT_NAV_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">


<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">
<div class="ibm-columns">
<div class="ibm-col-1-1">

	<div class="ibm-columns">
	<div class="ibm-col-1-1 large">
		<h2>Requirements to Implement v17e</h2>
	</div>
	</div>
	<p>Follow the steps below to change your page to v17e.</p>
	<div class="ibm-container ibm-show-hide ibm-alternate">
		<h2><a>For all pages</a></h2>
		<div class="ibm-container-body">
		<ul>
		<li>Add viewport meta tag below content type meta tag:
		<pre class="brush: html;">
		&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
		</pre>
		</li>
		<li>Replace current v17 www.css file with new v17e version
		<pre class="brush: html;">&lt;link href="//1.www.s81c.com/common/v17e/css/ww.css" rel="stylesheet" title="www" type="text/css" /&gt;</pre>
		</li>
		<li>Replace current v17 www.js file with v17e version. <strong>jQuery</strong> and <strong>Modernizr</strong> are included as part of the common v17e JS
		<pre class="brush: html;">&lt;script src="//1.www.s81c.com/common/v17e/js/ww.js" type="text/javascript"&gt;&lt;/script&gt;</pre>
		</li>
		</ul>
		</div>
	<h2 class="ibm-show-hide-link"><a>Optional Requirements</a></h2>
	<div class="ibm-container-body">
		<p> To make the v17e CSS load faster, some of the CSS code has been removed from the main CSS file. As such some additional CSS file(s) may need to be called based on page content.</p>
		<ul>
		<li>Application/Slim Masthead
		<pre class="brush: html;">&lt;link href="//1.www.s81c.com/common/v17e/css/application.css" rel="stylesheet" title="www" type="text/css"/&gt;</pre>
		</li>
		<li>Tables 
		<pre class="brush: html;">&lt;link href="//1.www.s81c.com/common/v17e/css/data.css" rel="stylesheet" title="www" type="text/css" /&gt;</pre>
		</li>
					<li>Forms 
						<pre class="brush: html;">&lt;link href="//1.www.s81c.com/common/v17e/css/forms.css" rel="stylesheet" title="www" type="text/css" /&gt;
						</pre>
						</li>
						<li>Social Icons for the content area
							<pre class="brush: html;">&lt;link href="//1.www.s81c.com/common/v17e/css/social.css" rel="stylesheet" title="www" type="text/css" /&gt;
							</pre>
							</li>
							<li>Modules : The following CSS file needs to be called if any of the following classes are used
						<ul>
							<li>anchor link A-Z (.ibm-link-list-az)</li>
							<li>directory link list (.ibm-directory-link-list)</li>
							<li>list container (.ibm-list-container)</li>
							<li>article list (.ibm-article-list)</li>
							<li>twitter list and modules (.ibm-twitter-list / .ibm-twitter-module)</li>
							<li>twisties (.ibm-twisty)</li>
							<li>RSS module (.ibm-rss-module)</li>
							<li>step indication and container (.ibm-step-indicator / .ibm-step-container)</li>
						</ul>

						<pre class="brush: html;">&lt;link href="//1.www.s81c.com/common/v17e/css/module.css" rel="stylesheet" title="www" type="text/css" /&gt;
						</pre>
						</li></ul>
				</div>
			</div>


<br /><br />

<div class="ibm-columns">
 <div class="ibm-col-6-4 large">
<h2>New Classes and Containers</h2>
</div>
</div>

<p>V17e enhancement include several new classes and containers to improve the page appearance across devices. Listed below is the class name, overview and code examples.</p>

<div class="ibm-container ibm-show-hide ibm-alternate">
	<h2><a class="ibm-show-hide-link" href="#">.ibm-default</a></h2>
	<div class="ibm-container-body">
		<p>This class is a mandatory class required for 5-column layout(page with left navigation). There is no change in the UI with this class. This class is introduced to make the 5 column layout responsive.</p>
		<div class="ibm-columns">
			<div class="ibm-col-4-2">
					<img src="assets/codeExampleImg/left_nav_temp.png" alt="left_nav_temp" class="ibm-resize"/>
			</div>
			<div class="ibm-col-4-2">
					
					<pre class="brush:html;">
					&lt;body id="ibm-com" class="ibm-default"&gt;
					</pre>
			</div>
		</div>	
	</div>



<h2><a class="ibm-show-hide-link" href="#">.ibm-type</a></h2>
<div class="ibm-container-body">
	<p>This class is used for latin based templates / languages (this class applies the custom fonts)</p>
	<div class="ibm-columns">
		<div class="ibm-col-4-3">
			<img src="assets/codeExampleImg/left_nav_temp.png" alt="left_nav_temp" class="ibm-resize"/>
		</div>
		<div class="ibm-col-4-1">
			<pre class="brush:html;">&lt;body id="ibm-com" class="ibm-type"&gt;</pre>
		</div>
	</div>
</div>


<h2><a class="ibm-show-hide-link" href="#">.ibm-band</a></h2>
<div class="ibm-container-body">
	<ul>
		<li>ibm-band is a new container used as a wrap around to the existing container.</li> 
		<li>This container has a light grey background color. <br />
			Note: To change the container color please refer the section Colors.</li>
		<li>If ibm-band is preceded by another ibm-band container , the band will not have a grey background.</li>
		<li>Use of this class helps stretch the layout to full width of the page.</li>
		<li>This can be used only with 6 column layout (landing pages).</li>
	
	</ul> 
			<img src="assets/codeExampleImg/ibm-band.png" alt="left_nav_temp" class="ibm-resize"/>

			<pre class="brush:html;">
			&lt;div class=&quot;ibm-band&quot;&gt;
			&lt;div class=&quot;ibm-columns&quot;&gt;
			&lt;div class=&quot;ibm-col-6-2&quot;&gt;
			&lt;h2&gt;sample code of ibm-band&lt;/h2&gt;
			&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;ibm-col-6-2&quot;&gt;
			&lt;h2&gt;sample code&lt;/h2&gt;
			&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;ibm-col-6-2&quot;&gt;
			&lt;h2&gt;sample code&lt;/h2&gt;
			&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			</pre>
	
</div>



<h2><a class="ibm-show-hide-link" href="#">.ibm-no-rule</a></h2>
<div class="ibm-container-body">
	<p>Applied to remove the 2px black border on top of every container having .ibm-container class.</p> 
		<div id="result-norule" class="ibm-tabs-content">
			<div class="ibm-columns">
				<div class="ibm-col-6-3">
					<div class="ibm-container">
						<h2>Section without ibm-no-rule</h2>
						<div class="ibm-container-body">
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
						</div>
					</div>
				</div>
				<div class="ibm-col-6-3">
					<div class="ibm-container ibm-no-rule">
						<h2>Section with ibm-no-rule</h2>
					<div class="ibm-container-body">
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div id="html-norule" class="ibm-tabs-content">
			<pre class="brush:html;">
			&lt;div class=&quot;ibm-columns&quot;&gt;
			&lt;div class=&quot;ibm-col-6-3&quot;&gt;
			&lt;div class=&quot;ibm-container ibm-no-rule&quot;&gt;
			&lt;h2&gt;Section with ibm-no-rule&lt;/h2&gt;
			&lt;div class=&quot;ibm-container-body&quot;&gt;
			&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			&lt;/div&gt;
			</pre>
		</div>
</div>


<h2><a class="ibm-show-hide-link" href="#">.ibm-resize</a></h2>
<div class="ibm-container-body">
	<p>Applied to images to allow resize based on parent container width.</p> 
			<div class="ibm-container-body">
				<div id="result-resize" class="ibm-tabs-content">
					<div class="ibm-columns">
					<div class="ibm-col-6-2">
						
						<h2>Image without ibm-resize in 6-2 column</h2>
						
						<img alt="" src="assets/codeExampleImg/cocomac-spiral-full.jpg" />
					
					</div>
					<div class="ibm-col-6-2">
						
						<h2>Image with ibm-resize in 6-2 column</h2>
						
						<img class="ibm-resize" alt="" src="assets/codeExampleImg/cocomac-spiral-full.jpg" />
						
					</div>
					<div class="ibm-col-6-1">
						
						<h2>Image with ibm-resize in 6-1 column</h2>
						
						<img class="ibm-resize" alt="" src="assets/codeExampleImg/cocomac-spiral-full.jpg" />
						
					</div>
					</div>
				</div>
				<div id="html-resize" class="ibm-tabs-content">
				<pre class="brush:html;">
				&lt;div class=&quot;ibm-columns&quot;&gt;
					&lt;div class=&quot;ibm-col-6-2&quot;&gt;
						&lt;h2&gt;Image with ibm-resize in 6-2 column&lt;/h2&gt;
						&lt;img class=&quot;ibm-resize&quot; alt=&quot;&quot; src=&quot;assets/codeExampleImg/cocomac-spiral-full.jpg&quot; /&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				</pre>
				</div>
			</div>
</div>

<h2><a class="ibm-show-hide-link" href="#">.ibm-w-gutter</a></h2>
<div class="ibm-container-body">
	<ul>
		<li>Applied to ibm-col-6-3 and ibm-col-4-2 containers for additional 30px margin between columns</li>
		<li>Added in between .ibm-columns and .ibm-col-6-3/.ibm-col-4-2 class</li>
		<li>Used only in 6 column layout</li>
	</ul>
<div class="ibm-container">
			<div class="ibm-container-body">
				<div id="result-wgutter" class="ibm-tabs-content">
				<div class="ibm-columns">
				<div class="ibm-w-gutter">
				<div class="ibm-col-4-2">
				<h2>Half Columns 1</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum. </p>
				</div>		
				<div class="ibm-col-4-2">
				<h2>Half Columns 2</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum. </p>
				</div>		
				</div>
				<div class="ibm-col-1-1">
				<h2>Image showing the difference in container with ibm-w-gutter class</h2>
				<img alt=""  class="ibm-resize" src="assets/codeExampleImg/ibm-w-gutter.png" />
				</div>
				</div>
				
				
				</div>
				<div id="html-wgutter" class="ibm-tabs-content">
				<pre class="brush:html;">
				&lt;div class=&quot;ibm-columns&quot;&gt;
				&lt;div class=&quot;ibm-w-gutter&quot;&gt;
				&lt;div class=&quot;ibm-col-4-2&quot;&gt;
				&lt;h3&gt;Half Columns 1&lt;/h3&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum. &lt;/p&gt;
				&lt;/div&gt;		
				&lt;div class=&quot;ibm-col-4-2&quot;&gt;
				&lt;h3&gt;Half Columns 2&lt;/h3&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum. &lt;/p&gt;
				&lt;/div&gt;		
				&lt;/div&gt;
				&lt;/div&gt;
				</pre>
				</div>
			</div>
		</div>
	</div>

<h2><a class="ibm-show-hide-link" href="#">.ibm-thumbnail-module, .ibm-thumbnail-smaill, .ibm-thumbnail-swap, .ibm-sprite</a></h2>
<div class="ibm-container-body">
	<ul>
		<li><strong>.ibm-thumbnail-module</strong> - Applied within columns to allow hover / click based on sprites. This can help draw a visitors attention due to the animation and responsive nature of the experience. This container also changes the layout under the 480 grid</li>
		<li><strong>.ibm-thumbnail-small</strong> - Applying "ibm-thumbnail-small" class to the "ibm-columns" container will automatically convert a 4 col large image into 2 x 2 rows of smaller thumbnails</li>
		<li><strong>.ibm-thumbnail-swap</strong> - Applied to ibm-thumbnail-module to swap image to right side. This applies to mobile (480) grid.</li>
		<li><strong>.ibm-sprite</strong> - Applied to container to add image sprites for mouse hover states</li>
	</ul>
<div class="ibm-container">
<div class="ibm-container-body">
				<div id="result-thumbModule" class="ibm-tabs-content">
				<h2>.ibm-thumbnail-module with ibm-sprite container</h2>
				<div class="ibm-columns">
		
		<div class="ibm-col-6-2">
			<div class="ibm-thumbnail-module">
				<div class="ibm-sprite"><a href="#"><img src="../i/fpo/thm-sprite-test.png" alt="" /></a></div>
				<h2>Lorem ipsum: ibm-col-6-2</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
			</div>
		</div>
		
		<div class="ibm-col-6-2">	
			<div class="ibm-thumbnail-module">
				<div class="ibm-sprite"><a href="#"><img src="../i/fpo/thm-sprite-test.png" alt="" /></a></div>
				<h2>Lorem ipsum: ibm-col-6-2</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
			</div>
		</div>
		
		<div class="ibm-col-6-2">	
			<div class="ibm-thumbnail-module">
				<div class="ibm-sprite"><a href="#"><img src="../i/fpo/thm-sprite-test.png" alt="" /></a></div>
				<h2>Lorem ipsum: ibm-col-6-2</h2>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
			</div>
		</div>
				</div>
				<div class="ibm-rule"><hr /></div>
				
				<h2>ibm-thumnail-module with in ibm-thumbnail-small container</h2>
				<div class="ibm-columns">
					<div class="ibm-thumbnail-small">
						<div class="ibm-col-6-2">
						<div class="ibm-thumbnail-module">
							<div class="ibm-sprite"><a href="#"><img src="../i/fpo/thm-sprite-test.png" alt="" /></a></div>
							<h2>Lorem ipsum: ibm-col-6-2</h2>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
						</div>
						</div>
						<div class="ibm-col-6-2">
						<div class="ibm-thumbnail-module">
							<div class="ibm-sprite"><a href="#"><img src="../i/fpo/thm-sprite-test.png" alt="" /></a></div>
							<h2>Lorem ipsum: ibm-col-6-2</h2>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
						</div>
					   </div>
					</div>
				</div>
				
				
				<div class="ibm-rule"><hr /></div>
				<h2>ibm-thumnail-module with ibm-thumbnail-swap</h2>
				<div class="ibm-columns">
					<div class="ibm-thumbnail-small">
						<div class="ibm-col-6-2">
						<div class="ibm-thumbnail-module ibm-thumbnail-swap">
							<div class="ibm-sprite"><a href="#"><img src="../i/fpo/thm-sprite-test.png" alt="" /></a></div>
							<h2>Lorem ipsum: ibm-col-6-2</h2>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
						</div>
						</div>
						<div class="ibm-col-6-2">
						<div class="ibm-thumbnail-module ibm-thumbnail-swap">
							<div class="ibm-sprite"><a href="#"><img src="../i/fpo/thm-sprite-test.png" alt="" /></a></div>
							<h2>Lorem ipsum: ibm-col-6-2</h2>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
						</div>
					   </div>
	 				</div>
				</div>
				</div>
				<div id="html-thumbModule" class="ibm-tabs-content">
				<pre class="brush:html;">
				&lt;h2&gt;ibm-thumnail-module with ibm-sprite container&lt;/h2&gt;
				&lt;div class=&quot;ibm-columns&quot;&gt;
				&lt;div class=&quot;ibm-col-6-2&quot;&gt;
				&lt;div class=&quot;ibm-thumbnail-module&quot;&gt;
				&lt;div class=&quot;ibm-sprite&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../i/fpo/thm-sprite-test.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;h2&gt;Lorem ipsum: ibm-col-6-2&lt;/h2&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;ibm-col-6-2&quot;&gt;	
				&lt;div class=&quot;ibm-thumbnail-module&quot;&gt;
				&lt;div class=&quot;ibm-sprite&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../i/fpo/thm-sprite-test.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;h2&gt;Lorem ipsum: ibm-col-6-2&lt;/h2&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;ibm-col-6-2&quot;&gt;	
				&lt;div class=&quot;ibm-thumbnail-module&quot;&gt;
				&lt;div class=&quot;ibm-sprite&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../i/fpo/thm-sprite-test.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;h2&gt;Lorem ipsum: ibm-col-6-2&lt;/h2&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;ibm-rule&quot;&gt;&lt;hr /&gt;&lt;/div&gt;
				
				&lt;h2&gt;ibm-thumnail-module with in ibm-thumbnail-small container&lt;/h2&gt;
				&lt;div class=&quot;ibm-columns&quot;&gt;
				&lt;div class=&quot;ibm-thumbnail-small&quot;&gt;
				&lt;div class=&quot;ibm-col-6-2&quot;&gt;
				&lt;div class=&quot;ibm-thumbnail-module&quot;&gt;
				&lt;div class=&quot;ibm-sprite&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../i/fpo/thm-sprite-test.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;h2&gt;Lorem ipsum: ibm-col-6-2&lt;/h2&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;ibm-col-6-2&quot;&gt;
				&lt;div class=&quot;ibm-thumbnail-module&quot;&gt;
				&lt;div class=&quot;ibm-sprite&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../i/fpo/thm-sprite-test.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;h2&gt;Lorem ipsum: ibm-col-6-2&lt;/h2&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;ibm-rule&quot;&gt;&lt;hr /&gt;&lt;/div&gt;
				
				&lt;h2&gt;ibm-thumnail-module with ibm-thumbnail-swap&lt;/h2&gt;
				&lt;div class=&quot;ibm-columns&quot;&gt;
				&lt;div class=&quot;ibm-thumbnail-small&quot;&gt;
				&lt;div class=&quot;ibm-col-6-2&quot;&gt;
				&lt;div class=&quot;ibm-thumbnail-module ibm-thumbnail-swap&quot;&gt;
				&lt;div class=&quot;ibm-sprite&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../i/fpo/thm-sprite-test.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;h2&gt;Lorem ipsum: ibm-col-6-2&lt;/h2&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;ibm-col-6-2&quot;&gt;
				&lt;div class=&quot;ibm-thumbnail-module ibm-thumbnail-swap&quot;&gt;
				&lt;div class=&quot;ibm-sprite&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../i/fpo/thm-sprite-test.png&quot; alt=&quot;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;h2&gt;Lorem ipsum: ibm-col-6-2&lt;/h2&gt;
				&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.&lt;/p&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;/div&gt;
				&lt;/div&gt;

				</pre>
				</div>
			</div>
		</div>

</div>

<h2><a class="ibm-show-hide-link" href="#">.ibm-inner-margin</a></h2>
<div class="ibm-container-body">
	<p>Applied to columns to provide extra 10px padding</p>
		<div class="ibm-container">
				<div class="ibm-columns">
					<div class="ibm-col-4-2">
						<h2>ibm-col-4-2 without ibm-inner-margin</h2>
						<img src="http://placehold.it/320x117" alt="placeholder"/>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
					</div>
					<div class="ibm-col-4-2">
						<div class="ibm-inner-margin">
							<h2>ibm-col-4-2 with ibm-inner-margin</h2>
							<img src="http://placehold.it/320x117" alt="placeholder"/>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
						</div>
					</div>
				</div>
				<div id="html-margin" class="ibm-tabs-content">
					<pre class="brush:html;">
						&lt;div class=&quot;ibm-columns&quot;&gt;
						&lt;div class=&quot;ibm-col-4-2&quot;&gt;
						&lt;div class=&quot;ibm-inner-margin&quot;&gt;
						&lt;h2&gt;ibm-col-4-2 with ibm-inner-margin&lt;/h2&gt;
						&lt;img src=&quot;http://placehold.it/32ė&quot; alt=&quot;placeholder&quot;/&gt;
						&lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. &lt;/p&gt;
						&lt;/div&gt;
						&lt;/div&gt;
						&lt;/div&gt;
					</pre>
				</div>
		</div>
</div>

<h2><a class="ibm-show-hide-link" href="#">Text treatment classes</a></h2>
<div class="ibm-container-body">
	<p>V17e introduced few classes to achieve different size and alignment for text.</p>
		<ul>
		<li><strong>.large:</strong> Applied to column grid (4-2,4-3,5-2,5-3,5-4,6-3,6-4,6-5)</li>
		<li><strong>.small:</strong> Applied to column grid (4-2,4-3,5-2,5-3,5-4,6-3,6-4,6-5)</li>
		<li><strong>.center:</strong> Applied to align the content , headers to the center </li>
		<li><strong>.bottom:</strong> Applied to align the content at the bottom, when full width image is used </li>
		<li><strong>.section-header:</strong> Applied to section headers</li>
		</ul>
	
	<div class="ibm-container">
		<div class="ibm-columns">			
			<div class="ibm-col-4-2 large">
				<h2>Large</h2>
				<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.</p>
			</div>
			<div class="ibm-col-4-2 small">
				<h2>Small</h2>
				<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.</p>
			</div>
		</div>
		<div class="ibm-columns">
			<div class="ibm-col-4-2 center">
				<h2>Center</h2>
				<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.</p>
			</div>
			<div class="ibm-col-4-2 center">
				<h2 class="section-header">Header</h2>
				<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.</p>
			</div>
		</div>
				
		<div class="ibm-band" id="deisa">
			<h2 class="section-header large center">Full image</h2>
			<div class="ibm-columns">
				<div class="ibm-col-1-1 center bottom">
					<h2>Text aligned center bottom </h2>
					<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis.</p>
				</div>
			</div>
		</div>
	
		<pre class="brush:html;">
		&lt;div class=&quot;ibm-columns&quot;&gt;
		&lt;div class=&quot;ibm-col-4-2 large&quot;&gt;
		&lt;h2&gt;Large&lt;/h2&gt;
		&lt;p&gt;Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class=&quot;ibm-col-4-2 small&quot;&gt;
		&lt;h2&gt;Small&lt;/h2&gt;
		&lt;p&gt;Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.&lt;/p&gt;
		&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;ibm-columns&quot;&gt;
		&lt;div class=&quot;ibm-col-4-2 center&quot;&gt;
		&lt;h2&gt;Center&lt;/h2&gt;
		&lt;p&gt;Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class=&quot;ibm-col-4-2 center&quot;&gt;
		&lt;h2 class=&quot;section-header&quot;&gt;Header&lt;/h2&gt;
		&lt;p&gt;Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.&lt;/p&gt;
		&lt;/div&gt;
		&lt;/div&gt;
		</pre>
	</div>
</div>

<h2><a class="ibm-show-hide-link" href="#">New classes for color treatment</a></h2>
<div class="ibm-container-body">
	Few new classes for effects are introduced with v17e design system. This classes can be appplied
	for shadow effect on text,sections etc 
	
	<ul>
	<li><strong>.section-shadow:</strong></li>
	<li><strong>.shadow-soft:</strong></li>
	<li><strong>.shadow-hard:</strong>  </li>
	<li><strong>.emboss-light:</strong> Dark text is against light background </li>
	
	<li><strong>.emboss-dark:</strong> Light text is against dark background </li>
	<li><strong>.glow:</strong> Used when white text needs to glow </li>
	<li><strong>.grad-k95-85:</strong> Applied for gradient effect</li>
	<li><strong>.grad-k85-75:</strong> Applied for gradient effect</li>
	<li><strong>.grad-k75-65:</strong> Applied for gradient effect</li>
	<li><strong>.grad-k05-02:</strong> Applied for gradient effect</li>
	<li><strong>.bg-white:</strong> Applied for color background</li>
	<li><strong>.bg-w90:</strong></li>
	<li><strong>.bg-k01:</strong></li>
	<li><strong>.bg-k02:</strong></li>
	<li><strong>.bg-k03:</strong></li>
	<li><strong>.bg-k05:</strong></li>
	<li><strong>.bg-k10:</strong></li>
	<li><strong>.bg-blue:</strong></li>
	<li><strong>.white-box:</strong></li>
	<li><strong>.fade-up-sharp:</strong> Applied for section shadows </li>
	<li><strong>.shad-sm:</strong> Applied for section shadows</li>
	<li><strong>.shad-med:</strong> Applied for section shadows</li>
	<li><strong>.shad-wid:</strong> Applied for section shadows</li>
	<li><strong>.exdent-sm:</strong> Exdenting???-tablet 5px	phone 5px</li>
	<li><strong>.exdent-md:</strong> Exdenting???-tablet 10px	phone 5px </li>
	<li><strong>.exdent-lg:</strong> Exdenting???-tablet 20px	phone 10px </li>
	</ul>
	<div class="ibm-container ibm-graphic-tabs ibm-dyntabs">
		<div class="ibm-container-body">
			<div id="result-color" class="ibm-tabs-content">
				Need idea to incorporate all the examples
			</div>
			<div id="html-color" class="ibm-tabs-content">
				<pre class="brush:html;">
				Need idea to incorporate all code examples
				</pre>
			</div>
		</div>
	</div>
</div>

<h2><a class="ibm-show-hide-link" href="#">HTML update added on elements (Mandatory)</a></h2>
<div class="ibm-container-body">
						HTML update was done to make the code more flexible and structured
						<ul><li><strong>Leadspace:</strong> Having the leadspace based on a five or six column grid makes it easier to place elements in the leadspace (e.g. Contact us, to the right) versus how leadspace space was controlled previously. The body and leadspace space can now be controlled in the same way, using the same techniques.    
		</li></ul>
		<div class="ibm-container">
					<img  alt="" src="assets/codeExampleImg/leadspace.jpg" class="ibm-resize"/>

					<pre class="brush:html;">
					&lt;div id=&quot;ibm-leadspace-head&quot; class=&quot;ibm-alternate ibm-no-tabs&quot;&gt;
					&lt;div id=&quot;ibm-leadspace-body&quot;&gt;
					&lt;div class=&quot;ibm-columns&quot;&gt;
					&lt;div class=&quot;ibm-col-1-1&quot;&gt;
					&lt;h1&gt;Single line title &lt;/h1&gt;
					&lt;p&gt;&lt;em&gt;&lt;span&gt;Subtitle text header.&lt;/span&gt; This is the body copy below the subtitle text.&lt;/em&gt;&lt;/p&gt;
					&lt;/div&gt;
					&lt;/div&gt;
					&lt;/div&gt;
					&lt;/div&gt;
					</pre>

		</div>

</div>
</div>

<!-- End of base container -->

</div>
</div>




</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation"></div>
<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content">
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
</div>
<!--! FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>