<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<!-- 
	NOTE:
	This file is the master landing page template.
	All comments starting with NOTE can also be removed!
 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!--
<meta name="viewport" content="width=device-width"/>
-->

		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->
<!--! PageTitle -->	
<title>IBM v17e Typographic Scale</title>
<link href="../css/ww.css" rel="stylesheet" title="www" type="text/css" />
<link href="//1.www.s81c.com/common/v17e/css/social.css" rel="stylesheet" title="www" type="text/css" />
<link href="//1.www.s81c.com/common/v17e/css/data.css" rel="stylesheet" title="www" type="text/css" />
<link href="//1.www.s81c.com/common/v17e/css/module.css" rel="stylesheet" title="www" type="text/css" />
<link href="../css/documentation.css" rel="stylesheet" title="www" type="text/css" />
<script src="../js/ww.js" type="text/javascript"></script>
<script src="//1.www.s81c.com/common/v17e/js/ww.js" type="text/javascript">//</script>
<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shCore.js"></script>
	<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="../templates/template_elements/code-highlighter/sh/scripts/shBrushXml.js"></script>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
<style>

/* LEADSPACE STYLES */

/* Leadspace foreground */
#ibm-leadspace-head #ibm-leadspace-body {
	background: url(assets/bg-front.gif) no-repeat 100% 50%;
}

/* Leadspace background */
#ibm-leadspace-head.ibm-alternate-background {
	background: url(assets/bg-back.png);}

/* END LEADSPACE STYLES */

</style>

</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page">

<!--! MASTHEAD_BEGIN -->
<div id="ibm-masthead">
<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<div id="ibm-search-module">
<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
<p>
<label for="q">
<span class="ibm-access">Search</span>
</label>
<input id="q" value="" maxlength="100" name="q" type="text"/>
<input name="v" type="hidden" value="17"/>
<input type="hidden" name="en" value="utf"/>
<input name="lang" type="hidden" value="en"/>
<input name="cc" type="hidden" value="us"/>
<input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->
<!--! LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<div class="ibm-columns">
<div class="ibm-col-1-1">
<h1 class="text-wemb">Experience First</h1>
<p><em><span>v17e Primer site</span> What you need to know to get started with the v17e design system</em></p>
</div>
</div>
</div>
</div>
<!-- LEADSPACE_END -->


<!--! CONTENT_NAV_BEGIN -->
<div id="ibm-content-nav">

<div id="ibm-primary-tabs">
<ul class="ibm-tabs">
	<li><a href="index.html">v17e Overview</a></li>
	<li><a href="layouts.html">Page Layouts</a></li>
	<li class="ibm-active"><a href="patterns.html">Design Patterns</a></li>
	<li><a href="list_of_codeUpdate.html">Getting Started</a></li>
	<li><a href="upcoming.html">Upcoming Patterns</a></li>
</ul>
</div>

</div>



<!-- CONTENT_NAV_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- TITLE_BEGIN -->
<div id="ibm-content-head">
</div>
<!-- TITLE_END -->
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">


<!--! COLUMN VARIATIONS START -->
<div class="ibm-band">
<div class="ibm-columns">
<div class="ibm-col-1-1">
	<h2 class="section-header center">Centered section header</h2>
	<h2 class="section-header large center">These are section-headers to define ibm-band</h2>
	<h2 class="section-header large">Section header large</h2>
	<h2 class="section-header">Default section header</h2>
	<p class="section-header small">Section header small</p>
</div>
</div>
</div>

<div class="ibm-columns">
<div class="ibm-col-1-1">

<!-- col 1 1 -->

<h2 class="section-header center">Col 1-1</h2>
<h2 class="section-header large center">Column size variations</h2>
<div class="ibm-columns">
	<div class="ibm-col-1-1 large">
		<h3>Large</h3>
		<p>Apply "large" class to ibm-col-1-1, or any other column variation, to change the font size of all text contained in the column. This applies to all headers and paragraphs.</p>
			<pre class="brush: html;">
			&lt;div class=&quot;ibm-columns&quot;&gt;
			&lt;div class=&quot;ibm-col-1-1 large&quot;&gt;</pre>
	</div>
</div>
</div>
</div>

<div class="ibm-columns">

	<div class="ibm-col-1-1">
		<h3>Default</h3>
		<p>Do not apply an additional class to ibm-col-1-1, or any other column variation, to keep the default font size of all text contained in the column. This retains font size of all headers and paragraphs.</p>
			<pre class="brush: html;">
			&lt;div class=&quot;ibm-columns&quot;&gt;
			&lt;div class=&quot;ibm-col-1-1&quot;&gt;</pre>
	</div>

</div>

<div class="ibm-columns">
	<div class="ibm-col-1-1 small">
	<h3>Small</h3>
		<p>Apply "small" class to ibm-col-1-1, or any other column variation, to change the font size of all text contained in the column. This applies to all headers and paragraphs.</p>
			<pre class="brush: html;">
			&lt;div class=&quot;ibm-columns&quot;&gt;
			&lt;div class=&quot;ibm-col-1-1 small&quot;&gt;</pre>
	</div>

</div>
<!-- col 1 1 -->

<div class="ibm-rule"><hr /></div>

<!-- col 1 1 -->
<div class="ibm-columns">
	<div class="ibm-col-1-1">
<h2 class="section-header center">Col 1-1</h2>
<h2 class="section-header large center">Header size variations</h2>



		<h3 class="larger">Larger Header</h3>

		<p>Apply "larger" class to h1, h2, or h3 tags to change only the header size.</p>
			<pre class="brush: html;">
			&lt;h3 class=&quot;larger&quot;&gt;</pre>
	</div>

</div>

<div class="ibm-columns">

	<div class="ibm-col-1-1">
		<h2 class="large">Large Header</h2>
		<p>Apply "large" class to h1, h2, or h3 tags to change only the header size.</p>
			<pre class="brush: html;">
			&lt;h2 class=&quot;large&quot;&gt;</pre>
	</div>

</div>

<div class="ibm-columns">
	<div class="ibm-col-1-1">
	<h3>Default Header</h3>
		<p>Do not apply an additional class to h1, h2, or h3 tags to retain the default header size.</p>
			<pre class="brush: html;">
			&lt;h3&gt;</pre>
	</div>

</div>

<!-- col 1 1 -->

<div class="ibm-rule"><hr /></div>

<!-- col 6 5 -->
<h2 class="section-header center">Col 6-5</h2>
<div class="ibm-columns">

	<div class="ibm-col-6-5 large">
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle.</p>
	</div>

</div>

<div class="ibm-columns">

	<div class="ibm-col-6-5">
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>
	</div>

</div>

<div class="ibm-columns">

	<div class="ibm-col-6-5 small">
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>
	</div>

</div>
<!-- col 6 5 -->

<div class="ibm-rule"><hr /></div>




<!-- col 5 4 -->
<h2 class="section-header center">Col 5-4</h2>
<div class="ibm-columns">

	<div class="ibm-col-5-4 large">
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis.</p>
	</div>

</div>

<div class="ibm-columns">

	<div class="ibm-col-5-4">
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst.</p>
	</div>

</div>

<div class="ibm-columns">

	<div class="ibm-col-5-4 small">
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle.</p>
	</div>

</div>
<!-- col 5 4 -->

<div class="ibm-rule"><hr /></div>




<!-- col 4 3 -->
<h2 class="section-header center">Col 4-3</h2>
<div class="ibm-columns">

	<div class="ibm-col-4-3 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>

	<div class="ibm-col-4-1 large">
		<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle.</p>
	</div>
</div>

<div class="ibm-columns">

	<div class="ibm-col-4-3">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>
	<div class="ibm-col-4-1">
		<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down.</p>
	</div>

</div>

<div class="ibm-columns">

	<div class="ibm-col-4-3 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>
	<div class="ibm-col-4-1 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor..</p>
	</div>

</div>
<!-- col 4 3 -->

<div class="ibm-rule"><hr /></div>


<!-- col 6 4 -->
<h2 class="section-header center">Col 6-4</h2>
<div class="ibm-columns">

	<div class="ibm-col-6-4 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>
	<div class="ibm-col-6-2">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis.</p>
	</div>
</div>

<div class="ibm-columns">

	<div class="ibm-col-6-4">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>
		<div class="ibm-col-6-2">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow.</p>
	</div>

</div>

<div class="ibm-columns">

	<div class="ibm-col-6-4 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>
		<div class="ibm-col-6-2 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis.</p>
	</div>

</div>
<!-- col 6 4 -->

<div class="ibm-rule"><hr /></div>



<!-- col 5 3 -->
<h2 class="section-header center">Col 5-3</h2>
<div class="ibm-columns">

	<div class="ibm-col-5-3 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy.</p>
	</div>
	
	<div class="ibm-col-5-2">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. </p>
	</div>


</div>

<div class="ibm-columns">

	<div class="ibm-col-5-3">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy.</p>
	</div>
	<div class="ibm-col-5-2">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. </p>
	</div>


</div>

<div class="ibm-columns">

	<div class="ibm-col-5-3 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up.</p>
	</div>
	<div class="ibm-col-5-2 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. </p>
	</div>


</div>
<!-- col 5 3 -->

<div class="ibm-rule"><hr /></div>




<!-- col 4 2 -->
<h2 class="section-header center">Col 4-2</h2>
<div class="ibm-columns">

	<div class="ibm-col-4-2 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.</p>
	</div>
	<div class="ibm-col-4-2 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle.</p>
	</div>
</div>

<div class="ibm-columns">

	<div class="ibm-col-4-2">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst.</p>
	</div>

	<div class="ibm-col-4-2 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst.</p>
	</div>
	
</div>

<!-- col 4 2 -->

<div class="ibm-rule"><hr /></div>



<!-- col 5 2 -->
<h2 class="section-header center">Col 5-2</h2>
<div class="ibm-columns">

	<div class="ibm-col-5-2 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis.</p>
	</div>
	
	<div class="ibm-col-5-2">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. </p>
	</div>

</div>



<div class="ibm-columns">

	<div class="ibm-col-5-2 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis.</p>
	</div>
	
	<div class="ibm-col-5-2 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis.</p>
	</div>

</div>
<!-- col 5 2 -->

<div class="ibm-rule"><hr /></div>



<!-- col 6 2 -->
<h2 class="section-header center">Col 6-2</h2>
<div class="ibm-columns">

	<div class="ibm-col-6-2 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. </p><p>Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>
	
	<div class="ibm-col-6-2 ">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. </p><p>Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>	

	<div class="ibm-col-6-2 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. </p><p>Pellentesque bow wow wow rhoncizzle you son of a bizzle. Fo shizzle doggy habitasse mah nizzle dictumst. Dope dapibizzle. I'm in the shizzle tellizzle doggy, ma nizzle boofron, shut the shizzle up ac, break it down vitae, nunc. Tellivizzle suscipit. Integizzle sempizzle bling bling sizzle dizzle.</p>
	</div>	
	

</div>

<!-- end col 6 2 -->

<div class="ibm-rule"><hr /></div>



<!-- col 4 1 -->
<h2 class="section-header center">Col 4-1</h2>
<div class="ibm-columns">

	<div class="ibm-col-4-1 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. </p><p> Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>
	</div>
	
		<div class="ibm-col-4-1">
		<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. </p><p>Get down get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>
	</div>
	<div class="ibm-col-4-1 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle. Pellentesque eget tortor. Sizzle erizzle. Get down get down at cool dapibus turpis tempizzle bow wow wow. </p><p>Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>
	</div>
</div>

<!-- col 4 1 -->

<div class="ibm-rule"><hr /></div>



<!-- col 5 1 -->
<h2 class="section-header center">Col 5-1</h2>
<div class="ibm-columns">

	<div class="ibm-col-5-1 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle.</p><p>Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>
	</div>
	
	<div class="ibm-col-5-1">
	<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle.</p><p>Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>	
	</div>
	<div class="ibm-col-5-1 small">
	<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack volutpizzle, bling bling check out this, gravida vel, fizzle.</p><p>Maurizzle owned nibh crunk turpis. Cool izzle tortizzle. Pellentesque bow wow wow rhoncizzle you son of a bizzle. </p>
	</div>
</div>

<!-- col 5 1 -->

<div class="ibm-rule"><hr /></div>


<!-- col 6 1 -->
<h2 class="section-header center">Col 6-1</h2>
<div class="ibm-columns">

	<div class="ibm-col-6-1 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack</p><p>Get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh turpis. </p>
	</div>
	<div class="ibm-col-6-1 large">
	<h3>Large</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack</p><p>Get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh turpis. </p>
	</div>
	
	<div class="ibm-col-6-1">
		<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack</p><p>Get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh turpis. </p>
	</div>	

	<div class="ibm-col-6-1">
		<h3>Default</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack</p><p>Get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh turpis. </p>
	</div>	
	
	<div class="ibm-col-6-1 small">
		<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack</p><p>Get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. </p>
	</div>

		
	<div class="ibm-col-6-1 small">
		<h3>Small</h3>
		<p>Lorizzle ipsizzle dolor sit amizzle, dang adipiscing crackalackin. Nullam sapien velizzle, boom shackalack</p><p>Get down at cool dapibus turpis tempizzle bow wow wow. Maurizzle owned nibh crunk turpis. </p>
</div>
</div>



<!-- col 6 1 -->


<!-- COLUMN VARIATIONS END -->


</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation"></div>
<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content">
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
</div>
<!--! FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>