<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<!-- 
	NOTE:
	This file is the master landing page template.
	All comments starting with NOTE can also be removed!
 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->
<!--! PageTitle -->	
<title>IBM v17e Banded Template - Layout Test</title>
<!--<link href="http://1.www.s81c.com/common/v17e/css/ww.css" rel="stylesheet" title="www" type="text/css" />-->
<link href="../css/ww.css" rel="stylesheet" title="www" type="text/css" />

<script src="../js/ww.js" type="text/javascript"></script>

<style type="text/css">
	
.emboss {
	text-shadow:0px 1px 0px rgba(255,255,255,.95) ;
}

#ibm-leadspace-head.ibm-alternate-background {
    background: url("assets/bg-back.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#ibm-leadspace-head #ibm-leadspace-body {
    background: url("assets/bg-front.gif") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
}
.what-is-v17e {background: url(assets/bg-shad-right-half.png) no-repeat center 90%;}
.fade-up-sharp {background: url(assets/gradient-bg-a.png) repeat-x center 100%;}
.fade-up {background: url(assets/gradient-bg-b.png) repeat-x center 100%;}
.fade-down {background: url(assets/bg-shad-right-half.png) repeat-x center 100%;}
.shad-med {background: url(assets/shad-curve-bottom-med.png) no-repeat center 100%;}
.shad-wide {background: url(assets/shad-curve-wide.png) no-repeat center bottom;}
	
</style>


</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page">

<!--! MASTHEAD_BEGIN -->
<div id="ibm-masthead">
<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<div id="ibm-search-module">
<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
<p>
<label for="q">
<span class="ibm-access">Search</span>
</label>
<input id="q" value="" maxlength="100" name="q" type="text"/>
<input name="v" type="hidden" value="17"/>
<input type="hidden" name="en" value="utf"/>
<input name="lang" type="hidden" value="en"/>
<input name="cc" type="hidden" value="us"/>
<input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->
<!--! LEADSPACE_BEGIN -->

<div id="ibm-leadspace-head" class="ibm-alternate-background emboss"> 
<div id="ibm-leadspace-body">
<div class="ibm-columns">
<div class="ibm-col-6-3">
<h1>Experience First</h1>
<p class="ibm-no-mobile"><em><span>v17e Primer site</span> What you need to know to get started with the v17e design system</em></p>
</div>
</div>
</div>
</div>

<!-- LEADSPACE_END -->



<!--! CONTENT_NAV_BEGIN -->
<div id="ibm-content-nav">

<div id="ibm-primary-tabs">
<ul class="ibm-tabs">
	<li><a href="index.html">Overview</a></li>
	<li><a href="layouts.html">Layouts</a></li>
	<li class="ibm-active"><a href="patterns.html">Design Patterns</a></li>
	<li><a href="list_of_codeUpdate.html">Getting Started</a></li>
	<li><a href="upcoming.html">Upcoming Patterns</a></li>
</ul>
</div>

</div>


<!-- CONTENT_NAV_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- TITLE_BEGIN -->
<div id="ibm-content-head">
</div>
<!-- TITLE_END -->
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">

<!--! COLUMN VARIATIONS START -->


<!-- 6 2-2-2 grid end-->



<div class="ibm-band bg-white">
    <div class="ibm-columns">
        <h2><strong>Design Patterns</strong></h2>
        <div class="ibm-col-4-4" style="margin-bottom: 50px">
        	<div class="ibm-columns">
        		<div class="ibm-col-4-1">
					<h3>Layouts</h3>
					<ul class="ibm-link-list">
						<li><a class="ibm-forward-link" href="../templates/basic_layout_1.html">Basic Layout 1</a></li>
						<li><a class="ibm-forward-link" href="../templates/basic_layout_2_tabs.html">Basic Layout 2 Tabs</a></li>
						<li><a class="ibm-forward-link" href="../templates/basic_layout_3.html">Basic Layout 3</a></li>
					</ul>
				</div>		
						
				<div class="ibm-col-4-1">
					<h3>Template Grids</h3>
						<ul class="ibm-link-list">
							<li><a class="ibm-forward-link" href="../templates/_template_grid_tables.html">Template Grid Tables</a></li>
							<li><a class="ibm-forward-link" href="../templates/_template_grid.html">Template Grid</a></li>
							<li><a class="ibm-forward-link" href="../templates/_template_leftnav_tables.html">Template Leftnav Table</a></li>
						</ul>
				</div>		
				<div class="ibm-col-4-1">
					<h3>Forms</h3>
						<ul class="ibm-link-list">
							<li><a class="ibm-forward-link" href="../templates/template_elements/form_error_option.html">Form Error Option</a></li>
							<li><a class="ibm-forward-link" href="../templates/template_elements/forms_icons.html">Form Information Icon</a></li>
							<li><a class="ibm-forward-link" href="../templates/template_elements/forms_datepicker.html">Forms Datepicker</a></li>
						</ul>
				</div>		
				<div class="ibm-col-4-1">
					<h3>Typography</h3>
						<ul class="ibm-link-list">
							<li><a class="ibm-forward-link" href="paragraph-test.html">Paragraph</a></li>
							<li><a class="ibm-forward-link" href="../templates/template_elements/pullquote.html">Pullquote</a></li>
							<li><a class="ibm-forward-link" href="../templates/spacing.html">Spacing</a></li>
							<li><a class="ibm-forward-link" href="../templates/template_elements/legal_text.html">Legal Text</a></li>
							
						</ul>
				</div>
        	</div>
        </div>
		
        <div class="ibm-col-4-4" style="margin-bottom: 50px">
        	<div class="ibm-columns">
        		<div class="ibm-col-4-1">
			<h3>Leadspaces</h3>
				<ul class="ibm-link-list">
					<li><a class="ibm-forward-link" href="../templates/template_elements/leadspaces-5col-4col.html">Leadspaces 5col 4col</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/leadspaces-dark.html">Leadspaces Dark</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/leadspaces.html">Leadspaces</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/multi_leafed_leadspace_withouttab.html">Multi-leaf w/o tab</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/multi_leafed_leadspacewithouttab_alternate.html">Multi-leaf w/o alt tab</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/multi_leafed_leadspacewithtabs.html">Multi-leaf leadspace w/ tabs</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/multi_leafed_leadspacewithtabs_alternate.html">Multi-leaf w/ alt tabs</a></li>
				</ul>
		</div>	
							
	<div class="ibm-col-4-1">
		<h3>Navigation</h3>
			<ul class="ibm-link-list">
				<li><a class="ibm-forward-link" href="../templates/template_elements/masthead_application_www.html">Masthead Application www</a></li>
				<li><a class="ibm-forward-link" href="../templates/template_elements/masthead_minimized_www.html">Masthead Minimized www</a></li>
				<li><a class="ibm-forward-link" href="../templates/template_elements/subtabs_system/ww/index.html">Subtab Menu Lists</a></li>
				<li><a class="ibm-forward-link" href="../templates/template_elements/subtabs_system/ww/exposedmenu.html?subtabs=open">Subtab Exposed Menu Lists</a></li>
				<li><a class="ibm-forward-link" href="../templates/template_elements/subtabs_system/ww/subtabheaders.html">Subtab Menu w/ Headers</a></li>
				<li><a class="ibm-forward-link" href="../templates/template_elements/subtabs_system/ww/dropdown.html">Subtab Dropdown Menus</a></li>
				<li><a class="ibm-forward-link" href="../templates/template_elements/subtabs_system/ww/default.html">Default Subtabs</a></li>
				<li><a class="ibm-forward-link" href="../primer/menu.html">Mobile Menu</a></li>
				<li><a class="ibm-forward-link" href="../templates/template_elements/text_tabs.html">Inline Nav, Text Tabs</a></li>
			</ul>
	</div>	
	
					
		<div class="ibm-col-4-1">
			<h3>Social Media</h3>
				<ul class="ibm-link-list">
					<li><a class="ibm-forward-link" href="../templates/social_icons.html">Social Icons</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/twitter.html">Twitter</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/videos.html">Videos</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/www-rm-snippets.html">Media(RMS) Snippets</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/youtube-snippets.html">Youtube Snippets</a></li>
					<li><a class="ibm-forward-link" href="../templates/pop_up.html">Pop Up</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/overlay.html">Overlay</a></li>
				</ul>
		</div>		
			
				
		<div class="ibm-col-4-1">
			<h3>Elements</h3>
				<ul class="ibm-link-list">
					<li><a class="ibm-forward-link" href="../templates/template_elements/article_list_en.html">Article List</a></li>					
					<li><a class="ibm-forward-link" href="../templates/template_elements/button_links.html">Button Links</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/button_links_small.html">Button Links Small</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/icons_combo.html">Icons Combo</a></li>
					<li><a class="ibm-forward-link" href="../i/v17e/icons/fontcustom/fontcustom-preview.html">Icons List</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/ribbon.html">Ribbon</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/scroll.html">Scroll</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/auto_scroll.html">Auto Scroll Ribbon</a></li>
					<li><a class="ibm-forward-link" href="../templates/cards.html">Cards</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/twisty_col_grid.html">Twisty</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/data_table.html">Data Table</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/data_table_vertical_divider.html">Data Table w/ Vertical Divider</a></li>
					

				</ul>
			</div>			
			</div>
			</div>		
    </div>						
   </div>
   <div class="ibm-band" style="background-color: rgba(0,0,0,0.03);">
	<div class="ibm-columns">
		<div class="ibm-col-4-1">
			<h3>Deprecated</h3>
				<ul class="ibm-link-list">
					<li><a class="ibm-forward-link" href="../templates/template_elements/share_tool_16x16.html">Share tool 16x16</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/share_tool_24x24.html">Share tool 24x24</a></li>
					<li><a class="ibm-forward-link" href="../templates/template_elements/share_tool_32x32.html">Share tool 32x32</a></li>
					<li><a class="ibm-forward-link" href="../templates/_snippets_content-expand.html">Snippets Content Expand</a></li>
					<li><a class="ibm-forward-link" href="../templates/_snippets.html">Snippets</a></li>
				</ul>
		</div>
	</div>
	</div>
</div>

</div>

				
<!--
<div class="ibm-band">
<div class="ibm-columns">
	<div class="ibm-col-4-1">
		<h2>Core Elements</h2>
		<ul class="ibm-link-list">
			<li><a class="ibm-forward-link" href="#">Color Palette </a></li>
			<li><a class="ibm-forward-link" href="#">Fonts</a></li>
			<li><a class="ibm-forward-link" href="#">Icons, bullets & buttons</a></li>
			<li><a class="ibm-forward-link" href="#">Shadow Effects</a></li>
			<li><a class="ibm-forward-link" href="#">Images & thumbnails</a></li>
			<li><a class="ibm-forward-link" href="#">Grids</a></li>
			<li><a class="ibm-forward-link" href="#">Rules and dividers</a></li>
		</ul>
	</div>
	
	<div class="ibm-col-4-1">
		<h2>Modules & Components</h2>	
		<ul class="ibm-link-list">
			<li><a class="ibm-forward-link" href="#">Leadspace</a></li>
			<li><a class="ibm-forward-link" href="#">Feature Modules</a></li>
			<li><a class="ibm-forward-link" href="#">Carousels</a></li>
			<li><a class="ibm-forward-link" href="#">Thumbnail lists</a></li>
			<li><a class="ibm-forward-link" href="#">Card modules</a></li>
			<li><a class="ibm-forward-link" href="#">Contact</a></li>
			<li><a class="ibm-forward-link" href="#">Social</a></li>
		</ul>
	</div>
	
	
	<div class="ibm-col-4-1">
		<h2>Navigation</h2>
		<ul class="ibm-link-list">
			<li><a class="ibm-forward-link" href="#">Primary Navigation</a></li>
			<li><a class="ibm-forward-link" href="#">Sub Navigation</a></li>
			<li><a class="ibm-forward-link" href="#">Inline Navigation</a></li>
			<li><a class="ibm-forward-link" href="#">Filtering controls</a></li>
			<li><a class="ibm-forward-link" href="../templates/template_elements/pagination_new.html">Pagination</a></li>
			<li><a class="ibm-forward-link" href="#">Overlays</a></li>
			<li><a class="ibm-forward-link" href="#">Dropdowns</a></li>
		</ul>
	</div>
	
	<div class="ibm-col-4-1">
		<h2>Layouts</h2>
		<ul class="ibm-link-list">
			<li><a class="ibm-forward-link" href="#">Features & Benefits</a></li>
			<li><a class="ibm-forward-link" href="#">Articles</a></li>
			<li><a class="ibm-forward-link" href="#">Results</a></li>
			<li><a class="ibm-forward-link" href="#">Index Directories</a></li>

		</ul>
	</div>
</div>
</div> 
<div class="ibm-band">
	<div class="ibm-columns">
		<div class="ibm-col-4-1">
			<ul class="ibm-link-list">
				
			</ul>
		</div>
	</div>
</div>
-->

<!--! 4 2-2 grid 

<div class="ibm-band">

<div class="ibm-columns">
<p><strong>4-2 grid</strong></p>
<div class="ibm-w-gutter">
	<div class="ibm-col-4-2">
		<h2>Lorem ipsum: ibm-col-4-2</h2>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.
		ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.
		</p>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet. ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.
		</p>
	</div>
	
	<div class="ibm-col-4-2">
		<div style="position: relative"><img src="../i/fpo/img-450px-fpo.png" alt="" style="position: absolute; top: -80px;" /></div>
	</div>

</div>
</div>
</div>
4 2-2 grid end-->









<!-- COLUMN VARIATIONS END -->


</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation"></div>
<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content">
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
</div>
<!--! FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>