<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<!-- 
	NOTE:
	This file is the master landing page template.
	All comments starting with NOTE can also be removed!
 -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Add meta tag to consistently detect the width on an iPad at 768px -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
		<link rel="SHORTCUT ICON" href="http://www.ibm.com/favicon.ico"/>
		<meta name="DC.Rights" content="© Copyright IBM Corp. 2011"/>
		<meta name="Keywords" content="REPLACE"/>
		<meta name="DC.Date" scheme="iso8601" content="2012-09-19"/>
		<meta name="Source" content="v17 template generator, template 17.02 delivery:IBM  authoring:IBM"/> <!-- Kindly change the values for "delivery" and "authoring" as per what is appropriate.  -->
		<meta name="Security" content="Public"/>
		<meta name="Abstract" content="REPLACE"/>
		<meta name="IBM.Effective" scheme="W3CDTF" content="2012-09-19"/>
		<meta name="DC.Subject" scheme="IBM_SubjectTaxonomy" content="REPLACE"/>
		<meta name="Owner" content="Replace"/>
		<meta name="DC.Language" scheme="rfc1766" content="en"/>
		<meta name="IBM.Country" content="ZZ"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="DC.Type" scheme="IBM_ContentClassTaxonomy" content="REPLACE"/>
		<meta name="Description" content="REPLACE"/>

		<!-- Please ensure appropriate meta tag values are aligned with the standards -->
<!--! PageTitle -->	
<title>IBM v17e Upcoming Patterns</title>

<link href="../css/ww.css" rel="stylesheet" title="www" type="text/css" />

<script src="../js/ww.js" type="text/javascript"></script>

<script type="text/javascript">

// Dropdown select function
jQuery(function() {
	function filterList(sortVal){
	jQuery('dt, dd').css('display','none')
 		if(sortVal == 'all') {
 		jQuery('dt').css('display','block')
 		}
 		else {
 		jQuery('dt[data-sort*="' + sortVal + '"]').css('display', 'block')
 		}
	};
jQuery('.ibm-menu-list#ibm-sort select').change(function () {
 	filterList(this.value);
 	});
 
</script>

<style type="text/css">

/* LEADSPACE STYLES */

/* Leadspace foreground */
#ibm-leadspace-head #ibm-leadspace-body {
	background: url(assets/bg-front.gif) no-repeat 100% 50%;
}

/* Leadspace background */
#ibm-leadspace-head.ibm-alternate-background {
	background: url(assets/bg-back.png);}

/* END LEADSPACE STYLES */


/* SECTION STYLES */
.what-is-v17e {background: url(assets/bg-shad-right-half.png) no-repeat center 90%;}
#deisa {background: url(assets/fpo/DEISA-Supercomputer.jpg) no-repeat center 50%; background-size:cover; height:600px; position: relative;}
.position-bottom {position: absolute; bottom: 0 }

.fade-up-sharp {background: url(assets/gradient-bg-a.png) repeat-x center 100%;}
.fade-up {background: url(assets/gradient-bg-b.png) repeat-x center 100%;}
.fade-down {background: url(assets/bg-shad-right-half.png) repeat-x center 100%;}
.shad-med {background: url(assets/shad-curve-bottom-med.png) no-repeat center 100%;}
.shad-wide {background: url(assets/shad-curve-wide.png) no-repeat center bottom;}



/* SECTION STYLES */


</style>


</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page">

<!--! MASTHEAD_BEGIN -->
<div id="ibm-masthead">
<div id="ibm-mast-options"><ul>
<li id="ibm-geo"><a href="http://www.ibm.com/planetwide/select/selector.html"><span class="ibm-access">Select a country/region: </span>United States</a></li>
</ul></div>
<div id="ibm-universal-nav">
<ul id="ibm-unav-links">
<li id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></li>
</ul>
<ul id="ibm-menu-links">
<li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
</ul>
<div id="ibm-search-module">
<form method="get" action="http://www.ibm.com/Search/" id="ibm-search-form">
<p>
<label for="q">
<span class="ibm-access">Search</span>
</label>
<input id="q" value="" maxlength="100" name="q" type="text"/>
<input name="v" type="hidden" value="17"/>
<input type="hidden" name="en" value="utf"/>
<input name="lang" type="hidden" value="en"/>
<input name="cc" type="hidden" value="us"/>
<input value="Submit" class="ibm-btn-search" id="ibm-search" type="submit"/>
</p>
</form>
</div>
</div>
</div>
<!-- MASTHEAD_END -->

<!--! LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background"> 
<div id="ibm-leadspace-body">
<div class="ibm-columns">
<div class="ibm-col-6-3">
<h1>Experience First</h1>
<p class="ibm-no-mobile"><em><span>v17e Primer site</span> What you need to know to get started with the v17e design system</em></p>
</div>
</div>
</div>
</div>

<!-- LEADSPACE_END -->


<!--! CONTENT_NAV_BEGIN -->
<div id="ibm-content-nav">

<div id="ibm-primary-tabs">
<ul class="ibm-tabs">
	<li><a href="index.html">Overview</a></li>
	<li><a href="layouts.html">Layouts</a></li>
	<li><a href="patterns.html">Design Patterns</a></li>
	<li><a href="list_of_codeUpdate.html">Getting Started</a></li>
	<li class="ibm-active"><a href="upcoming.html">Upcoming Patterns</a></li>
</ul>
</div>

</div>



<!-- CONTENT_NAV_END -->

<div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- TITLE_BEGIN -->
<div id="ibm-content-head">
</div>
<!-- TITLE_END -->
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
<div id="ibm-content-main">

<!--! COLUMN VARIATIONS START -->



<!--!  Patterns Begin -->
<div class="ibm-band">
	<div class="ibm-columns">
		<div class="ibm-col-1-1">
			<h2 class="section-header large">View patterns by:</h2>
			<div class="ibm-columns">
				<div class="ibm-col-5-2">
					<form class="ibm-menu-list" action="http://www.ibm.com/links" id="ibm-sort">
						<div><select>
						<option value="All">All</option>
						<option value="Filter">Filter</option>
						<option value="Navigation">Navigation</option>
						<option value="Mobile">Mobile</option>
						</select></div>
					</form>
				</div>
				<div class="ibm-col-5-2">
					<form class="ibm-menu-list" action="http://www.ibm.com/links" id="ibm-sort">
						<div><select>
						<option value="New">New</option>
						<option value="Upcoming">Upcoming</option>
						<option value="Implemented">Implemented</option>
						</select></div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="ibm-columns ibm-sortable">
		<div class="ibm-col-6-2 ibm-card all platform ddn_build">
			<div class="ibm-inner-margin">
			<p class="ibm-category">Navigation</p>
			<a class="ibm-media" href="patterns/contact.html"><img src="../i/v17e/icons/ldr-repcall.svg" class="ibm-resize" /></a>
			<h3><a href="patterns/contact.html">Contact Module</a></h3>
			<p class="ibm-description">Contact Module anchors to bottom</p>
			</div>
		</div>
		<div class="ibm-col-6-2 ibm-card all platform ddn_build">
			<div class="ibm-inner-margin">
			<p class="ibm-category">Navigation</p>
			<a class="ibm-media" href="#"><img src="../i/v17e/icons/tog-list.svg" class="ibm-resize" />
			</a>
			<h3><a href="#">Sticky Navigation</a></h3>
			<p class="ibm-description">Secondary tab sticky filter option</p>
			</div>
		</div>
		<div class="ibm-col-6-2 ibm-card all platform ddn_build">
			<div class="ibm-inner-margin">
			<p class="ibm-category">Navigation</p>
			<a class="ibm-media" href="patterns/infinite.html"><img src="assets/thm-infinite-scroll1.gif" class="ibm-resize" />
			</a>
			<h3><a href="patterns/infinite.html">Infinite Scroll</a></h3>
			<p class="ibm-description">Ability to have infinite scroll</p>
			</div>
		</div>
		<div class="ibm-col-6-2 ibm-card all platform ddn_build">
			<div class="ibm-inner-margin">
			<p class="ibm-category">Filter</p>
			<a class="ibm-media" href="#"><img src="../i/v17e/icons/ldr-repcall.svg" class="ibm-resize" />
			</a>
			<h3><a href="#">Lozenge Tags</a></h3>
			<p class="ibm-description">Contact Module anchors to bottom</p>
			</div>
		</div>
		<div class="ibm-col-6-2 ibm-card all platform ddn_build">
			<div class="ibm-inner-margin">
			<p class="ibm-category">Navigation</p>
			<a class="ibm-media" href="patterns/inline.html"><img src="assets/thm-tabs-inline.gif" class="ibm-resize" />
			</a>
			<h3><a href="patterns/inline.html">Adaptive Inline Tabs</a></h3>
			<p class="ibm-description">New inline tab designs for mobile and desktop</p>
			</div>
		</div>

	</div>
</div>


<!-- COLUMN VARIATIONS END -->


</div>
<!-- FEATURES_BEGIN -->
<div id="ibm-content-sidebar">
<div id="ibm-contact-module">
<!--IBM Contact Module-->
</div>
</div>
<!-- FEATURES_END -->
<!-- CONTENT_BODY_END -->
</div>
</div>
<!-- CONTENT_END -->
<!-- NAVIGATION_BEGIN -->
<div id="ibm-navigation"></div>
<!-- NAVIGATION_END -->
</div>
<div id="ibm-related-content">
<div id="ibm-merchandising-module">
<!--IBM Web Merchandising Module-->
</div>
</div>
<!--! FOOTER_BEGIN -->
<div id="ibm-footer-module"></div>
<div id="ibm-footer">
<h2 class="ibm-access">Footer links</h2>
<ul>
<li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
<li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
<li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
<li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
</ul>
</div>
<!-- FOOTER_END -->
</div>
<div id="ibm-metrics">
<script src="//www.ibm.com/common/stats/stats.js" type="text/javascript">//</script>
</div>
</body>
</html>